
.small-xl {
  font-size: 90%; }

p a, .border-link {
  box-shadow: inset 0 -1px 0 0 #aa00ff;
  transition: all .25s ease-out; }
  p a:hover, .border-link:hover {
    box-shadow: none;
    transition: all .25s ease-out; }

.img-faded {
  opacity: .5; }

.font-weight-medium {
  font-weight: 600; }

.heading-black img {
  height:40px;
}

.rightbtn {
	color:white !important;
	background-color:#aa00ff !important;
	border-color:#aa00ff !important;
}

.rightbtn:hover {
	color:white;
	background-color:#9900ff !important;
	border-color:#9900ff !important;
}

/* Box shadow */
.btn.btn-primary {
  font-size:20px;
  padding:5px 10px;
  box-shadow: 0 8px 8px rgba(170, 0, 255, 0.05), 0 4px 4px rgba(170, 0, 255, 0.05), 0 2px 2px rgba(170, 0, 255, 0.05), 0 1px 1px rgba(170, 0, 255, 0.05);
  transition: all .2s ease-out; }
  .btn.btn-primary:hover {
    box-shadow: 0 2px 2px rgba(170, 0, 255, 0.05), 0 1px 1px rgba(170, 0, 255, 0.05); }
  .btn.btn-primary:active {
    box-shadow: none !important; }

.btn.btn-secondary {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(170, 0, 255, 0.05);
  transition: all .2s ease-out; }
  .btn.btn-secondary:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05); }
  .btn.btn-secondary:active {
    box-shadow: none !important; }

.btn.btn-success {
  box-shadow: 0 16px 16px rgba(0, 230, 118, 0.05), 0 8px 8px rgba(0, 230, 118, 0.05), 0 4px 4px rgba(0, 230, 118, 0.05), 0 2px 2px rgba(170, 0, 255, 0.05);
  transition: all .2s ease-out; }
  .btn.btn-success:hover {
    box-shadow: 0 4px 4px rgba(0, 230, 118, 0.05), 0 2px 2px rgba(0, 230, 118, 0.05); }
  .btn.btn-success:active {
    box-shadow: none !important; }

.btn.btn-info {
  box-shadow: 0 16px 16px rgba(0, 229, 255, 0.05), 0 8px 8px rgba(0, 229, 255, 0.05), 0 4px 4px rgba(0, 229, 255, 0.05), 0 2px 2px rgba(170, 0, 255, 0.05);
  transition: all .2s ease-out; }
  .btn.btn-info:hover {
    box-shadow: 0 4px 4px rgba(0, 229, 255, 0.05), 0 2px 2px rgba(0, 229, 255, 0.05); }
  .btn.btn-info:active {
    box-shadow: none !important; }

.btn.btn-warning {
  box-shadow: 0 16px 16px rgba(255, 255, 0, 0.05), 0 8px 8px rgba(255, 255, 0, 0.05), 0 4px 4px rgba(255, 255, 0, 0.05), 0 2px 2px rgba(170, 0, 255, 0.05);
  transition: all .2s ease-out; }
  .btn.btn-warning:hover {
    box-shadow: 0 4px 4px rgba(255, 255, 0, 0.05), 0 2px 2px rgba(255, 255, 0, 0.05); }
  .btn.btn-warning:active {
    box-shadow: none !important; }

.btn.btn-danger {
  box-shadow: 0 16px 16px rgba(255, 23, 68, 0.05), 0 8px 8px rgba(255, 23, 68, 0.05), 0 4px 4px rgba(255, 23, 68, 0.05), 0 2px 2px rgba(170, 0, 255, 0.05);
  transition: all .2s ease-out; }
  .btn.btn-danger:hover {
    box-shadow: 0 4px 4px rgba(255, 23, 68, 0.05), 0 2px 2px rgba(255, 23, 68, 0.05); }
  .btn.btn-danger:active {
    box-shadow: none !important; }

.btn.btn-light {
  box-shadow: 0 16px 16px rgba(248, 249, 250, 0.05), 0 8px 8px rgba(248, 249, 250, 0.05), 0 4px 4px rgba(248, 249, 250, 0.05), 0 2px 2px rgba(170, 0, 255, 0.05);
  transition: all .2s ease-out; }
  .btn.btn-light:hover {
    box-shadow: 0 4px 4px rgba(248, 249, 250, 0.05), 0 2px 2px rgba(248, 249, 250, 0.05); }
  .btn.btn-light:active {
    box-shadow: none !important; }

.btn.btn-dark {
  box-shadow: 0 16px 16px rgba(33, 37, 41, 0.05), 0 8px 8px rgba(33, 37, 41, 0.05), 0 4px 4px rgba(33, 37, 41, 0.05), 0 2px 2px rgba(170, 0, 255, 0.05);
  transition: all .2s ease-out; }
  .btn.btn-dark:hover {
    box-shadow: 0 4px 4px rgba(33, 37, 41, 0.05), 0 2px 2px rgba(33, 37, 41, 0.05); }
  .btn.btn-dark:active {
    box-shadow: none !important; }

/*Navbar*/
.navbar.navbar-transparent {
  opacity: 0.98; }

@media (max-width: 992px) {
  .navbar.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.4); } }

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase; }

.navbar .navbar-nav .nav-item {
  margin: 0 .7rem; }
  .navbar .navbar-nav .nav-item .nav-link {
    font-size:20px;
    font-weight: 600; }

.navbar-light{
  padding:10px;
}

/*smart scrolling*/
.smart-scroll {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 100%;
  transition: all .3s ease-out; }
  .smart-scroll.scrolling {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
    .smart-scroll.scrolling.up {
      border-bottom: 1px solid #f8f9fa;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      transition: all .3s ease-out; }


.banner-pic{
  margin:0 auto;
  height:100px;
}



/** gradients & dividers */
.bg-gradient {
  background-image: linear-gradient(90deg, #aa00ff 0, #00e5ff); }

.bg-gradient-alt {
  background-image: linear-gradient(90deg, #00e5ff 0, #aa00ff); }

/*vertical heights */
.vh-100 {
  height: 100vh; }

@media (min-width: 576px) {
  .vh-sm-100 {
    height: 100vh; } }

@media (min-width: 768px) {
  .vh-md-100 {
    height: 100vh; } }

.bg-hero {
  background-color: #000000;
  background-size: cover;
  background-position: center center;
  position: relative; }
  .bg-hero:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.6); }
  .bg-hero .container {
    z-index: 2;
    position: relative; }

/*features boxes*/
.feature-boxes {
  text-align: center; }
  .feature-boxes .box {
    padding: 3rem; }

/*features-list */
.features-list {
  list-style: none; }
  .features-list li {
    float: left;
    width: 50%;
    margin-top: 0;
    margin-bottom: 1.75rem;
    font-size: 1.05rem;
    padding-left:0;
    padding-right: 1.75rem;
    font-weight: 500; }
    .features-list li:before {
      position: relative;
      font-family: FontAwesome;
      font-size: 14px;
      content: "\f00c";
      color: #aa00ff;
      margin: 0 .75rem 0 0; }

/*Pricing tables*/
.pricing-table .pricing-list {
  margin-bottom: 3rem;
  margin-top: 2rem; }
  .pricing-table .pricing-list li {
    margin-bottom: 1rem;
    font-size: 1.05rem;
    font-weight: 500; }

.pricing-table .card {
  transition: all .25s ease-out;
  text-align: center; }
  .pricing-table .card .card-body {
    padding: 2.25rem 2rem; }
  .pricing-table .card.active {
    color: white;
    background-color: transparent; }
    .pricing-table .card.active h2, .pricing-table .card.active h3 {
      color: #ffffff; }

/*footer*/
footer {
  background-image: linear-gradient(180deg, #ffffff, #ebf);
}

footer ul > li {
  padding: 0.5rem 0; }

footer a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.25s ease-out; }
  footer a:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    box-shadow: inset 0 -1px 0 0 #aa00ff; }

footer h6 {
  font-size: .875rem;
  font-weight: 600;
  text-transform: uppercase; }

.fixed-bottom {position: fixed;bottom: 0;width:100%;}

/*social icons*/
.social a {
  width: 45px;
  height: 45px;
  background: #f8f9fa;
  display: block;
  text-align: center;
  color: #000000;
  border-radius: 4px;
  font-size: 18px;
  line-height: 45px; }
  .social a:hover {
    background: #aa00ff;
    color: #ffffff;
    transition: all .4s ease-in-out; }

.social.social-dark a {
  background: rgba(0, 0, 0, 0.6); }
  .social.social-dark a:hover {
    background: #aa00ff; }

.social.social-inverse a {
  background: rgba(170, 0, 255, 0.6);
  color: #343a40; }
  .social.social-inverse a:hover {
    background: #aa00ff;
    color: #ffffff; }

.social.social-sm a {
  width: 35px;
  height: 35px;
  font-size: 16px;
  line-height: 35px; }

.social.social-rounded a {
  border-radius: 50%; }

.social.social-white a {
  background: #ffffff;
  color: rgba(52, 58, 64, 0.7); }
  .social.social-white a:hover {
    color: #aa00ff; }

.social.social-white-alt a {
  background: #ffffff;
  color: rgba(52, 58, 64, 0.7); }
  .social.social-white-alt a:hover {
    background: #aa00ff;
    color: #ffffff; }

/*scroll to top */
.scroll-top {
  bottom: 20px;
  font-size: 20px;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  line-height: 40px;
  right: -100px;
  color: #ffffff;
  background-color: rgba(170, 0, 255, 0.5); }
  .scroll-top:hover {
    background-color: #aa00ff;
    transition: all .4s ease-in-out; }
  .scroll-top.active {
    right: 20px; }

/* Icon Boxes */
.icon-box {
  position: relative;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #ffffff;
  margin: 1rem; }
  .icon-box.box-primary {
    color: #aa00ff;
    background-color: rgba(170, 0, 255, 0.1); }
  .icon-box.box-secondary {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1); }
  .icon-box.box-success {
    color: #00e676;
    background-color: rgba(0, 230, 118, 0.1); }
  .icon-box.box-info {
    color: #00e5ff;
    background-color: rgba(0, 229, 255, 0.1); }
  .icon-box.box-warning {
    color: #ffff00;
    background-color: rgba(255, 255, 0, 0.1); }
  .icon-box.box-danger {
    color: #ff1744;
    background-color: rgba(255, 23, 68, 0.1); }
  .icon-box.box-light {
    color: #f8f9fa;
    background-color: rgba(248, 249, 250, 0.1); }
  .icon-box.box-dark {
    color: #212529;
    background-color: rgba(33, 37, 41, 0.1); }
  .icon-box .icon-box-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    padding: 1.5rem; }
    .icon-box .icon-box-inner.small {
      padding: 1.25rem; }
    .icon-box .icon-box-inner.small-xs {
      padding: 1rem; }



@media screen and (max-width: 768px) {
  .switcher-wrap {
    display: none; } }


/*模态框*/
.modalfav {
  position: fixed; /* 根据浏览器定位 */
  z-index: 1; /* 放在顶部 */
  left: 0;
  top: 0;
  width: 100%; /* 全宽 */
  height: 100%; /* 全高 */
  overflow: auto; /* 允许滚动 */
  background-color: rgba(0,0,0,0.4); /* 背景色 */
}
/*模态框内容*/
.modal-contentfav {
  display: flex; /*采用flexbox布局*/
  flex-direction: column; /*垂直排列*/
  position: relative;
  background-color: #fefefe;
  margin: 150px auto; /*距顶部15% 水平居中*/
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 300px;
  animation: topDown 0.4s; /*自定义动画，从模态框内容上到下出现*/
}
@keyframes topDown {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
/*模态框头部*/
.modal-headerfav {
  display: flex; /*采用flexbox布局*/
  flex-direction: row; /*水平布局*/
  align-items: center; /*内容垂直居中*/
  justify-content: space-between; 
}

.modal-bodyfav {
  height:200px;
  /*display: flex; 采用flexbox布局*/
  /*flex-direction: row; 水平布局*/
  /*align-items: center; 内容垂直居中*/
  padding-top: 0px;
  /* justify-content: space-between;  */
}
.newfolder {
  height:40px;
  line-height: 40px;
  font-size:24px;
  font-weight: normal;
  padding-left:10px; 
  border:solid #a0f 1px;
  border-radius: 5px;
}

.fname {
  width:60%;
  height:30px;
  padding-right:25px;
  border:0px;
}
.newbtn{
  width:85px;
  height:40px;
  text-align:center;
  float:right;
  cursor:pointer;
  background-color: #a0f;
  border-radius: 0px 5px 5px 0px;
}
/*模态框头部*/
.modal-footerfav {
  display: flex; /*采用flexbox布局*/
  flex-direction: row; /*水平布局*/
  align-items: center; /*内容垂直居中*/
  text-align: center;
  justify-content: space-between; 
}
/*关闭X 样式*/
.closefav {
  color: #aaa;
  right: 20px;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
}
.closefav:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 


/*分页器*/
.pagenum{
  width: 33px;
  height: 30px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  background-color: #eee;
  border-radius: 3px;
}
.pb{
  border: solid #a0f 1px;
}
.pagenumdis{
  width: 33px;
  height: 30px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  background-color: #eee;
  border-radius: 3px;
}
.cpagenum{
  width: 33px;
  height: 30px;
  margin: 5px;
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  background-color: #a0f;
  border-radius: 3px;
}
.pagenum:hover{
  cursor:pointer;
  color:#a0f;
}
.pagenumdis:hover{
  pointer-events: none;
}
.cpagenum:hover{
  cursor:default;
}