<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<link rel="shortcut icon" href="/v1/auth/mystatic/img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>自塾</title>
<meta name="description" content=""/>


<!--font-awesome styles-->
<link rel="stylesheet" href="/v1/auth/mystatic/css/font-awesome.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/v1/auth/mystatic/css/bootstrap.css">

<!-- style -->
<link rel="stylesheet" href="/v1/auth/mystatic/css/style.css" id="theme-color">
</head>
<body>

<!--navigation-->
<section class="smart-scroll">
<div class="container-fluid">
	<nav class="navbar navbar-expand-md navbar-light">
		<a class="navbar-brand heading-black" href="{{ url_for('start') }}">
			<img src="/v1/auth/mystatic/img/logo.png" />
		</a>
		
		<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
			<span data-feather="grid"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto">
				<!-- Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
						模态
					</a>
					<div class="dropdown-menu">
					<a class="dropdown-item" href="{{ url_for('sp.spstart') }}">视频</a>
					<a class="dropdown-item" href="{{ url_for('tw.tw_index') }}">图文</a>
					<a class="dropdown-item" href="{{ url_for('nt.brain') }}">脑图</a>
					<a class="dropdown-item" href="{{ url_for('tm.showques') }}">题目</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link page-scroll" href="#jc">教程</a>
				</li>
				<li class="nav-item">
					<a class="nav-link page-scroll" href="#rz">认证</a>
				</li>
				<li class="nav-item">
					<a class="nav-link page-scroll" href="/v1/rw/mall">任务</a>
				</li>
			</ul>
			<div class="row">
			<form class="mx-md-4">
				<div class="input-group input-group-md">
					<input type="text" class="form-control" style="padding:1px 5px;">
					<div class="input-group-append">
						<button class="btn rightbtn" style="padding:3px 5px;"><i class="fa fa-search" style="font-size:24px"></i></button>
					</div>
				</div>
			</form>
			&nbsp;&nbsp;
			<form class="form-inline" style="min-width:60px;white-space: nowrap;">
				{% if current_user.is_authenticated %}
				<a style="padding:3px 5px;color:#aa00ff;font-size:24px;" href="{{ url_for('my.usercenter') }}">{{current_user.name}}</a>
				<a style="padding:3px 5px;color:#aa00ff;font-size:24px;" href="{{ url_for('auth.logout') }}"><i class="fa fa-power-off"></i></a>
				{% else %}
				<a class="rightbtn btn" style="font-size:18px;padding:3px 5px;" href="{{ url_for('auth.login') }}">登录</a>
				{% endif %}
			</form>
			</div>
		</div>
	</nav>
</div>
</section>

<!--封面-->
<section class="py-md-7 py-6" id="banner">
<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-10 col-12 mx-auto text-center">
			<img src="/v1/auth/mystatic/img/icon850.png" class="banner-pic" />
			<h1 class="heading-black">借 物 代 己</h1>
			<h1 class="heading-black">改 造 世 界</h1>
			<h1 class="heading-black">爱 人 如 己</h1>
			<h1 class="heading-black">终 身 学 习</h1>
			<p class="lead py-3">让一个人的智慧变成每个人的智慧</p>
		</div>
	</div>
</div>
</section>

<!--载体-->
<section class="py-6 border-top" id="zt">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto text-center">
				<h2 class="heading-black">模态</h2>
				<p class="text-muted lead">多种内容模态</p>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-4 mr-auto">
				<h3 class=" text-center">多模态</h3>
				<p class="lead text-center">
					通过多种模态的内容
				</p>
				<p class="lead text-center">
					让智慧更充分地流动
				</p>
			</div>
			<div class="col-md-8">
				<ul class="features-list">
					<br>
					<li><a href="/v1/sp/">视频</a>  多个视频组成合集</li>
					<li><a href="/v1/tw/">图文</a>  多个图文组成专栏</li>
					<li><a href="/v1/nt/">脑图</a>  多个脑图组成图册</li>
					<li><a href="/v1/tm/showques/">题目</a>  多个题目组成试卷</li>
				</ul>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-10 mx-auto">
				<div class="card bg-gradient p-4">
					<div class="card-body d-md-flex flex-row align-items-center text-center text-md-left">
						<div class="mb-4 mb-md-0">
							<h4 class="text-white">模态</h4>
							<span class="text-light">多模态的内容</span>
						</div>
						<button class="btn btn-primary ml-md-auto d-inline-flex flex-row align-items-center">
							新建内容
							<em data-feather="chevrons-right" width="20" height="20" class="ml-2"></em>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--教程-->
<section class="py-6 border-top" id="jc">
<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto text-center">
			<h2 class="heading-black"><a href="/v1/jc/">教程</a></h2>
			<p class="text-muted lead">实用自助教程</p>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-10 mx-auto">
			<div class="row feature-boxes">
				<div class="col-md-6 box">
					<div class="icon-box box-primary">
						<div class="icon-box-inner">
							<span data-feather="edit-3" width="35" height="35"></span>
						</div>
					</div>
					<h5><a href="/v1/tw/zhuanlan/9" target="_blank">Python基础</a></h5>
					<p class="text-muted">在200分钟，40课的篇幅中，您将学习python基础知识，这些基础知识足以应对绝大部分自动办公和人工智能场景。</p>
				</div>
				<div class="col-md-6 box">
					<div class="icon-box box-success">
						<div class="icon-box-inner">
							<span data-feather="monitor" width="35" height="35"></span>
						</div>
					</div>
					<h5><a href="/v1/tw/zhuanlan/10" target="_blank">自动办公</a></h5>
					<p class="text-muted">您可以利用Python操作电脑中的Word、Excel、PPT、PDF、压缩包、浏览器、鼠标键盘等等。享受办公自动化给您带来的惬意。</p>
				</div>
				<div class="col-md-6 box">
					<div class="icon-box box-danger">
						<div class="icon-box-inner">
							<span data-feather="layout" width="35" height="35"></span>
						</div>
					</div>
					<h5><a href="/v1/tw/zhuanlan/3" target="_blank">人工智能</a></h5>
					<p class="text-muted">这里的人工智能主要针对自动办公场景，让您的自动办公能力如虎添翼，您将会从各种重复劳动中解脱出来，专注于那些最能体现您光辉智慧的工作内容。</p>
				</div>
				<div class="col-md-6 box">
					<div class="icon-box box-info">
						<div class="icon-box-inner">
							<span data-feather="globe" width="35" height="35"></span>
						</div>
					</div>
					<h5><a href="/v1/tw/zhuanlan/8" target="_blank">创新</a></h5>
					<p class="text-muted">自塾提出借物代己这一理念，并把借物代己作为创新的本质来指导各种工作。您会深刻体会到借物代己带来的巨大生产力，并把这一重要理念带入到您的工作和生活中。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-6 mx-auto text-center">
			<h5 class="mb-4">好的教程只需一路运行</h5>
			<a href="https://gitcode.net/zishu/py" target="_blank" class="btn btn-primary">下载教程</a>
		</div>
	</div>
</div>
</section>



<!--认证-->
<section class="py-7 bg-light" id="rz">
<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto text-center">
			<h2 class="heading-black"><a href="/v1/rz/">认证</a></h2>
			<p class="text-muted lead">自助考试认证</p>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-4">
			<div class="card">
				<a href="#">
					<img class="card-img-top img-raised" src="/v1/auth/mystatic/img/blog-1.jpg" alt="Blog 1">
				</a>
				<div class="card-body">
					<h5 class="card-title mb-2"><a href="#">基本函数</a></h5>
					<p class="text-muted small-xl mb-2">初级</p>
					<p class="card-text">让自己的工作和生活更加惬意，遇事不决调个包，喝茶看工作自己完成。让工作更有创造力 <a href="#">更多</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<a href="#">
					<img class="card-img-top img-raised" src="/v1/auth/mystatic/img/blog-2.jpg" alt="Blog 2">
				</a>
				<div class="card-body">
					<h5 class="card-title mb-2"><a href="#">列表和字典</a></h5>
					<p class="text-muted small-xl mb-2">初级</p>
					<p class="card-text">让数据自己找到它应该在的位置，操作多个数据就像操作一个数据一样，提升工作成果的复用率 <a href="#">更多</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<a href="#">
					<img class="card-img-top img-raised" src="/v1/auth/mystatic/img/blog-3.jpg" alt="Blog 3">
				</a>
				<div class="card-body">
					<h5 class="card-title mb-2"><a href="#">字符串</a></h5>
					<p class="text-muted small-xl mb-2">中级</p>
					<p class="card-text">让文字在代码之间得心应手，随心所欲操作文字，让文案工作更高效，让灵感更多地注入文字中 <a href="#">更多</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-6">
		<div class="col-md-6 mx-auto text-center">
			<a href="#" class="btn btn-primary">证书查询</a>
		</div>
	</div>
</div>
</section>

<!--任务-->
<section class="py-7" id="rw">
<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto text-center">
			<h2 class="heading-black"><a href="/v1/rw/mall">任务</a></h2>
			<p class="text-muted lead">共创美好未来</p>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-4 col-sm-6 mb-4">
			<div class="card bg-light text-center">
				<div class="card-body">
					<h3 class="card-title text-primary">正则表达式修改</h3>
					<p class="font-weight-medium">python基础</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mb-4">
			<div class="card bg-light text-center">
				<div class="card-body">
					<h3 class="card-title text-primary">提取文字</h3>
					<p class="font-weight-medium">自动办公</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mb-4">
			<div class="card bg-light text-center">
				<div class="card-body">
					<h3 class="card-title text-primary">按钮美化</h3>
					<p class="font-weight-medium">开发</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mb-4 mx-auto">
			<div class="card bg-light text-center">
				<div class="card-body">
					<h3 class="card-title text-primary">bug调试</h3>
					<p class="font-weight-medium">咨询</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mb-4 mx-auto">
			<div class="card bg-light text-center">
				<div class="card-body">
					<h3 class="card-title text-primary">制作试卷</h3>
					<p class="font-weight-medium">内容</p>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<!--footer-->
<footer class="py-5">
<div class="container">
	<div class="row">
		<div class="col-sm-5 mr-auto">
			<h5>关于自塾</h5>
			<p class="text-muted">如果您的主要工作是对着电脑屏幕完成的，那么恭喜您，您就是自塾致力于大力服务的客户。在这里您可以获取到各种让自己的工作自动化的最佳方法。</p>
			<ul class="list-inline social social-rounded social-sm">
				<li class="list-inline-item">
					<a href=""><i class="fa fa-facebook"></i></a>
				</li>
				<li class="list-inline-item">
					<a href=""><i class="fa fa-twitter"></i></a>
				</li>
				<li class="list-inline-item">
					<a href=""><i class="fa fa-google-plus"></i></a>
				</li>
				<li class="list-inline-item">
					<a href=""><i class="fa fa-dribbble"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-sm-2">
			<h5>声明</h5>
			<ul class="list-unstyled">
				<li><a href="#">服务条款</a></li>
				<li><a href="#">隐私政策</a></li>
			</ul>
		</div>
		<div class="col-sm-2">
			<h5>媒体</h5>
			<ul class="list-unstyled">
				<li><a href="#">微信小程序</a></li>
				<li><a href="#">抖音</a></li>
			</ul>
		</div>
		<div class="col-sm-2">
			<h5>帮助</h5>
			<ul class="list-unstyled">
				<li><a href="#">使用手册</a></li>
				<li><a href="#">常见问题</a></li>
			</ul>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-12 text-muted text-center small-xl">
			自塾 &copy; 2023 版权所有
		</div>
	</div>
</div>
</footer>

<!--scroll to top-->
<div class="scroll-top">
<i class="fa fa-angle-up" aria-hidden="true"></i>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/v1/auth/mystatic/js/jquery-3.2.1.min.js"></script>
<script src="/v1/auth/mystatic/js/bootstrap.min.js"></script>
<script src="/v1/auth/mystatic/js/feather.min.js"></script>
<script src="/v1/auth/mystatic/js/scripts.js"></script>
</body>
</html>