<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="static/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="../static/css/moni.css" rel = "stylesheet"/>
    <title>自塾</title>
	
<style>

.table-css tr th img:hover{
   transform: scale(1.2);
}

.table-css tr th{
   padding-left: 20px;
   padding-right: 20px;
}
</style>	
</head>
<body>


<style type="text/css"> 
img[src=""],img:not([src]){
     opacity:0;
}
</style> 
	
	<aside id="fh5co-aside" role="complementary" class="border js-fullheight">
	
		<h1 id="fh5co-logo"><a href="{{ url_for('start') }}">自塾</a></h1>
		<nav id="fh5co-main-menu" role="navigation">
			<ul>
				<li><a href="{{ url_for('guanguan.bestart') }}">课程</a></li>
				<li><a href="{{ url_for('biwen.hello_world') }}">笔记</a></li>
				<li><a href="{{ url_for('bebrain.brain') }}">脑图</a></li>
				<li><a href="{{ url_for('task.admin') }}">任务</a></li>
			</ul>
		</nav>
	
		<div class="fh5co-footer">
			<p>自塾 &copy; 2023</p>
			<p>沪ICP备2022030564号</p>
		</div>
	
	</aside>
	
	<div id="fh5co-main">

		

		

		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				
		  	</div>
		</aside>
		
		
		

		<div class="fh5co-narrow-content">
		<div class="row" style="right: 20px;top: 0px;position:absolute;">
			<div class="span8">
			<ul class="nav nav-pills">

				{% if current_user.is_authenticated %}
				<li class="m-3">欢迎你，<a href="{{ url_for('user.usercenter') }}">{{current_user.name}}</a></li>
				<li class="m-3"><a href="{{ url_for('auth.logout') }}">登出</a></li>
				{% else %}
				<li class="m-3"><a href="{{ url_for('auth.login') }}">登录</a></li>
				{% endif %}
			</ul>
			</div>
		</div>

		<div style="margin:0 auto;height:30px;text-align:center;" class="col-md-12 d-md-none">
			<a style="font-size:24px;" href="{{ url_for('guanguan.bestart') }}"><button class="btn btn-primary">课程</button></a>
			<a style="font-size:24px;" href="{{ url_for('biwen.hello_world') }}"><button class="btn btn-primary">笔记</button></a>
			<a style="font-size:24px;" href="{{ url_for('bebrain.brain') }}"><button class="btn btn-primary">脑图</button></a>
			<a style="font-size:24px;" href="{{ url_for('task.admin') }}"><button class="btn btn-primary">任务中心</button></a>
		</div>
		
		
		<div class="row">
		<div style="margin:0 auto; height:50px;" class="col-md-12"></div>
		<div style="display:inline-block;margin:auto;">
		<table class="table-css">
			<tr>
				<th><a href="/guanguan/"><img src="static/images/自塾.png" height="200"></a></th>
			</tr>
		</table>
        </div>    
        </div>
	
		</div>




</body>
</html>