tm-frontend/node_modules
.gitignore

tm-backend/**/__pycache__
tm-backend/.venv
tm-backend/poetry.lock
tm-backend/pyproject.toml
tm-backend/alembic
tm-backend/alembic.ini
tm-backend/static
*.log
**/.idea