{% extends 'videowide.html' %}
{% block header_part %}
<title id="learntitle"></title>
<script src="/v1/auth/mystatic/js/mny.js"></script>
<script src="/v1/auth/mystatic/js/dist/index.min.js"></script>
<link rel="stylesheet" href="/v1/auth/mystatic/js/dist/index.css" />
<script src="/v1/auth/mystatic/com/beginlearncom.js"></script>
{% endblock %}

{% block style_part %}
<style type="text/css"> 
    img[src=""],img:not([src]){
         opacity:0;
    }
    .posterimg{
        cursor:pointer;
    }
    .video {
    position: relative;
    padding-bottom: 56.25%;
    /*height: 0;*/
    overflow: hidden;
    }
    .video iframe,
    .video object,
    .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }



</style> 
{% endblock %}

{% block body_part %}

    <div id="videoitem">
        <div class="row">
            <div class="col-md-8">
                <div style="margin-bottom: 10px;width: 100%;text-align: center;">
                    <h2 style="margin:0 auto;">{[coursedd.course_title]}学习</h2>
                    <h4 style="margin:0 auto;">作者：{[coursedd.course_publishername]}</h4>
                </div>
                <video id="playlocal" v-if="active_upstyle" controls="controls" width="100%" preload="auto" v-bind:src="active_vurl" v-bind:poster="active_purl" controlslist="nodownload noremoteplayback" oncontextmenu = "return false"></video>
                <p v-else class="video">
                <iframe v-bind:src="active_vurl" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                </p>
                <p>{[active_desc]}</p>
                <add-biwen :userid="uid" :biwenid="active_biwen"></add-biwen>
                <add-ques @pushques="changeques" :userid="uid" :videoid="active_videoid"></add-ques>
                <br />
                <videoquiz :username="uname" :quesdata="quesdata"></videoquiz>
                
            </div>
            <div class="col-md-4" style="max-height:600px;padding-top:80px;padding-left:30px;overflow-y: scroll;">
                <div v-for="(item,index) in videos" style="margin-bottom: 10px;">
                    <!-- <div class="col-md-6" style="padding-right: 0;">
                    <img class="posterimg" width="100%" @click="acti($event,index,item)" v-bind:src="item.poster_url"></img>
                    </div> -->
                    <div v-if="activeindex==index" @click="acti($event,index,item)" style="color:red;" class="col-md-12 posterimg">
                        <span>{[index+1]}. {[item.show_title]}</span>
                        <br>
                        <span style="margin-left:2em;font-size:14px;color:#aaa">{[item.video_author]} {[item.video_ip]} {[item.video_length]}</span>
                    </div>
                    <div v-else @click="acti($event,index,item)" class="col-md-12 posterimg">
                        <span>{[index+1]}. {[item.show_title]}</span>
                        <br>
                        <span style="margin-left:2em;font-size:14px;color:#aaa">{[item.video_author]} {[item.video_ip]} {[item.video_length]}</span>
                    </div>
                </div>
            </div>
        </div>
    

    </div>




{% endblock %}

{% block script_part %}
<script type="text/javascript">
    var videohua = $('#playlocal');
    videohua[0]['disablePictureInPicture'] = true;
    var timerid=0;
    var allvideo = {{vdata|tojson}};
    var coursedt = {{coursedata|tojson}};
    var user_id = {{current_user.id}};
    var user_name = {{current_user.name|tojson}};
    var start_Date = new Date();


    var testitem = new Vue({
        delimiters: ['{[', ']}'],
        el:'#videoitem',
        data:{
            active_vurl:"",
            active_purl:"",
            active_desc:"",
            active_biwen:"",
            active_videoid:0,
            active_video_title:"",
            active_video_authorid:0,
            active_video_authorname:"",
            active_video_length:"",
            active_video_ip:"",
            active_upstyle:false,
            videos:allvideo,
            coursedd:coursedt,
            activeindex:0,
            quesdata:[],
            uname:user_name,
            uid:user_id
        },
        created: function () {
            
            // `this` 指向 vm 实例;
            allvideo.forEach((item)=>{
                var reg = RegExp(/mp4$/);
                if(item.video_url.match(reg)){
                    
                    item.video_url="/v1/sp/spstatic/videos/"+item.video_url;
                    item.isshow = true;
                    //console.log(item.video_url);
                }
                var reg2 = RegExp(/jpg$/);
                if(item.poster_url.match(reg2)){
                    
                    item.poster_url="/v1/sp/spstatic/videos/"+item.poster_url;
                    //console.log(item.poster_url);
                }
            })
            this.active_upstyle=allvideo[0].isshow;
            this.active_vurl=allvideo[0].video_url;
            this.active_purl=allvideo[0].poster_url;
            this.active_desc=allvideo[0].video_desc;
            this.active_biwen=allvideo[0].rel_biwen;
            this.active_videoid=allvideo[0].videoid;
            this.active_video_title=allvideo[0].video_title;
            this.active_video_authorid=allvideo[0].video_authorid;
            this.active_video_authorname=allvideo[0].video_author;
            this.active_video_length=allvideo[0].video_length;
            this.active_video_ip=allvideo[0].video_ip;

            this.fetchques(this.active_videoid);
            

            
        },
        mounted: function() {
            
            this.fee();
            $("#learntitle").html(this.coursedd.course_title);
            
        },
        methods: {
            acti(e,index,item){
                console.log(item.poster_url);
                console.log(item.video_url);
                console.log(item.isshow);
                this.fee();
                this.activeindex = index;
                this.active_vurl=item.video_url;
                this.active_purl=item.poster_url;
                this.active_desc=item.video_desc;
                this.active_biwen=item.rel_biwen;
                this.active_upstyle=item.isshow;
                this.active_videoid=item.videoid;
                this.active_video_title=item.video_title;
                this.active_video_authorid=item.video_authorid;
                this.active_video_authorname=item.video_author;
                this.active_video_length=item.video_length;
                this.active_video_ip=item.video_ip;
                this.fetchques(this.active_videoid);
            },
            fetchques: function(videoid) {
                $.ajax({
                    url:"{{ url_for('sp.fetchques') }}",
                    type:"POST",
                    data:{
                        videoid:videoid
                    },
                    dataType: "json",
                    success: function(data) {
                        testitem.$data.quesdata = data;
                    }
                })
            },
            changeques: function(obj) {
                console.log("输出传值");
                console.log(obj);
                this.quesdata.push(obj);
            },
            fee: function () {
                if (timerid!=0){
                    clearTimeout(this.timerid);
                    console.log("重新计时");
                }
                var video_authorid = this.active_video_authorid;
                var video_author = this.active_video_authorname;
                var videoid = this.active_videoid;
                var video_title = this.active_video_title;
                var video_ip = this.active_video_ip;
                var timelist = this.active_video_length.split(':');
                var caltime = 0;
                var totaltime = 0;
                if (timelist.length==3){
                    totaltime = Number(timelist[0]*3600) + Number(timelist[1]*60) + Number(timelist[2]);
                    caltime = 1;
                }
                var outtime = Math.floor(Math.random()*totaltime*0.33 + totaltime*0.33)
                if (caltime==1){
                    timerid = setTimeout(function () { 
                        //需要执行的代码写在这里
                        var fd = new FormData();
                        fd.append("video_authorid",video_authorid);
                        fd.append("video_author",video_author);
                        fd.append("videoid",videoid);
                        fd.append("video_title",video_title);
                        fd.append("video_ip",video_ip);
                        fd.append("courseid",coursedt.courseid);
                        fd.append("course_title",coursedt.course_title);
                        fd.append("course_publisherid",coursedt.course_publisherid);
                        fd.append("course_publishername",coursedt.course_publishername);
                        fd.append("video_style","course");
                        $.ajax({
                            url:"{{ url_for('sp.calfees') }}",
                            type:"POST",
                            processData: false,
                            contentType: false,
                            data: fd,
                            dataType: "json",
                            success: function(response) {
                                console.log("扣款");
                                mnyAlert(1,"已减0.1熵！");
                                console.log(totaltime);
                                console.log(outtime);
                            }
                        })
                    }, outtime*1000);
                }
                
            },
        },
        components: {
            'add-ques': addQues,
            'add-biwen': addBiwen,
            'videoquiz': Quiz,
        }
    })

    
</script>
{% endblock %}
