{% extends 'videowide.html' %}
{% block header_part %}
<script type="text/javascript" src="../static/js/city.js"></script>
{% endblock %}

{% block style_part %}
<style type="text/css">
    .flip-list-move {
        transition: transform 0.3s ease-in;
    }
    #options {
        width:50%;
        height: 600px;
        float: left;
        overflow-y: scroll;
    }
    #newvideo {
        width:50%;
        height: 600px;
        float: left;
        overflow-y: scroll;
    }
    #box {
        width:50%;
        height: 600px;
        float: left;
        /* text-align: center; */
        overflow-y: scroll;

    }
    .items {
        width: 95%;
        margin: 10px auto;
        padding:5px;
        background-color: #DDD;
        border-radius:5px;

    }
    .items input{
        background-color: #DDD;
    }
    .items input:focus{
        background-color: #EEE;
    }

    #line{
        width: 2px;
        height: 400px; 
        position: absolute; 
        left: 50%;
        z-index: 666;
        cursor: w-resize;
    }
    #contes { /* 弹框的页面*/
        width: 300px; /*宽度*/
        background: #eee; /*背景色*/
        z-index: 3; /*覆盖*/
        border-radius:5px;
        box-shadow: darkgrey 10px 10px 30px 10px;
        position: absolute;
        top: 100px;
        left: 400px; /* 定位*/
    }
    #bar {
        background: blue;
        height:30px;
        border-radius:5px 5px 0px 0px;
    }
    .progress {
        width: 100%;
        height: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: auto 0px;
        overflow: hidden;
    
    }
    .progress > div {
        width: 0px;     
        height: 100%;
        border-radius: 5px;
        background-color: yellowgreen;
        transition: all .3s ease;
        display: block;
    }
    .video {
    position: relative;
    padding-bottom: 56.25%;
    /*height: 0;*/
    overflow: hidden;
    }
    .video iframe,
    .video object,
    .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    #poster-canvas {
        border:1px solid #CCCCCC
    }

    #image-canvas {
        border:1px solid #CCCCCC

    }
    
</style> 
{% endblock %}

{% block body_part %}
    
<div id='app'>
    
    <div id="options" v-show="!shownewvideo">
        <div style="display:inline-block;margin:0 auto; width:100%;text-align: center;">
            <input id="query" type="text">
            <input id="send" type="button" value="查询">
        </div>
        <div class="items" draggable="true" v-for="(item,index) in optionsArr" :key="index" @dragstart="dragStart1($event,item)">
            <div class="row">
                <div class="col-md-4">
                    <a :href="'/sp/watchvideo/'+item.videoid" target="_blank">
                    <img width="100%" :src="'../static/videos/'+item.videoid+'.jpg'"></img>
                    </a>
                </div>
                <div class="col-md-8">
                    <span>标题: {[item.video_title]}</span><br/>
                    <span>作者: {[item.video_author]}</span>
                    <span>&nbsp;&nbsp;</span>
                    <span>知识产权: {[item.video_ip]}</span><br/>
                    <span>时长: {[item.video_length]}秒</span><br/>
                </div>
                <div class="col-md-12">
                    <span>简介: {[item.video_desc]}</span><br/>
                </div>
            </div>    
        </div>
    </div>
    <div class="container" id="newvideo" v-show="shownewvideo">
        <div class="row">
        <div style="margin:0 auto; height:20px;" class="col-md-12"></div>
        
        </div>

        

        <div class="row" style="margin:10px">
        <div style="width:100px;">
            <input type="radio" id="local" value="Local" v-model="upstyle">
            <label for="local">上传视频</label>
            <br>
            <input type="radio" id="web" value="Web" v-model="upstyle">
            <label for="web">B站视频</label>
        </div>
        <div class="col-md-10" v-show="upstyle=='Local'">
        <div class="progress">
            <div></div>
        </div>
        <form id="uploadForm" style="display:block;">
            <!-- <label style="width:400px;height:2em;border:1px dashed black;margin:0 20px;text-align: center;" for="img" id="inputlabel">选择或拖放文件</label> -->
            <input style="width:100%;border:1px dashed black;margin:10px 0px;" class="btn btn-default" id="img" type="file" name="yu"></input>
            <!-- <input class="btn btn-primary" type="button" value="上传" onclick="doUpload()"> -->
        </form>
        </div>
        <input class="col-md-10 form-control" placeholder="将B站视频分享按钮下的嵌入代码粘贴在这里" style="margin-top:30px;" v-show="upstyle=='Web'" v-model="video_websrc" @change="pastesrc($event)"></input>
        </div>
        <br/>    
        <div class="row" v-show="video_show" style="text-align: center;margin:10px">
            <div style="width:100px;"></div>
            <div class="col-md-10">
                <video id="videoplay" v-show="upstyle=='Local'?true:false" controls="controls" width="100%" preload="auto" src=""></video>
                <p class="video" v-show="upstyle=='Web'?true:false">
                <iframe id="iframeplay" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                </p>
            </div>
        </div>

        <div class="row" style="margin:10px">
        <div style="width:100px;">上传封面：<br/>(尺寸16:9)</div>
        <div class="col-md-10">
            <input style="width:100%;border:1px dashed black;" class="btn btn-default" id="poster" type="file" name="po"></input>
        </div>
        </div>
        <br/> 
        <div class="row" v-show="poster_show">
            <div class="col-md-12" style="text-align: center">
            <input id="slider" style="width:320px;padding:10px 0px;" type="range"/><br/>
            <canvas id="image-canvas" height="180" width="320"></canvas><br/>
            <button id="submit" class="btn btn-primary">预览</button>
            </div><br/>
            <div class="col-md-12" style="text-align: center;margin-top: 10px;">
            <canvas id="poster-canvas" width="480" height="270"></canvas>
            </div>
        </div>



        <div class="row" style="margin:10px;">
            <div style="width:100px;">视频名称：</div>
            <input class="col-md-10 form-control" v-model="video_title"></input>
        </div>

        <div class="row" style="margin:10px">
            <div style="width:100px;">视频时长：</div>
            <input class="col-md-10 form-control" placeholder="填写格式为hh:mm:ss" v-model="video_length"></input>
        </div>

        <div class="row" style="margin:10px;">
            <div style="width:100px;">视频描述：</div> 
            
            <textarea class="col-md-10 form-control" v-model="video_desc"></textarea>
        </div>
        <div class="row" style="margin:10px;">
            <div style="width:100px;">知识产权：</div> 
            
            <select class="col-md-3 form-control" v-model="video_ip">
                <option value="原创">原创</option>
                <option value="改编">改编</option>
                <option value="翻录">翻录</option>
                <option value="翻录">节选</option>
                <option value="搬运">搬运</option>
            </select>
        </div>

        <div class="row" style="margin:10px;">
            <div style="width:100px;">视频分类：</div> 
            
            <select id="fclass" class="col-md-3 form-control" v-model="video_fclass" onchange="changecity()" >
                <option selected>--一级分类--</option>
                <option value="国内实务">国内实务</option>
                <option value="国内流程">国内流程</option>
                <option value="软件系统">软件系统</option>
                <option value="客户管理">客户管理</option>
                <option value="涉外实务">涉外实务</option>
                <option value="涉外流程">涉外流程</option>
                <option value="商标版权">商标版权</option>
                <option value="法律">法律</option>
                <option value="财务">财务</option>
            </select>
            <span>&nbsp;&nbsp;</span>
            <SELECT id="sclass" class="col-md-3 form-control" v-model="video_sclass">
                <OPTION>--二级分类--</OPTION>
            </SELECT>
        </div>
        <br/>
        <div class="row">
            <div style="margin:0 auto;">
            <button class="btn btn-primary" @click="submitvideo()">提交</button>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button class="btn btn-primary" @click="quxiao()">取消</button>
            </div>
        </div>
        <label id="picalert" style="color:red"></label>
    </div>
    <div id="line"></div>
    <div id="box">
        <div style="display:inline-block;margin:0 auto; width:100%;text-align: center;">
            <input id="courseid" placeholder="合集名称" value="{{coursename}}" type="text">
        </div>
        <div class="items" style="text-align: center;" draggable="true" @dragover.prevent @dragstart="dragStart2($event,index)" @dragenter="dragenter($event)" @dragleave="dragleave($event)" @drop="add($event,index,item)" v-for="(item,index) in tempArr" :key="item.videoid">
            将视频拖拽到此处或下面的视频上
        </div>
        <transition-group name="flip-list">
            <div class="items" draggable="true" @dragover.prevent @dragstart="dragStart2($event,index)" @dragenter="dragenter($event)" @dragleave="dragleave($event)" @drop="add($event,index,item)" v-for="(item,index) in subjectArr" :key="item.videoid">
                <div class="row">
                <span class="col-md-2" style="text-align: right;">组别：</span>
                <input class="col-md-2 form-control" style="height: 25px;font-size: 16px;" type="text" v-model="item.course_part"></input>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button class="btn btn-primary" style="height: 25px;font-size: 16px;padding:0 5px;" @click="item.isshow = !item.isshow">展开/折叠</button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button class="btn btn-primary" style="height: 25px;font-size: 16px;padding:0 5px;" @click="deletevideo($event,index)">移除</button>
                </div>
                <div class="row">
                <span class="col-md-1">{[index+1]}：</span>
                <input class="col-md-10 form-control" style="height: 25px;width:100%;font-size: 16px;" type="text" v-model="item.show_title"></input>
                </div>
                <div v-show="item.isshow">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4">
                        <a :href="'/v1/sp/watchvideo/'+item.videoid" target="_blank">
                        <img width="100%" :src="'../static/videos/'+item.videoid+'.jpg'"></img>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <span>原标题: {[item.video_title]}</span><br/>
                        <span>作者: {[item.video_author]}</span>
                        <span>&nbsp;&nbsp;</span>
                        <span>知识产权: {[item.video_ip]}</span><br/>
                        <span>时长: {[item.video_length]}秒</span><br/>
                    </div>
                    <div class="col-md-12">
                        <span>简介: {[item.video_desc]}</span><br/>
                    </div>
                </div>
                </div>
            </div>
        </transition-group>

        <div style="width:100%;text-align: center;">
            <button @click="newvideo()">添加视频</button>
            <button onclick="savecourse()">保存合集</button>
        </div>
    </div>




</div>

{% endblock %}

{% block script_part %}
<script type="text/javascript">
    var authoid = {{current_user.id}};
    var authoname = {{current_user.name|tojson}};
    var coursedata = {{edata|tojson}};
    editvue = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        data: {
            video_show:false,
            poster_show:false,
            upstyle:"Local",
            video_websrc:"",
            video_title:"",
            video_tmpname:"",
            video_length:"",
            video_desc:"",
            video_ip:"",
            video_fclass:"",
            video_sclass:"",
            newadd:'',
            newzu:'',
            shownewvideo: false,
            videoxin:'',
            tempArr:[{'videoid':1000, 'isshow':false, 'course_part':''}],
            //optionsArr: ['机械', '电学', '化学', '生物'],
            // {'quesid':39, 'ques_group':'查看信息', 'isshow':false, 'ques_title':'哪些方式可以查看带教老师？','item_a':'任务进度','item_b':'搜索带教领取任务','item_c':'查看处理人','item_d':'监控系统中查看','answer':'abcd'},
            // {'quesid':33, 'ques_group':'处理任务', 'isshow':false, 'ques_title':'哪些方式可以打开任务？','item_a':'双击任务','item_b':'右键选择处理任务','item_c':'点击上方工具栏中的处理任务按钮','item_d':'点击上方工具栏中的打开案件','answer':'abc'}

            optionsArr: [],
            subjectArr: coursedata,
            deleteditem:[],
            addeditem:[],
            jianjie:''
        },
        
        methods: {
            
            dragStart1 (e,item) {
                e.dataTransfer.setData('text', JSON.stringify(item))
                
            },
            dragStart2 (e,index) {
                e.dataTransfer.setData('text', index)
                
            },
            dragenter(e) {
                let tar = e.target;
                tar.style.backgroundColor = "silver";
            },
            dragleave (e) {
                let tar = e.target;
                tar.style.backgroundColor = "";
            },
            deletevideo (e,index) {
                //获取被删的元素
                var tmpitem = this.subjectArr.splice(index, 1);
                var realdelete = true;
                if(this.addeditem.length>0){
                    this.addeditem.forEach((deletecheck)=>{
                        //如果被删的元素在新增列表中有了，就是假删除
                        if(deletecheck.videoid == tmpitem[0].videoid){
                            realdelete = false;
                            this.addeditem.remove(deletecheck);
                        }
                    })
                }
                if(realdelete){
                    //如果是真删除，就把id增加到删除列表中
                    this.deleteditem.push(tmpitem[0].videoid);
                }
            },
            add (e,index,item) {
                let getitem = e.dataTransfer.getData('text')
                let tar = e.target;
                tar.style.backgroundColor = "";
                if(/^\d+$/.test(getitem)){
                    //console.log("是数字"+getitem);
                    let arr = this.subjectArr.concat([]);
                    temp = arr.splice(getitem, 1);
                    arr.splice(index, 0, temp[0]);
                    this.subjectArr = arr;
                }
                else{
                    let getjson = JSON.parse(getitem);
                    
                    var flag = true;
                    this.subjectArr.forEach((dragcheck)=>{
                        console.log(dragcheck.videoid);
                        console.log(getjson.videoid);
                        if(dragcheck.videoid==getjson.videoid){
                            flag = false;
                            alert("视频已存在，不可重复添加！");
                        }
                    })
                    if(flag){
                        let arr = this.subjectArr.concat([]);
                        let convobj = {
                            'videoid':getjson.videoid,
                            'course_part':item.course_part,
                            'isshow':false,
                            'video_title':getjson.video_title,
                            'show_title':getjson.video_title,
                            'video_desc':getjson.video_desc,
                            'video_author':getjson.video_author,
                            'video_length':getjson.video_length,
                            'video_url':getjson.video_url,
                            'poster_url':getjson.poster_url,
                            'video_ip':getjson.video_ip

                        }
                        arr.splice(index+1, 0, convobj);
                        this.subjectArr = arr;
                        this.addeditem.push(convobj);
                    }
                    
                }
                
                console.log(this.subjectArr);
            },

            newvideo () {
                this.shownewvideo=true;
            },
            submitvideo () {
                this.shownewvideo=false;
                console.log("提交了视频！");
                var url = posterCanvas.toDataURL('image/jpg', 0.92);
                var arr = url.split(',');
                var mime = arr[0].match(/:(.*?);/)[1];
                var bstr = atob(arr[1]);
                var n = bstr.length;
                var u8arr = new Uint8Array(n);
                while(n--){
                    u8arr[n] = bstr.charCodeAt(n);
                }
                var obj = new Blob([u8arr], {type:mime});
                if (obj.size<2000){
                    $("#picalert").text("请上传封面！");
                    return false;
                }
                var fd = new FormData();
                fd.append("upposter", obj,"image.jpg");
                fd.append("video_title",this.video_title);
                fd.append("video_tmpname",this.video_tmpname);
                fd.append("upstyle",this.upstyle);
                fd.append("video_websrc",this.video_websrc);
                fd.append("video_length",this.video_length);
                fd.append("video_desc",this.video_desc);
                fd.append("video_ip",this.video_ip);
                fd.append("video_fclass",this.video_fclass);
                fd.append("video_sclass",this.video_sclass);
                fd.append("action","new");
                fd.append("videochange","yes");

                $.ajax({
                    url:"{{ url_for('sp.savevideo') }}",
                    type:"POST",
                    processData: false,
                    contentType: false,
                    data: fd,
                    dataType: "json",
                    success: function(response) {
                        let convobj = {
                            'videoid':response.result.videoid,
                            'course_part':editvue.$data.newzu,
                            'isshow':false,
                            'video_title':response.result.video_title,
                            'show_title':response.result.video_title,
                            'video_desc':editvue.$data.video_desc,
                            'video_author':authoname,
                            'video_length':editvue.$data.video_length,
                            'video_url':response.result.video_url,
                            'poster_url':response.result.poster_url,
                            'video_ip':editvue.$data.video_ip
                        }
                        editvue.$data.subjectArr.push(convobj);
                        editvue.$data.addeditem.push(convobj);
                        editvue.$data.video_show=false;
                        editvue.$data.poster_show=false;
                        editvue.$data.newzu="";
                        editvue.$data.video_websrc="";
                        editvue.$data.video_length="";
                        editvue.$data.video_fclass="";
                        editvue.$data.video_sclass="";
                        editvue.$data.video_ip="";

                    }
                })

                
                //
                // this.newzu='';
                // this.videoxin='';

                
            },
            quxiao () {
                this.shownewvideo=false;
            },
            pastesrc(e) {
            var val = e.target.value;
            var reg = new RegExp('src=[\"\'](.*?)[\"\']');
            var txt = val.match(reg);
            console.log(txt[1]);
            this.video_websrc = txt[1];
            $('#iframeplay').attr('src', txt[1]);
            this.video_show=true;
            this.video_length="";
            $('#videoplay').attr('src', '');
            },
        }
    })
    
    $("#send").click(function () { 
        var message = $("#query").val()
        $.ajax({
            url:"{{ url_for('sp.queryvideo') }}",
            type:"POST",
            data:{
                message:message
            },
            dataType: "json",
            success: function(response) {
                editvue.$data.optionsArr=response.result;

            }
        })
    })


    // 组织释放拖动后浏览器打开新窗口
    document.body.ondrop = function(event) {
    event.preventDefault();
    event.stopPropagation();
    };




    function savecourse() {
        var course_title = $("#courseid").val();
        if (course_title.length<2){
            alert("合集名称须不少于两个字");
            return;
        }
        var reg = new RegExp("[0-9]+$");
        var txt = window.location.href.match(reg);
        
        console.log(editvue.$data.deleteditem);
        console.log(editvue.$data.addeditem);
        console.log(txt[0]);
        console.log(editvue.$data.subjectArr);
        console.log(course_title);
        $.ajax({
            url:"{{ url_for('sp.savecourse') }}",
            type:"POST",
            data:{
                course_title:course_title,
                course_id:txt[0],
                author_id:authoid,
                deleted_data:JSON.stringify(editvue.$data.deleteditem),
                course_data:JSON.stringify(editvue.$data.subjectArr),
            },
            dataType: "json",
            success: function(response) {
                //$("#showgym").html(response);
                console.log(response.result);
                editvue.$data.deleteditem=[];
                editvue.$data.addeditem=[];
                //alert("保存成功！");
                window.location.href = "{{ url_for('sp.showcourse') }}";

            }
        })
    // var person = prompt("确定要保存吗？");
    // if (person == null || person == "") {
    //     txt = "用户取消输入";
    // } else {
    //     txt = "你好，" + person + "！今天过得好吗？";
    // }
    //document.getElementById("demo").innerHTML = txt;
    }


    var changefile = document.getElementById('img');
    changefile.onchange=function(){
        $('.progress > div').css('width', '0');
        doUpload();
        // var file = $("#img").val();
        // console.log(file);
        // var pos=file.lastIndexOf("\\");
        // $("#inputlabel").html(file.substring(pos+1));
    }
    
    
    
    //上传文件
    function doUpload(){
        var formData = new FormData($("#uploadForm")[0]);
        
        //$('.progress > div').css('display', 'block');
        $.ajax({  
            url : "/sp/upAjax/",  
            type: 'POST',  
            data: formData,   
            contentType: false,  
            processData: false, 
            xhr : function(result) {
                var xhr = new XMLHttpRequest();
                //使用XMLHttpRequest.upload监听上传过程，注册progress事件，打印回调函数中的event事件
                xhr.upload.addEventListener('progress', function (e) {
                    console.log(e);
                    //loaded代表上传了多少
                    //total代表总数为多少
                    var progressRate = (e.loaded / e.total) * 100 + '%';
    
                    //通过设置进度条的宽度达到效果
                    $('.progress > div').css('width', progressRate);
                })
                return xhr;
            },  
            success: function(result){
                if(result==""||result==null){
                    alert("请至少选择一个文件~~");
                }else{
                    console.log("上传成功~~");
                    var rst = JSON.parse(result);
                    console.log(rst['result']);
                    editvue.$data.video_tmpname = rst['result'];
                    $('#videoplay').attr('src', '../static/tmp/'+rst['result']);
                    editvue.$data.video_show=true;
                    $('#iframeplay').attr('src', '');
                    vdio = document.getElementById('videoplay');
                    vdio.addEventListener("canplay", function () {
                        var vss = Math.floor(vdio.duration);
                        editvue.$data.video_length=sec_to_time(vss);
                      });
                }
            },
            error : function(data) {  
                alert("上传失败~~");
            }
        }); 
    }
    
    var posterInput = document.getElementById("poster");
    var posterCanvas = document.getElementById("poster-canvas");
    //var ori = document.getElementById("poster-canvas").width;
    var posterCxt = posterCanvas.getContext("2d");
    var posterimg = new Image();
    posterInput.onchange = function() {
       posterimg.src =  URL.createObjectURL(posterInput.files[0]);
       posterimg.onload = function() {
            posterCanvas.setAttribute('width', 480);
            posterCanvas.setAttribute('height', 270);
            editvue.$data.poster_show=true;
            posterCxt.drawImage(posterimg,0,0,480,270);
        }
    }





    //ajax提交表单数据到后台
    function submitvideo(){
        console.log("提交了视频！");
        var url = posterCanvas.toDataURL('image/jpg', 0.92);
        var arr = url.split(',');
        var mime = arr[0].match(/:(.*?);/)[1];
        var bstr = atob(arr[1]);
        var n = bstr.length;
        var u8arr = new Uint8Array(n);
        while(n--){
            u8arr[n] = bstr.charCodeAt(n);
        }
        var obj = new Blob([u8arr], {type:mime});
        if (obj.size<2000){
            $("#picalert").text("请上传封面！");
            return false;
        }
        var fd = new FormData();
        fd.append("upposter", obj,"image.jpg");
        fd.append("video_title",editvue.$data.video_title);
        fd.append("video_tmpname",editvue.$data.video_tmpname);
        fd.append("video_length",editvue.$data.video_length);
        fd.append("video_desc",editvue.$data.video_desc);
        fd.append("video_ip",editvue.$data.video_ip);
        fd.append("video_fclass",editvue.$data.video_fclass);
        fd.append("video_sclass",editvue.$data.video_sclass);
        console.log(editvue.$data.video_title);
        console.log(editvue.$data.video_tmpname);

        console.log(editvue.$data.video_desc);
        console.log(editvue.$data.video_ip);
        console.log(editvue.$data.video_fclass);
        console.log(editvue.$data.video_sclass);
        $.ajax({
            url:"{{ url_for('sp.savevideo') }}",
            type:"POST",
            processData: false,
            contentType: false,
            data: fd,
            dataType: "json",
            success: function(response) {
                console.log(response.result.videoid);

            }
        })



    }


    function sec_to_time(s) {
        var t;
        if(s > -1){
            var hour = Math.floor(s/3600);
            var min = Math.floor(s/60) % 60;
            var sec = Math.floor(s % 60);
            if(hour < 10) {
                t = '0'+ hour + ":";
            } else {
                t = hour + ":";
            }

            if(min < 10){t += "0";}
            t += min + ":";
            if(sec < 10){t += "0";}
            t += sec;
        }
        return t;
    }

var imgInput = document.getElementById("poster");
var submitBtn = document.getElementById("submit");
var mySlider = document.getElementById("slider");
var resultCanvas = document.getElementById("poster-canvas");
var resultCxt = resultCanvas.getContext("2d");
var imgCanvas = document.getElementById("image-canvas");
var imgCxt = imgCanvas.getContext("2d");
var currentFactor = 1; //当前的放缩倍数
var minFactor = 1; //最小放缩倍数
var maxFactor = 1; //最大放缩倍数
var ori = document.getElementById("image-canvas").height;
var oriw = document.getElementById("image-canvas").width;
var cut = document.getElementById("poster-canvas").height;
var cutw = document.getElementById("poster-canvas").width;
var img = new Image();
var bian = 0;
img.setAttribute('crossOrigin', 'anonymous');



imgInput.onchange = function() {
var imgUrl =  URL.createObjectURL(imgInput.files[0]);
// imgCanvas.setAttribute('height', ori);
// resultCanvas.setAttribute('height',cut);
// drawMask();
getImage(imgUrl);
// var fileReader = new FileReader();
// fileReader.readAsBinaryString(imgInput.files[0]);
}

//初始滑动条
initSlider = function() {
    mySlider.min = minFactor;
    mySlider.max = maxFactor;
    mySlider.value = currentFactor;
    mySlider.step = 0.01;
}

// 计算初始Factor
calculateFactor = function() {
    if(img.width>img.height*16/9) {
        minFactor = oriw/img.width;//初始状态
        currentFactor = oriw/img.width;
        maxFactor = oriw*5/img.width;
    } else {
        minFactor = ori/img.height;
        currentFactor = ori/img.height;
        maxFactor = ori*5/img.height;
    }
    initSlider();
}

//计算初始画布位置
canvasOriginPosition = function() {
    calculateFactor();
    var positionX;
    var positionY;
    if(img.width>img.height*16/9) {
        positionX = 0;
        positionY = (ori - img.height*currentFactor) /2;
    } else {
        positionX = (oriw - img.width*currentFactor) /2;
        positionY = 0;
    }
    lastImgX = positionX;
    lastImgY = positionY;
    return({"positionX":positionX,"positionY":positionY});
}

//获取图像并画出来
getImage = function(imgUrl) {
    // img.src = './changtuxiang.jpg'
    img.src=imgUrl;
    img.onload = function() {
        calculateFactor();
        var originPosition = canvasOriginPosition();
        imgCxt.globalCompositeOperation = "destination-over";
        editvue.$data.poster_show=true;
        imgCxt.clearRect(0,0,imgCanvas.width,imgCanvas.height);
        imgCxt.drawImage(img,originPosition.positionX,originPosition.positionY,img.width*currentFactor,img.height*currentFactor);
    }
}

//画蒙版
// drawMask = function() {
//     imgCxt.fillStyle = "rgba(0,0,0,0.5)";
//     imgCxt.fillRect(0,0,ori,ori);
//     imgCxt.fillStyle = "rgba(0,0,0,1)";
//     imgCxt.globalCompositeOperation = "destination-out";
//     imgCxt.fillRect(bian,bian,cut,cut);
// }


//控制canvas拖动
var moving = false;
var lastmouseX = null;
var lastmouseY = null;

//上次移动结束,canvas画图的位置
var lastImgX = 0;
var lastImgY = 0;

imgCanvas.onmousedown=function(e) {
    // console.log("onmousedown",lastImgX,lastImgY);
    moving = true;
    lastmouseX = e.clientX;
    lastmouseY = e.clientY;
}

window.onmouseup = function(e) {
    if(moving === true) {
        moving = false;
        var newPosition = checkPosition(e.clientX - lastmouseX,e.clientY - lastmouseY)
        //每次移动完成都要改变一下上次图片绘制位置
        lastImgX = newPosition.X;
        lastImgY = newPosition.Y;
        // console.log("onmouseup",lastImgX,lastImgY);
    }
}

imgCanvas.addEventListener("touchstart", function(e) {
    // console.log("onmousedown",lastImgX,lastImgY);
    var touches = e.touches[0];
    moving = true;
    lastmouseX = touches.clientX;
    lastmouseY = touches.clientY;
    document.addEventListener("touchmove",function defaultEvent(e) {
   e.preventDefault();
  },false);
  },false); 

imgCanvas.addEventListener("touchend",function(e) {
    var touches = e.changedTouches[0];
    //if(moving === true) {
        moving = false;
        var newPosition = checkPosition(touches.clientX - lastmouseX,touches.clientY - lastmouseY)
        //每次移动完成都要改变一下上次图片绘制位置
        lastImgX = newPosition.X;
        lastImgY = newPosition.Y;
        // console.log("onmouseup",lastImgX,lastImgY);
    //}
    document.removeEventListener("touchmove",function defaultEvent(e) {
    e.preventDefault();
    },false);
  },false);


redrawImg = function(pX,pY) {
    //每次绘图前检查position是否没有超出区域
    var newPosition = checkPosition(pX,pY)
    imgCanvas.setAttribute('height', ori);
    // drawMask();
    imgCxt.globalCompositeOperation = "destination-over";
    imgCxt.drawImage(img,newPosition.X,newPosition.Y,img.width*currentFactor,img.height*currentFactor);

}

checkPosition = function(pX,pY) {
    if(pX+lastImgX<=bian&&pX+lastImgX>=oriw+bian-img.width*currentFactor&&pY+lastImgY<=bian&&pY+lastImgY>=ori+bian-img.height*currentFactor) {
        return ({"X":pX+lastImgX,"Y":pY+lastImgY});
    } else {
        var x_ = pX+lastImgX;
        var y_ = pY+lastImgY;
        if(pX+lastImgX>bian) {
            x_ = bian;
        }
        if(pX+lastImgX<oriw+bian-img.width*currentFactor) {
            x_ = oriw+bian-img.width*currentFactor;
        }
        if(pY+lastImgY>bian) {
            y_ = bian;
        }
        if(pY+lastImgY<ori+bian-img.height*currentFactor) {
            y_ = ori+bian-img.height*currentFactor;
        }
        return({"X":x_,"Y":y_});
    }
}





window.onmousemove = function(e) {
    if(moving) {
        pX=e.clientX - lastmouseX;
        pY=e.clientY - lastmouseY;
        // console.log(checkPosition(pX,pY));
        
        redrawImg(pX,pY);
    }
}

imgCanvas.addEventListener("touchmove", function(e) {
    var touches = e.touches[0];
    if(moving) {
        pX=touches.clientX - lastmouseX;
        pY=touches.clientY - lastmouseY;
        // console.log(checkPosition(pX,pY));
        
        redrawImg(pX,pY);
    }
},false);




mySlider.oninput = function() {
    currentFactor = mySlider.value;
    //每次缩放完也都要修改图片的绘制位置
    // console.log("oninput",mySlider.value,lastImgX,lastImgY);
    redrawImg(0,0);
}

submitBtn.onclick = function() {
    // console.log("onclick!!",lastImgX,lastImgY);
    resultCxt.clearRect(0,0,resultCanvas.width,resultCanvas.height);
    resultCxt.drawImage(img,lastImgX*1.5,lastImgY*1.5,img.width*currentFactor*1.5,img.height*currentFactor*1.5)
}


</script>
{% endblock %}
