{% extends 'videobase.html' %}
{% block header_part %}
{% endblock %}

{% block style_part %}
<style type="text/css"> 
    img[src=""],img:not([src]){
         opacity:0;
    }
    
        .progress {
       width: 100px;
        height: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: auto 0px;
        overflow: hidden;
    
    }
    /* 初始状态设置进度条宽度为0px */
    .progress > div {
        width: 0px;     
        height: 100%;
        border-radius: 5px;
        background-color: yellowgreen;
        transition: all .3s ease;
        display: block;
    }
</style> 
{% endblock %}

{% block body_part %}
    <div class="container" id="showvideos">
        <div class="row" style="margin:50px">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9" style="text-align:left;font-weight:600;font-size: 30px;">{[videoDtos.section]}</div>
                    <div class="col-md-2 float-right" style="padding:0px;text-align:center">
                        <button @click="huan(-1,videoDtos.section,videoDtos.pagenum,videoDtos.pages)">换一换</button>
                    </div>
                    <div class="col-md-1 float-right" style="padding:0px;text-align:center">更多</div>
                </div>

                <div class="row">
                    <div class="col-md-4" v-for="item in videoDtos.vlist" style="padding:10px;margin-bottom: 20px;">
                        <a :href="'/v1/sp/watchvideo/'+item.videoid" target="_blank">
                            <img style="max-width: 100%;height:auto;" :src="'/v1/sp/spstatic/videos/'+item.poster_url" />
                            <div style="height:3em">{[item.video_title]}</div>
                        </a>
                        <div style="height:1em">{[item.video_author]}</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div>排行榜</div>
                <div v-for="pai in rank">{[pai]}</div>
            </div>
        </div>

        <div class="row" style="margin:50px" v-for="(item,index) in data_ajax">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9" style="text-align:left;font-weight:600;font-size: 30px;">{[item.section]}</div>
                    <div class="col-md-2 float-right" style="padding:0px;text-align:center">
                        <button @click="huan(index,item.section,item.pagenum,item.pages)">换一换</button>
                    </div>
                    <div class="col-md-1 float-right" style="padding:0px;text-align:center">更多</div>
                </div>

                <div class="row">
                    <div class="col-md-4" v-for="it in item.vlist" style="padding:10px;margin-bottom: 20px;">
                        <a :href="'/v1/sp/watchvideo/'+it.videoid" target="_blank">
                            <img style="max-width: 100%;height:auto;" :src="'/v1/sp/spstatic/videos/'+it.poster_url" />
                            <div style="height:3em">{[it.video_title]}</div>
                        </a>
                        <div style="height:1em">{[it.video_author]}</div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div>排行榜</div>
                <div v-for="pai in rank">{[pai]}</div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script_part %}
<script type="text/javascript">
var vd = {{vdata|tojson}};
    var showvideos = new Vue({
        delimiters: ['{[', ']}'],
        el:'#showvideos',
        mounted: function (){
            $.ajax({
                url:"{{ url_for('sp.lazyhome') }}",
                type:"POST",
                data:{
                    info:'ok',
                },
                dataType: "json",
                success: function(data) {
                    showvideos.$data.data_ajax = data;
                }
            })
        },
        data:{
            rank:[
                "第一名",
                "第二名",
                "第三名",
                "第四名",
                "第五名",
                "第六名",
                "第七名",
                "第八名",
                "第九名",
                "第十名"],
            data_ajax:[],
            // videoDtos:[
            // {"VideoId":1,"Title":"匿名类型在新的数据类型中的应用","Author":"黎伟"},
            // {"VideoId":2,"Title":"虚函数","Author":"黎伟"},
            // {"VideoId":3,"Title":"统计学原理","Author":"黎伟"},
            // {"VideoId":4,"Title":"数学原理对于人工智能学科建设的重要性","Author":"黎伟"},
            // {"VideoId":5,"Title":"类的继承","Author":"黎伟"},
            // {"VideoId":6,"Title":"装饰器","Author":"黎伟"}
            // ]
            videoDtos:vd,
        },
        methods: {
            huan: function(ind,section,pagenum,pages){
                var fd = new FormData();
                fd.append("section",section);
                var sendpn = pagenum;
                if (pagenum==pages){
                    sendpn = 1;
                } else{
                    sendpn = pagenum+1;
                }
                fd.append("pagenum",sendpn);
                $.ajax({
                    url:"{{ url_for('sp.huanyihuan') }}",
                    type:"POST",
                    processData: false,
                    contentType: false,
                    data:fd,
                    dataType: "json",
                    success: function(response) {
                        if (ind== -1){
                            showvideos.$data.videoDtos.vlist = response;
                            showvideos.$data.videoDtos.pagenum = sendpn;
                        } else {
                            showvideos.$data.data_ajax[ind].vlist = response;
                            showvideos.$data.data_ajax[ind].pagenum = sendpn;
                        }
                        

                    }
                })
            }
        }
    })

 
</script>
{% endblock %}
