{% extends 'videowide.html' %}
{% block header_part %}
<title id="watchtitle"></title>
<script src="/v1/auth/mystatic/com/favorcom.js"></script>
<script src="/v1/auth/mystatic/js/mny.js"></script>
<script src="/v1/auth/mystatic/js/dist/index.min.js"></script>
<link rel="stylesheet" href="/v1/auth/mystatic/js/dist/index.css" />
<script src="/v1/auth/mystatic/com/watchvideocom.js"></script>

<script>
    $(function(){
        function footerPosition(){
            var contentHeight = document.body.scrollHeight,//网页正文全文高度
                winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
            if(!(contentHeight > winHeight)){
                //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                $("footer").addClass("fixed-bottom");
            }
        }
        footerPosition();
        $(window).resize(footerPosition);
    });
</script>

{% endblock %}

{% block style_part %}
<style type="text/css"> 
img[src=""],img:not([src]){
        opacity:0;
}
.video {
position: relative;
padding-bottom: 56.25%;
/*height: 0;*/
overflow: hidden;
}
.video iframe,
.video object,
.video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/**
用于自定义的弹出框自动消失的页面样式定位等
*/

.mny-alert-position{
    position:fixed;
    top:4rem;
    left:50%;
    /*margin-left: -81px;*/
    z-index: 9999;
}

.desc-div{
    height:200px;
    overflow-y: scroll;
}

.desc-div::-webkit-scrollbar {
    width:10px;
}

.desc-div::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 5px; 
}

.videos-div{
    height:400px;
    overflow-y: scroll;
}

.videos-div::-webkit-scrollbar {
    width:10px;
}

.videos-div::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 5px; 
}
    
</style> 
{% endblock %}

{% block body_part %}
<div class="container-fluid" id="watchvideo">
    <div class="row">
    <div class="col-md-6 offset-md-1">
    <h2>{[videoDto.video_title]}</h2>
    
    <span><i class="fa fa-user" style="font-size:14px"></i>&nbsp;{[videoDto.video_author]}</span>&nbsp;&nbsp;
    <span><i class="fa fa-copyright" style="font-size:14px"></i>&nbsp;{[videoDto.video_ip]}</span>&nbsp;&nbsp;
    <span><i class="fa fa-clock-o" style="font-size:14px"></i>&nbsp;2023-02-06</span>&nbsp;&nbsp;
    <span><i class="fa fa-eye" style="font-size:14px"></i>&nbsp;879</span>&nbsp;&nbsp;
    <favor-btn :target_type="ttype" :targetid="videoDto.videoid" :favor_count="videoDto.favor_count" :favored="videoDto.favored"></favor-btn>&nbsp;&nbsp;
    <a v-if="['admin','researcher'].includes(usrrole)" :href="'/v1/sp/editvideo/'+videoDto.videoid" target="_blank" title="编辑视频"><i class="fa fa-edit" style="font-size:14px"></i></a>
    <video id="playlocal" v-if="islocal" controls="controls" width="100%" preload="auto" v-bind:src="'/v1/sp/spstatic/videos/'+videoDto.video_url" v-bind:poster="'/v1/sp/spstatic/videos/'+videoDto.poster_url" controlslist="nodownload noremoteplayback" oncontextmenu = "return false"></video>
    <p v-else class="video">
    <iframe v-bind:src="videoDto.video_url" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    </p>
    <span><i class="fa fa-sitemap" style="font-size:14px"></i>&nbsp;{[videoDto.video_class1]} -->{[videoDto.video_class2]}</span>
    <span v-if="videoDto.video_class3.length>1">-->{[videoDto.video_class3]}</span>&nbsp;&nbsp;
    <add-ques @togglequiz="togglequiz" @pushques="changeques" :userid="uid" :videoid="videoDto.videoid"></add-ques>
    <br />
    <br />
    <videoquiz v-show="showquiz" :username="uname" :quesdata="quesdata"></videoquiz>
    <div class="desc-div">{[videoDto.video_desc]}</div>
    <add-biwen :userid="uid" :biwenid="videoDto.rel_biwen"></add-biwen>

    </div>

    <div class="col-md-4">
        <h2>&nbsp;</h2>
        <div>&nbsp;</div>
        <select-cas  :clsdata="clsdata" @pushclass="reveiveclass"></select-cas>
        <update-videolist  class="videos-div" :clsdata="clsdata" @pushd="selectvideo"></update-videolist>
    </div>
    </div>



</div>


{% endblock %}

{% block script_part %}
<script type="text/javascript">
    var urole = "";
    usrid = "";
    usrname = "";
    console.log({{current_user.is_authenticated|tojson}});
    if ({{current_user.is_authenticated|tojson}}==true){
        urole = "{{current_user.role}}";
        usrid = "{{current_user.id}}";
        usrname = "{{current_user.name}}";
    }

    var videohua = $('#playlocal');
    //console.log(video); //通过打印拿到所有的属性和方法
    videohua[0]['disablePictureInPicture'] = true; //disablePictureInPicture的属性改为true

    var vdic = {{vidict|tojson}};

    var watchvideo = new Vue({
        delimiters: ['{[', ']}'],
        el:'#watchvideo',
        data:{
            videoDto:vdic,
            islocal:false,
            usrrole:urole,
            quesdata:[],
            clsdata:[],
            uname:usrname,
            uid:usrid,
            showquiz:false,
            ttype:"视频",
        },
        created: function () {
            var reg = RegExp(/mp4$/);
            if(this.videoDto.video_url.match(reg)){
                this.islocal = true;
            }
            if (this.videoDto.video_class3 && this.videoDto.video_class3.length>1) {
                this.clsdata = [this.videoDto.videoid,'三级分类',this.videoDto.video_class1,this.videoDto.video_class2,this.videoDto.video_class3]
            } else {
                this.clsdata = [this.videoDto.videoid,'二级分类',this.videoDto.video_class1,this.videoDto.video_class2,this.videoDto.video_class3]
            }
            
        },
        mounted: function () {
            var vdata = this.videoDto;
            $("#watchtitle").html(this.videoDto.video_title);
            var timelist = this.videoDto.video_length.split(':');
            var caltime = 0;
            var totaltime = 0;
            if (timelist.length==3){
                totaltime = Number(timelist[0]*3600) + Number(timelist[1]*60) + Number(timelist[2]);
                caltime = 1;
            }
            var outtime = Math.floor(Math.random()*totaltime*0.33 + totaltime*0.33)
            if (caltime==1){
                setTimeout(function () { 
                    //需要执行的代码写在这里
                    console.log("计时开始");
                    console.log(vdata);
                    var fd = new FormData();
                    
                    fd.append("video_authorid",vdata.authorid);
                    
                    fd.append("video_author",vdata.video_author);
                    fd.append("videoid",vdata.videoid);
                    fd.append("video_title",vdata.video_title);
                    fd.append("video_ip",vdata.video_ip);
                    fd.append("video_style","single");
                    $.ajax({
                        url:"{{ url_for('sp.calfees') }}",
                        type:"POST",
                        processData: false,
                        contentType: false,
                        data: fd,
                        dataType: "json",
                        success: function(response) {
                            console.log("扣款");
                            mnyAlert(1,"已减0.1熵！");
                            console.log(totaltime);
                            console.log(outtime);
                        }
                    })
                }, outtime*1000);
            }
            this.fetchques(this.videoDto.videoid);
            
        },
        methods: {
            fetchques: function(videoid) {
                $.ajax({
                    url:"{{ url_for('sp.fetchques') }}",
                    type:"POST",
                    data:{
                        videoid:videoid
                    },
                    dataType: "json",
                    success: function(data) {
                        watchvideo.$data.quesdata = data;
                    }
                })
            },
            changeques: function(obj) {
                console.log("输出传值");
                console.log(obj);
                this.quesdata.push(obj);
            },
            togglequiz: function(obj) {
                this.showquiz = !this.showquiz;
            },
            reveiveclass(cls) {
                console.log(cls);
                this.clsdata = cls;
                this.videoDto.video_fclass = cls[2];
                this.videoDto.video_sclass = cls[3];
                //this.videoDto.video_tclass = cls[4];
            },
            selectvideo(item) {
                console.log(item);
                this.fetchonevideo(item);
            },
            fetchonevideo(vid) {
                $.ajax({
					url:"/v1/sp/fetchonevideo/",
					type:"POST",
					data:{'videoid':vid},
					dataType: "json",
					success: function(response) {
						watchvideo.$data.videoDto = response;
					}
				})
            }

        },
        components: {
            'add-ques': addQues,
            'add-biwen': addBiwen,
            'videoquiz': Quiz,
            'favor-btn': favorBtn,
            'select-cas': selectCas,
            'update-videolist': updateVideolist,
        }
    })
    
"use strict";
var interval;		//定时器变量
/**
 * 封装的自定义bootstrap警示框弹出自动消失效果
 * @param type 1:成功 2：危险
 * @param msg
 * @param time 默认的是2000，即2秒
 */
function  mnyAlert(type,msg,time=2000){
    //判断页面中是否有#mny-width的dom元素，有的话将其去除
    if($('#mny-width').length > 0){
        $('#mny-width').remove();
    }
    // 先将其插入到body下
    if(type == '1'){
        $('body').append(`
        <div id="mny-width" class="alert alert-success mny-alert-position" role="alert">
            `+msg+`
        </div>
        `);
    }else if(type == '2'){
        $('body').append(`
        <div id="mny-width" class="alert alert-danger mny-alert-position" role="alert">
            `+msg+`
        </div>
        `);
    }

    //计算长度
    const mny_width = $('#mny-width').innerWidth() + 2;
    //向元素中添加内嵌样式
    $('#mny-width').css('marginLeft','-'+mny_width/2+'px');
    // console.log(time);
    //清除已存在的定时器
    clearInterval(interval)
    //将元素定时去除
    interval = window.setInterval(function () {
        $('#mny-width').remove();
    }, time);
}



</script>
{% endblock %}
