{% extends 'biwennewbase.html' %}
{% block header_part %}
<script src="/auth/mystatic/js/vue.js"></script>
<!-- <script src="/auth/mystatic/com/favorcom.js"></script>
<script src="/auth/mystatic/com/searchcom.js"></script> -->
<title>文章</title>
{% endblock %}

{% block style_part %}
<style type="text/css"> 
	.table-css{
      vertical-align:middle;
      text-align:center;
    }
    .table-css tr td{
    padding-right:50px;
    }
    .table-css tr th{
    padding-right:50px;
    }
    .shenglve {
    	width:30%;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	
    }
    
</style> 
{% endblock %}

{% block body_part %}

<div style="margin:0 auto; height:20px;" class="col-md-12"></div>
<div id="app" style="margin:0 auto;">
<!-- <search-form @pushquery="receivequery"></search-form> -->
<table v-if="vdata.length>0" class="table-css">
    <tr>
        <th>标题</th>
        <th>作者</th>
        <th>操作</th>
    </tr>
    
    <!-- <tr v-for="item in vdata">
    <td style="text-align:left;">
        <a :href="'/tw/article/'+item.biwenid" target="_blank">{[item.title]}</a>
        
        <span v-if="item.coediting==1" style="margin-left:5px;" class="badge badge-info">有修订</span>
    </td>
    <td>{[item.author_name]}</td>
    <td>
    <a :href="'/tw/editarticle/'+item.biwenid" target="_blank"><button class="btn btn-default">编辑文章</button></a>
    <button v-if="[item.author_id,35].includes(uid)" class="btn btn-default" :id="item.biwenid" @click="deletearticle(item.biwenid)">删除文章</button>
    </td>
    </tr> -->

    
    
</table>
<!-- <pagination @pushnum="curnum" :allpnum="pageamount"></pagination> -->
<br>
<br>
</div> 

		
	


{% endblock %}

{% block script_part %}
<script type="text/javascript">
// var indexdata = {{vdata|tojson}}
usrid = {{current_user.id|tojson}};
var arvue = new Vue({
    el: '#app',
    delimiters: ['{[', ']}'],
    data:{
            // vdataori:indexdata,
            vdata:[],
            uid:usrid,
            size:20,
            pageamount:1
    },
    created: function(){
        console.log("看时间1")
    },
    mounted: function(){
        // this.pageamount = Math.ceil(this.vdataori.length / this.size);
        // console.log(this.pageamount);
        // this.curnum(1);
        console.log("看时间2")
        
    },
    methods: {
        deletearticle:function(obj){
        var articleid = obj;
        if (confirm("确定删除此文章？")) {
            
            $.ajax({
                url:"{{ url_for('tw.deletearticle') }}",
                type:"POST",
                data:{
                    articleid:articleid
                },
                dataType: "json",
                success: function(response) {
                    location.reload();
                }
            })
        }
        },
        // curnum: function(obj) {
        //     console.log(obj);
        //     var curpage = obj - 1;
        //     if(this.size * curpage >= this.vdataori.length){
        //         last = this.vdataori.length;
        //     }else{
        //         last = this.size * curpage + this.size;
        //     }
        //     this.vdata = this.vdataori.slice(this.size * curpage,last);
        // },
        // receivequery: function(obj){
        //     console.log(obj);
        //     this.vdataori = obj;
        //     this.pageamount = Math.ceil(this.vdataori.length / this.size);
        //     this.curnum(1);
        // }
    },
    // components: {
    //     'pagination': Pagination,
    //     'search-form': searchForm,
    // }
})



    
</script>
{% endblock %}
