{% extends 'biwennewbase.html' %}
{% block header_part %}
<title>专栏</title>
{% endblock %}

{% block style_part %}
<style type="text/css"> 
.outer {
    border:solid #a0f 1px;border-radius:10px;margin:20px 0px;
}
</style> 
{% endblock %}

{% block body_part %}

<div style="margin:0 auto;">
	<div class="row text-center"><h3 class="col-md-12 text-center">{{zl.zhuanlan_title}}</h3></div>
	<br />
	
	{% for zz in zdata %}
	<div class="outer">
		<h4 class="col-md-12">
			<a style="color:#a0f" href="{{ url_for('tw.article',articleid= zz['biwenid']) }}" target="_blank">{{zz['title']}}</a>
		</h4>
		<div class="col-md-12">
			塾主: {{zz['author_name']}}&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="{{ url_for('tw.editarticle',articleid=zz['biwenid']) }}" target="_blank"><i class="fa fa-pencil" style="font-size:20px;line-height: 30px;"></i></a>
		</div>
	</div>
	{% endfor %}
	<br>
	<br>
	<br>

</div> 

		
	


{% endblock %}

{% block script_part %}
<script type="text/javascript">


    
</script>
{% endblock %}
