{% extends 'adminbase.html' %}
{% block header_part %}

{% endblock %}

{% block style_part %}
<style type="text/css"> 
    img[src=""],img:not([src]){
         opacity:0;
    }
    .table-css tr td{
    padding-right:50px;
    }
    .table-css tr th{
    padding-right:50px;
    }
    
</style> 
{% endblock %}

{% block body_part %}
<div id="app">
    <div style="margin:0 auto; height:50px;" class="col-md-12"></div>
    <div class="row" style="margin-top:10px">
    <div class="col-md-2 kaoyou">已用：</div>
    <label>{[cdata[1]]}/{[cdata[0]]}</label>
    </div>

    <div class="row" style="margin-top:10px">
      <div class="col-md-2 kaoyou">已连：</div>
      <label>{[cdata[2]]}/{[cdata[0]]}</label>
    </div>


      <div style="height:50px;" class="col-md-12"></div>
      <input class="btn btn-primary" @click="tijiao()" type="submit" value="提交查询"></input>
</div>


{% endblock %}

{% block script_part %}
<script type="text/javascript">
const app = Vue.createApp({
  data() {
    return {
      cdata:[1,0,0],
    }
  },
  delimiters: ['{[', ']}'],

  methods: {
    tijiao(){
      var fd = new FormData();
      fd.append("query","yes");
      $.ajax({ 
          url:"{{ url_for('am.getprofile') }}",
          type:"POST",
          processData: false,
          contentType: false,
          data:fd,
          dataType: "json",
          success: function(response) {
            statusvue.cdata = response;


          }
      })
    }
  }
})

const statusvue = app.mount('#app')  


    
</script>
{% endblock %}
