{% extends 'adminbase.html' %}
{% block header_part %}
<script src="/v1/auth/mystatic/js/vue.js"></script>
<script src="/v1/auth/mystatic/com/favorcom.js"></script>
<title>报错信息</title>
{% endblock %}

{% block style_part %}
<style type="text/css"> 
.outer {
    border:solid #a0f 1px;
    border-radius:10px;
    margin:20px 0px;
    padding:5px;
    white-space:pre-wrap;
}
</style> 
{% endblock %}

{% block body_part %}

<div id="app" style="margin:0 auto;">
<div class="row text-center"><h2 class="col-md-12 text-center">报错信息</h2></div>
<div v-for="dd in vdata" class="row outer">
    {[dd]}
</div>
<pagination @pushnum="curnum" :allpnum="pageamount"></pagination>
<br>
<br>
</div> 
{% endblock %}

{% block script_part %}
<script type="text/javascript">
var indexdata = {{errordata|tojson}}
usrid = {{current_user.id|tojson}};
var arvue = new Vue({
    el: '#app',
    delimiters: ['{[', ']}'],
    data:{
            vdataori:indexdata,
            vdata:[],
            uid:usrid,
            size:10,
            pageamount:1
    },
    mounted: function(){
        this.pageamount = Math.ceil(this.vdataori.length / this.size);
        console.log(this.pageamount);
        this.curnum(1);
        
    },
    methods: {
        curnum: function(obj) {
            console.log(obj);
            var curpage = obj - 1;
            if(this.size * curpage >= this.vdataori.length){
                last = this.vdataori.length;
            }else{
                last = this.size * curpage + this.size;
            }
            this.vdata = this.vdataori.slice(this.size * curpage,last);
        },
    },
    components: {
        'pagination': Pagination,
    }
})



    
</script>
{% endblock %}
