*{
	margin:0;
	padding: 0;
}

/*图标字体*/

@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), url('font/iconfont.woff') format('woff'), url('font/iconfont.ttf') format('truetype'), url('font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

html,body{
	height: 100%;
	font-family: "微软雅黑";
	font-size: 16px;
}
/*mind容器*/
#jsmind_container {
    width: 100%;
    height: 100%;
}

/*备注*/
.remarkBox{
	display: none;
}
.remarkHint,
.remarkContent{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 666;
}

.remarkContent{
	width: 400px;
	height: 300px;
	border: 1px solid #1883D7;
	background-color: #fff;
}
.rmarkTitle{
	height: 27px;
	font-weight: 400;
	line-height: 27px;
	cursor: move;
}
.rmarkTitle img{
	height:18px;
	vertical-align: middle;
	margin:0 6px;
}
.remarkBtn{
	padding: 5px;
	background-color:#B6D1F8;
}
.remarkBtn button{
	width: 60px;
	height: 30px;
}
.remarkInput{
	width: 99.6%;
	height: 77%;
}

/*鼠标右键菜单*/

#right_menu {
    width: 160px;
    position: absolute;
    display: none;
    list-style: none;
    border: 1px solid #b3b3b3;
    font-size: 16px;
    background-color: #ebebeb;
    -webkit-box-shadow: 4px 4px 4px rgba(6, 0, 1, 0.1);
    box-shadow: 4px 4px 4px rgba(6, 0, 1, 0.1);
    z-index: 999;
}

#right_menu li {
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    box-sizing: border-box;
}

#right_menu li:hover {
    border-color: #0279f6;
}

#right_menu em,
#right_menu span {
    display: inline-block;
    float: left;
    height: 28px;
    line-height: 28px;
}

#right_menu em {
    width: 35px;
    color: #0278F4;
    border-right: 1px solid #d9d9d9;
    text-align: center;
}

#right_menu span {
    width: 110px;
    padding-left: 10px;
    border-left: 1px solid #fff;
}

/*获取数据按钮*/
.btn-box{
	padding:10px 20px;
	margin-top:10px;
	position: fixed;
	top:0px;
	z-index: 666;
}

.zoom-box{
	position: fixed;
	margin-left:20px;
	bottom: 30px;
	z-index: 666;
}


/*备注和附件标记*/
.mindMarkBox{
	width: 40px;
	/*height: 20px;*/
}
.remarksN,
.fileMarkN{
	position: absolute;
	width: 20px;
	height: 18px;
	/*z-index: 999;*/
	background-size: 100% 100%;
}

.remarksN{
	background-image: url(../img/bz.png);
}
.fileMarkN{
	background-image: url(../img/wj.png);
	left: 30px;
}

/*文件导入框*/
#importInput{
	display: none;
}




