@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

#article-editor {
  width:25%;
  height: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom:100px;
  padding-top:10px;
  background: #F2F5F8;
  overflow-y: auto;
}


#chat-window {
  width: 100%;
  height:100%;
  float: center;
  background: #F2F5F8;
  border-radius: 5px;
  color: #434651;
  overflow-y: auto;
  display:none;
}
.chat .chat-header {
  padding: 10px;
  border-bottom: 2px solid white;
}

.back-arrow {
  float: left;
  height: 20px;
  margin-top: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.chat .chat-header .chat-about {
  text-align: center;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 20px;
  
}

.chat .chat-history {
  padding: 10px 10px 5px;
  border-bottom: 2px solid white;
  height:306px;
  overflow-y: scroll;
}


.chat .chat-history li{
  overflow-y: auto;
}

.chat .chat-history .message-data-left {
  margin-left: 50px;
  margin-top: -5px;
  right: 100%;
  left:7%;
}

.chat .chat-history .message-data-right {
  margin-right: 5px;
  margin-top: -5px;
  text-align: right;
  

}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  font-size: 10px;
}

.chat .chat-history .message-data-name {
  font-size: 10px;
}


.left-img {
  float: left;
  height: 40px;
  border-radius: 4px;
}

.right-img {
  float: right;
  height: 40px;
  margin-left: 10px;
  border-radius: 4px;
  right:10px;
  top:10px;
  display: inline-block;
}


.chat .chat-history .other-message {
  background: #86BB71;
  float:left;
  color: white;
  padding: 4px 5px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  max-width: 80%;
  position: relative;
}
.chat .chat-history .my-message {
  background: #94C2ED;
  text-align: left;
  color: white;
  padding: 4px 5px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  max-width: 80%;
  float:right;
  position: relative;
}
.chat .chat-history .my-message:after {
  border-bottom-color: #94C2ED;
  left: 100%;
  top: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #94C2ED;
  border-width: 5px;
  margin-bottom: -5px;

}

.chat .chat-history .other-message:after {
  border-bottom-color: #86BB71;
  right: 100%;
  top: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #86BB71;
  border-width: 5px;
  margin-bottom: -5px;
}



.chat .chat-message {
  padding: 10px;
  bottom:30px;
  background: #F2F5F8;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 5px 5px;
  font: 16px/16px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix img{
    border-radius: 52px; 
	overflow: hidden;
}
/*返回图片大小*/
.myimg {
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#chat-control{
	bottom:30px;
	height:70px;
	width:25%;
	z-index: 666;
	position:fixed;
	text-align:center;
}

#chat-control .icon-control{
	width:80px;
	cursor:pointer;
	position:relative;
	text-align:center;
	margin: 0px 10px;
	display: inline-block;
}

.icon-control img {
  float: center;
  height: 40px;
}

.icon-control span {
  font-size: 16px;
  font: "Lato", Arial, sans-serif;
}



#active-window {
  width: 100%;
  height:100%;
  float: center;
  background: #F2F5F8;
  border-radius: 5px;
  color: #434651;
  position:relative;
  
}

#active-title {
  width: 100%;
  padding:20px;
  text-align: center;
}

.active-list {
  padding: 10px;
  width: 100%;
  height:400px;
  overflow-y:scroll;
}



.active-item {
  margin:8px 0;
  width: 100%;
  overflow:hidden;
  display:inline-block;
  cursor:pointer;
}

.active-item img {
  float: left;
  display: inline;
  height: 50px;
  width:50px;
  margin-right: 5px;
  border-radius: 5px;
}



.active-person {
  padding-left: 10px;
  overflow:hidden
}

.active-name {
  font-weight: bold;
  font-size: 20px;
  position: relative;
}

.active-name::before {
  content: " ";
  border: 3px solid red;/*设置红色*/
  border-radius:3px;/*设置圆角*/
  position: absolute;
  z-index: 700;
  right: 0;
  margin-right: -8px;

}

.active-info {
  color: #92959E;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


#contacts-window {
  width: 100%;
  height:100%;
  float: center;
  background: #F2F5F8;
  border-radius: 5px;
  color: #434651;
  position:relative;
  display:none;
}

#contacts-title {
  width: 100%;
  padding:20px;
  text-align: center;
}

.contacts-list {
  padding: 10px;
  width: 100%;
  height:400px;
  overflow-y:scroll;
}



.contacts-item {
  margin:8px 0;
  width: 100%;
  overflow:hidden;
  display:inline-block;
  cursor: pointer;
}

.contacts-img {
  float: left;
  display: inline;
  height: 50px;
  width:50px;
  margin-right: 5px;
  border-radius: 5px;
}

.contacts-person {
  padding-left: 10px;
  overflow:hidden
}

.contacts-name {
  font-weight: bold;
  font-size: 20px;
}

.contacts-info {
  color: #92959E;
  margin-top: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}




#user-window {
  width: 100%;
  height:100%;
  float: center;
  background: #F2F5F8;
  border-radius: 5px;
  color: #434651;
  overflow-y: auto;
  position:relative;
  display:none;
}

.user-portrait {
  padding:20px 20px;
  width: 100%;
  overflow:hidden
}



.user-portrait img {
  float: left;
  display: inline;
  height: 60px;
  width:60px;
  margin-right: 5px;
  border-radius: 5px;
}


.notices {
    width:8px;
    height:8px;
    background-color:#f00;
    border-radius:50%;
    position:relative;
    float: left;
    margin-left: -14px;
}

#user-window hr {
  color: #92959E;
}

.user-details {
  float: left;
  display: inline;
  padding-left: 10px;
  overflow:auto;
}

.user-name {
  font-weight: bold;
  font-size: 20px;
}

.user-info {
  color: #92959E;
  margin-top: 6px;
}

#outchat {
  font-weight: bold;
  font-size: 20px;
}

.outbutton {
  padding: 20px;
  text-align: center;
}
