{% extends 'ntbase.html' %}
{% block header_part %}
{% endblock %}

{% block style_part %}
<style type="text/css"> 
.img-item img {
	width: 240px;
	border-radius: 5px;
	

}

.img-item img:hover {

	box-shadow: 0px 0px 4px 4px rgba(135, 15, 17, 0.308);
}

li,
ul {
	list-style: none;
}

.img-item {
	width: 240px;
	margin-right: 20px;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

#img-div {
	position: relative;
	padding-left: 20px;
	display: block;
	float: left;
}


.img-title {
	color: rgba(135, 15, 17, 0.562);
	font-size: 16px;
	margin: 5px auto;
}

.img-a {
	text-decoration: none;
}
</style> 
{% endblock %}

{% block body_part %}
		
	<div class="row">
		<div style="margin:0 auto;width:700px;text-align:center">
		<form style="margin:10 auto;" action="/v1/nt/search/" method="post">
			<input style="width:550px; background-color:#FFF;" type="text" name="question">
			<input style="width:100px" type="submit" value="搜索一下">
		</form>
		</div>
		<div style="margin:0 auto; height:10px;" class="col-md-12"></div>
		<br/>
		<HR align=center width=100% color=#987cb9 SIZE=3px>
		<br/>
		<div style="margin:0 auto; height:10px;" class="col-md-12"></div>
		
		
		<div id="img-div">
			<ul class="img-list">
				{% for md in minddata %}
				<li class="img-item">
					<a href="/v1/nt/brains/{{ md[0] }}" class="img-a" target="_blank">
						<div>
							<img src="{{url_for('nt.static',filename='img/greenfield.jpg')}}" >
						</div>
						<div class="img-title">
							{{ md[1] }}
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		
		
	</div>
{% endblock %}
	
{% block script_part %}
	<script>

		
	</script>
{% endblock %}