<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/FileSaver.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <br>
        <h1>欢迎你！</h1>
        <br>

        <br>
        <div class="row" id="zong">
            <div class="col-md-12">
            <button onclick="downtxt()">导出文本</button>

			</div>


        </div>
    </div>





<div>

</div>

<script type="text/javascript">
    var testData={"data":[
        {
            "parentid": "07isdhuml6qu6221oraq9193da",
            "topic": "化学物质，食品、药品都可以获得德国实用新型的保护",
            "id": "56opaikjanlo5asq6asg9736mq",
            "graphid": "de"
        },
        {
            "parentid": "07isdhuml6qu6221oraq9193da",
            "topic": "德国新型还保护第二医药用途（second medical use claim",
            "id": "4svhg4oelkmdhlbhvn9fsbu5pg",
            "graphid": "de"
        },
        {
            "parentid": "4uaqnhj17j1oc8ekvui0v22d3q",
            "topic": "保护客体",
            "id": "07isdhuml6qu6221oraq9193da",
            "graphid": "de"
        },
        {
            "parentid": "6knthhmcujij1kia7d0j52h086",
            "topic": "不进行实质审查，进行注册制",
            "id": "2omaoqsect0psjtl3r0ete6n9u",
            "graphid": "de"
        },
        {
            "parentid": "6knthhmcujij1kia7d0j52h086",
            "topic": "德国新型采取相对新颖性标准，也就是说在德国以外的使用公开的证据不能破坏德国实用新型的新颖性。",
            "id": "703lq70it18qchfi0r257etl26",
            "graphid": "de"
        },
        {
            "parentid": "6knthhmcujij1kia7d0j52h086",
            "topic": "只有在德国境内通过书面方式的公开，才会被认为是现有技术。",
            "id": "5c6lr8n7sjkv5e7v64ht1udh9n",
            "graphid": "de"
        },
        {
            "parentid": "6knthhmcujij1kia7d0j52h086",
            "topic": "抵触申请只考虑权利要求，即只有记载在抵触申请权利要求中的内容才破坏在后实用新型申请的新颖性。",
            "id": "4j469tsbntptb0leo0qqnitmj1",
            "graphid": "de"
        },
        {
            "parentid": "4uaqnhj17j1oc8ekvui0v22d3q",
            "topic": "审查",
            "id": "6knthhmcujij1kia7d0j52h086",
            "graphid": "de"
        },
        {
            "parentid": "2q4q8j0tmvmklc6r7069is782q",
            "topic": "申请后约6—14个月授权",
            "id": "29fsbf0uqgp9ssh8ras6e5s2ff",
            "graphid": "de"
        },
        {
            "parentid": "2q4q8j0tmvmklc6r7069is782q",
            "topic": "自申请日起10年的专利保护",
            "id": "7rngcg23ijehnkqhn69r9d9ed4",
            "graphid": "de"
        },
        {
            "parentid": "2q4q8j0tmvmklc6r7069is782q",
            "topic": "没有重复授权的问题！同一个发明创造，申请人可以同时拥有相同保护范围的德国发明和实用新型。",
            "id": "3mnnseokbf59b2q5rnq7msk0m5",
            "graphid": "de"
        },
        {
            "parentid": "2q4q8j0tmvmklc6r7069is782q",
            "topic": "申请人可以在发明遇到消极审查信息时，分出实用新型，从而获得一个或多个实用新型授权",
            "id": "7te6btetsrmj3pk36l9imqfh2t",
            "graphid": "de"
        },
        {
            "parentid": "2q4q8j0tmvmklc6r7069is782q",
            "topic": "授权后自行要求德国专利局另外对其申请进行新颖性审查",
            "id": "3ri5v8iuefdp16c3fueei2lpvg",
            "graphid": "de"
        },
        {
            "parentid": "2q4q8j0tmvmklc6r7069is782q",
            "topic": "对于已经授权的实用新型专利，专利权人随时都可以再提交新的权利要求书",
            "id": "0usf8rdlf4t44sebj3mgefjupm",
            "graphid": "de"
        },
        {
            "parentid": "2q4q8j0tmvmklc6r7069is782q",
            "topic": "新提交的权利要求书，同样不经实质审查，经注册即可授权。",
            "id": "4om75e246p3f4efoclq7an675o",
            "graphid": "de"
        },
        {
            "parentid": "4uaqnhj17j1oc8ekvui0v22d3q",
            "topic": "授权",
            "id": "2q4q8j0tmvmklc6r7069is782q",
            "graphid": "de"
        },
        {
            "parentid": "2qer3l1cifrmd5jqvbj73pei31",
            "topic": "实用新型的专利权人可以基于德国新型专利向法院申请临时禁令，及要求损害赔偿。",
            "id": "360s3g5r1rdi6hr2im2347dgmd",
            "graphid": "de"
        },
        {
            "parentid": "2qer3l1cifrmd5jqvbj73pei31",
            "topic": "在实施专利前，专利权人应向法院提交一份检索报告来证明新型符合专利授权标准。",
            "id": "6qp86rr56e978lipr8t8ofvo2m",
            "graphid": "de"
        },
        {
            "parentid": "4uaqnhj17j1oc8ekvui0v22d3q",
            "topic": "用权",
            "id": "2qer3l1cifrmd5jqvbj73pei31",
            "graphid": "de"
        },
        {
            "parentid": "6d1vp72re0vai4gjcu06vhilf5",
            "topic": "官费仅仅30欧元。分三次缴纳维持费，第4-6年（210欧）、第7-8年（350欧）、第9-10年（530欧）",
            "id": "2uk3ab5b3s1dh73m87meuk224s",
            "graphid": "de"
        },
        {
            "parentid": "4uaqnhj17j1oc8ekvui0v22d3q",
            "topic": "费用",
            "id": "6d1vp72re0vai4gjcu06vhilf5",
            "graphid": "de"
        }
        ],
    format:"node_array",
    meta:{author:"hizzgdev@163.com",name:"example",version:"0.2"}
}




function downtxt(){
    name = "工作计划";
    var stringlist = [];
    function printList(parentId, tree, spaceStr = ''){
        tree.forEach(function (x){
            if (x["parentid"] == parentId){
                stringlist.push(spaceStr+x["topic"]);
                printList(x["id"], tree, spaceStr + '\t')
            }
        });
    }
    printList("4uaqnhj17j1oc8ekvui0v22d3q", testData["data"]);
    var arraystr = stringlist.join("\n");

    var blob = new Blob([arraystr], {
            type: "text/plain;charset=utf-8"
        });
        saveAs(blob, name + ".txt");
}

</script>



</body>
</html>

