<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>脑图</title>
		<link rel="shortcut icon" href="/v1/auth/mystatic/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/css/jsmind.css">
		<link rel="stylesheet" type="text/css" href="../static/css/index.css">
		<script>
			var braintemp = {{brainid|tojson}};
			console.log(braintemp.length);
			if (braintemp.length<30){
			var brain_id = braintemp.toString();
			console.log(brain_id.length);
			var testData={data:[{id: brain_id, topic: "中心主题", expanded: true, isroot: true},],
				format:"node_array",
				meta:{author:"hizzgdev@163.com",name:"example",version:"0.2"}
			}
			console.log("打开新脑图");
			console.log(testData);
			}
			else {
				var convdata = JSON.parse(braintemp);
				var testData={data:convdata,
				format:"node_array",
				meta:{author:"hizzgdev@163.com",name:"example",version:"0.2"}
			}
			}
		</script>
	</head>

	<body>
		<div id="jsmind_container"></div>
		<div class="btn-box">
			<button class="getDataBtn" onclick="getData();">保存脑图</button>
			<button onclick="alignType('full');">两端对齐</button>
			<button onclick="alignType('side');">右对齐</button>	
			<button id="downloadJson">导出json</button>
			<button id="downloadTxt">导出txt</button>
			<button onclick="downloadxmind();">导出xmind</button>	
			<button id="importData">导入脑图</button>
			<input id="importInput" type="file" onchange="importFn(this)" />
		</div>
		
		<div class="zoom-box">
			<button onclick="zoomIn()" style="width:20px;height:20px;font-size:14px;">+</button><br>
			<button onclick="zoomOut()" style="width:20px;height:20px;font-size:14px;">-</button>
		</div>

		<!--上传文件框-->
		<input id="fileInput" type="file" hidden/>

		<!--右键菜单-->
		<ul id="right_menu">
			<li onclick="add_subNode();"><em class="iconfont">&#xe639;</em><span>同级</span></li>
			<li onclick="add_node();"><em class="iconfont">&#xe639;</em><span>下级</span></li>
			<li onclick="delete_node();"><em class="iconfont">&#xe618;</em><span>删除</span></li>
			<li onclick="showRemark();"><em class="iconfont">&#xe7d1;</em><span>备注</span></li>
			<li onclick="delRemark();"><em class="iconfont">&#xe618;</em><span>删除备注</span></li>
		</ul>
		<!--备注弹框-->
		<div id='remark_box' class="remarkBox">
			<div class="remarkHint"></div>
			<div class="remarkContent">
				<h5 class="rmarkTitle"><img src="../static/img/logo-101x107.png" alt="logo" />节点备注</h5>
				<h5 id="edit_info"></h5>
				<div class="remarkBtn">
					<button id="remark_sureBtn">确定</button>
					<button id="remark_canaelBtn">取消</button>
				</div>
				<textarea id="remark_input" class="remarkInput"></textarea>
			</div>
		</div>
		<script type="text/javascript">
		   window.onbeforeunload = function() { 
			   return "离开页面前请确保数据已保存！";
		   }
		</script>
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/jsmind.js"></script>
		<script src="../static/js/jsmind.draggable.js"></script>
		<script src="../static/js/FileSaver.min.js"></script>
		<script src="../static/js/index.js"></script>

	</body>

</html>