<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>高亮</title>
</head>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<body>
<style>
.highlight { 
    background: #ff9; 
}
.highlight2 { 
    background: #ff5; 
}
.highlight3 { 
    background: #fff; 
}
.highlight4 { 
    background: #00f; 
}
.delete { 
    color: red; 
    text-decoration: line-through;
}
.add { 
    color: blue; 
    text-decoration:underline;
}
</style>

<!-- 
<input type="button" id="button" value="手动高亮"/>

			<script>
		         var text = document.getElementById("text");
		         var button = document.getElementById("button");
		         button.onclick = function() {
					 var content = $("#content")[0];
					 var contents = content.innerHTML;
		             var value = text.value;
		             var values = contents.split(value);
		             content.innerHTML = values.join('<span style="background:red;">' + value + '</span>');
		         };
				contenteditable="true"
				alert(range.toString()); 
				var oB1 = document.getElementById('b1');
				var re = /bar/g,
				<input type="button" value="高亮白" onclick="hi21()"/>
				<input type="button" value="高亮黄" onclick="hi22()"/>
		    </script> -->


<div id="content" class="whole" ondragstart="return false" ondragenter="return false" ondragend="return false" onBlur="blurEdit()" contenteditable="true" style="height:220px; border:1px solid #000;ime-mode:disabled">
	利用所述文本分类模型的特征融合层对所述的特征数据进行编码，生成所述文本样本对应的全局特征。
</div>
		    <input type="text" type="password" onpaste="return false" ondragenter="return false" oncontextmenu="return false;" style="ime-mode:disabled" id="text1" placeholder="请输入需高亮关键字" value="啦啦啦啦"></input>
		    <input type="button" value="搜索" onclick="hi1()"/>
			<input type="button" value="去高亮" onclick="hi2()"/>
			<input type="button" value="加高亮" onclick="hi3()"/>
			<input type="button" value="预标记" onclick="hi4()"/>
			<input type="button" value="输出" onclick="hi6()"/>

			<br>

			<input type="text" id="text2" placeholder="请输入需添加的文本"/>
		    <input type="button" value="添加" onclick="tianjia()"/>
		    <input type="button" value="删除" onclick="shanchu()"/>



		    <script type = 'text/javascript'>
		    	var position;
		  //   	$('#content').keydown(function(e){
				//     e.preventDefault();
				// });
				var chushi = "利用所述文本分类模型的特征融合层对所述的特征数据进行编码，生成所述文本样本对应的全局特征。";
				var bubian = true;
				$('#content').on('input', function() {
					console.log(bubian);
					if (bubian){
						$('#content').html(chushi);
					}
					
				});

				 // var timeVal = ""
				 // $("content").on("keydown",function () {
				 // 			   //禁止输入文字
					//            return false
				 //         }).on("compositionstart", function (e) {
				 //         	   //输入开始时,将原本的值记录下来
				 //               timeVal = $(this).val();
				 //               console.log('开始输入');
				 //         }).on("compositionend", function (e) {
				 //         	   //输入结束时,将input重新赋值
				 //               $(this).val(timeVal);
				 //               console.log('结束输入');
					// 	 });

				// $('#content').die; 
		         function blurEdit(){
		         	position = window.getSelection().getRangeAt(0);
		         	console.log(position.endOffset);
		         	console.log(position.startContainer.parentNode.className);
		         	//console.log(position.collapsed);
		         	//console.log(position.commonAncestorContainer);
		         }

		         function tianjia(){
		         	bubian = false;
		         	var text = document.getElementById("text2");
		         	var value = text.value;
		         	var stno = position.startContainer.parentNode;
		         	if (stno.className!='whole'){
						console.log('非也')
						position.setStartAfter(stno);
					}
		         	for (var i = value.length-1; i >=0; i--) {
					var oSpan = document.createElement("span");
					oSpan.innerHTML = value[i];
					oSpan.setAttribute('class', 'add');
					position.insertNode(oSpan);
					}
		         	chushi = $("#content")[0].innerHTML;
		         	console.log(chushi);
		         	bubian = true;
		         	text.value = '';
		         	//window.getSelection().removeAllRanges();
		         }

		         function tianjia2() {
					var range = window.getSelection().getRangeAt(0);
					var s2 = range.toString();
					range.deleteContents()
					//var DD = document.createElement("span");
					//DD.setAttribute('id', 'del');
					//range.surroundContents(DD);
					//var de = document.getElementById("del");
					//EE.insertAdjacentText('afterend', s2);
					console.log(s2);
					for (var i = s2.length-1; i >=0; i--) {
					var oSpan = document.createElement("span");
					oSpan.innerHTML = s2[i];
					oSpan.setAttribute('class', 'highlight3');
					range.insertNode(oSpan)
					}
					var text = document.getElementById("content");
					var rep1 = text.innerHTML;
					var rep2 = rep1.replace(new RegExp('<span class="highlight3"></span>', "g"), (''));
					var rep3 = rep2.replace(new RegExp('<span class="highlight"></span>', "g"), (''));
					text.innerHTML = rep3;
					//console.log(range.startContainer);
					//console.log(range.endContainer);
					//selection.removeChild(selection.options[0]);
					//var TT = document.createElement("Text");
					//range.insertAdjacentText('afterend', s2);
					//range.surroundContents(oSpan2);
					//alert(range.endOffset); 
				};

		         function shanchu() {
					var range3 = window.getSelection().getRangeAt(0);
					var ss = range3.toString()
					//var ee = range3.endOffset
					//console.log(ss[0])
					//console.log(ee)
					range3.deleteContents()
					for (var i = ss.length-1; i >=0; i--) {
					var oSpan = document.createElement("span");
					oSpan.innerHTML = ss[i];
					oSpan.setAttribute('class', 'delete');
					range3.insertNode(oSpan)
					}
					
				 };
		         
		        function hi1() {
					var text = document.getElementById("text1");
					var content = $("#content")[0];
					var contents = content.innerHTML;
					var value = text.value;
					var values = contents.split(value);
					content.innerHTML = values.join('<span style="background:red;">' + value + '</span>');
		         };
				function hi2() {
					var range = window.getSelection().getRangeAt(0);
					var s2 = range.toString();
					range.deleteContents()
					//var DD = document.createElement("span");
					//DD.setAttribute('id', 'del');
					//range.surroundContents(DD);
					//var de = document.getElementById("del");
					//EE.insertAdjacentText('afterend', s2);
					console.log(s2);
					for (var i = s2.length-1; i >=0; i--) {
					var oSpan = document.createElement("span");
					oSpan.innerHTML = s2[i];
					oSpan.setAttribute('class', 'highlight3');
					range.insertNode(oSpan)
					}
					var text = document.getElementById("content");
					var rep1 = text.innerHTML;
					var rep2 = rep1.replace(new RegExp('<span class="highlight3"></span>', "g"), (''));
					var rep3 = rep2.replace(new RegExp('<span class="highlight"></span>', "g"), (''));
					text.innerHTML = rep3;
					//console.log(range.startContainer);
					//console.log(range.endContainer);
					//selection.removeChild(selection.options[0]);
					//var TT = document.createElement("Text");
					//range.insertAdjacentText('afterend', s2);
					//range.surroundContents(oSpan2);
					//alert(range.endOffset); 
				};
				function hi21() {
					var range21 = window.getSelection().getRangeAt(0);
					var oSpan22 = document.createElement("span");
					oSpan22.setAttribute('class', 'highlight3');
					range21.surroundContents(oSpan22);
				};
				function hi22() {
					var range22 = window.getSelection().getRangeAt(0);
					var oSpan22 = document.createElement("span");
					oSpan22.setAttribute('class', 'highlight2');
					range22.surroundContents(oSpan22);
					
				}; 
				function hi3() {
					var range3 = window.getSelection().getRangeAt(0);
					var ss = range3.toString()
					//var ee = range3.endOffset
					//console.log(ss[0])
					//console.log(ee)
					range3.deleteContents()
					for (var i = ss.length-1; i >=0; i--) {
					var oSpan = document.createElement("span");
					oSpan.innerHTML = ss[i];
					oSpan.setAttribute('class', 'highlight2');
					range3.insertNode(oSpan)
					}
					
					//oRange.setStart(liwei.parent, 5);
					//oRange.setEnd(liwei.parent, 14);
					//var oSpan = document.createElement("span");
					//oSpan.setAttribute('class', 'highlight');
					//oRange.surroundContents(oSpan);
					
				 };
				
				function hi4() {
					var liwei = document.getElementById("content");
					var contents = liwei.innerHTML;
					var rep = contents
					var arr = []
					var aa = new RegExp("所述的?(.{7})", "g")
					while ((match = aa.exec(contents)) != null) {
						//rep = rep.replace(match[0], ("<span class='highlight'>" + match[0] + "</span>"));
						arr.push(match[0])
						//var oRange4 = document.createRange();
						//oRange4.setStart(liwei.firstChild, match.index);
						//oRange4.setEnd(liwei.firstChild, match.index+4);
						//var oSpan = document.createElement("span");
						//oSpan.setAttribute('class', 'highlight');
						//oRange4.surroundContents(oSpan);
					    
						
					}
					quchong = [...new Set(arr)];
					//console.log(quchong);
					dasui = []
					for (var i = 0; i < quchong.length; i++) {
						singles = ""
						for (var j = 0; j < quchong[i].length; j++) {
						singles = singles + "<span class='highlight'>" + quchong[i][j] + "</span>"
						}
						dasui.push(singles)
					}
					
					for (var i = 0; i < quchong.length; i++) {
						rep = rep.replace(new RegExp(quchong[i], "g"), dasui[i]);
					}
					liwei.innerHTML = rep
				 };
				function hi5() {
					var liwei5 = document.getElementById("content");
					var content5 = liwei5.innerHTML;
					var nn = liwei5.childNodes;
					for (var i = 0; i < nn.length; i++) {
						console.log(nn[i])
					}
					console.log(nn.length)
					console.log(content5)
					
					
				};
				
				function hi6() {
					var liwei6 = document.getElementById("content");
					var content6 = liwei6.innerHTML;
					var nn6 = liwei6.childNodes;
					var arr1 = []
					for (var i = 0; i < nn6.length; i++) {
						if (nn6[i].className == null){
						CT = nn6[i].textContent
						var CT1 = CT.replace(new RegExp('\n', "g"), (''));
						var CT2 = CT1.replace(new RegExp('\t', "g"), (''));
						//如果没有classname就去除空白字符
						for (var j = 0; j < CT2.length; j++) {
						arr1.push([CT2[j], "O"])
						//把每个字都标注O
						}
						}
						else {arr1.push([nn6[i].textContent, nn6[i].className])} 
						console.log(nn6[i].className)
						console.log(nn6[i].textContent.length)
					}
					console.log(nn6.length)
					var ss1 = JSON.stringify(arr1);
					console.log(ss1)
					
					
				};
				
		    </script>
</body>
</html>