{% extends 'userbase.html' %}
{% block header_part %}
    <title>完善个人信息</title>
{% endblock %}

{% block style_part %}
<style type="text/css"> 
img[src=""],img:not([src]){
     opacity:0;
}
.row {
	margin-left:15px !important;
	margin-right:15px !important;
}
.pic-cropper{
    border:1px solid #099;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
	padding-bottom: 30px;
}

#submit {
    margin-top: 10px;
    margin-bottom: 10px;
}

#export {
    margin-top: 10px;
    margin-bottom: 10px;
}

#result-canvas {
    border:1px solid #CCCCCC
}

#image-canvas {
    border:1px solid #CCCCCC

}
</style> 
{% endblock %}

{% block body_part %}
<div class="container" id='info'>
    <div style="margin:0 auto;padding:10px">
        <div style="text-align:center;"><h4>个人信息填写</h4></div>
    </div>
    
    <div id="form_frame">
        <div style="text-align:center;margin:10px 0px;vertical-align:middle">
            <input style="height:45px;border:1px dashed black;font-size:18px;vertical-align:middle" class="btn btn-default" id="img-input" type="file"/><br/>
        </div>
        <div class="row" style="width:100%;">
            <div class="col-md-6 text-center">
                <input id="slider" style="width:70%;padding:10px 0px;" type="range"/><br />
                <canvas id="image-canvas" width="500" height="500"></canvas>
                <button class="btn rightbtn" id="submit" style="width:30%;font-size:20px;padding:3px 5px;">预  览</button>
            </div>
            <div class="col-md-6 text-center">
                <div style="height:90px;"></div>
                <canvas id="result-canvas" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
        
    <div style="margin:0 auto;padding:10px">
        <label>姓名：</label>
        <label id="name">{{current_user.name}}</label><br><br>
        <label>性别：</label>
        <select id="gender" v-model="gender">
            <option value="男">男</option>
            <option value="女">女</option>
        </select><br><br>
        <label>籍贯：</label>
        <input type="text" v-model="jiguan" id="jiguan"/><br><br>
        <label>星座：</label>
        <select id="xingzuo" v-model="xingzuo">
            <option value="白羊座">白羊座</option>
            <option value="金牛座">金牛座</option>
            <option value="双子座">双子座</option>
            <option value="巨蟹座">巨蟹座</option>
            <option value="狮子座">狮子座</option>
            <option value="处女座">处女座</option>
            <option value="天秤座">天秤座</option>
            <option value="天蝎座">天蝎座</option>
            <option value="射手座">射手座</option>
            <option value="摩羯座">摩羯座</option>
            <option value="水瓶座">水瓶座</option>
            <option value="双鱼座">双鱼座</option>
        </select><br><br>
        <label>最高学历：</label>
        <select id="xueli" v-model="xueli">
            <option value="博士">博士</option>
            <option value="硕士">硕士</option>
            <option value="本科">本科</option>
            <option value="大专">大专</option>
            <option value="高中">高中</option>
        </select><br><br>
        <label>最后毕业学校：</label>
        <input type="text" v-model="xuexiao" id="xuexiao"/><br><br>
        <label>专业：</label>
        <input type="text" v-model="zhuanye" id="zhuanye"/><br><br>
        <label>爱好：</label>
        <input type="text" v-model="aihao" id="aihao"/><br><br>
        <label>自我描述：</label><br>
        <textarea id="ziwo" v-model="ziwo" style="width:60%; height: 100px ;overflow: auto;word-break: break-all; resize: none;" name="send_content"></textarea><br>
        <label><span id="num">{[ziwo.length]}</span>字（包括空格和换行符）</label>

        <br>
        <label id="formalert" style="color:red"></label>
        <br>
        <div style="display:block;text-align:center"><button class="btn rightbtn" style="width:200px;font-size:20px;padding:3px 5px;" id="export">提  交</button></div>
        <div style="text-align:center;"><label id="thank" style="display:none;font-size:20px">感谢填写！</label></div>
    
    </div>
</div>
				
{% endblock %}			
			

{% block script_part %}
<script>


// window.onload = function(){
// $("#ziwo").on('input propertychange',function(e){
// 	$("#num").html(e.target.value.length);
// });
// }

const app = Vue.createApp({
        delimiters: ['{[', ']}'],
        data() {
            return {
			picpath:{{current_user.picpath|tojson}} || "",
            gender:{{current_user.gender|tojson}} || "",
			jiguan:{{current_user.jiguan|tojson}} || "",
			xingzuo:{{current_user.xingzuo|tojson}} || "",
            xueli:{{current_user.xueli|tojson}} || "",
            xuexiao:{{current_user.xuexiao|tojson}} || "",
            zhuanye:{{current_user.zhuanye|tojson}} || "",
            aihao:{{current_user.aihao|tojson}} || "",
            ziwo:{{current_user.ziwo|tojson}} || ""
            }
        },
        mounted: function(){
            if (this.picpath) {
                var posterimg = new Image();
                posterimg.src = "/v1/sp/spstatic/images/coworker/"+this.picpath;
                posterimg.onload = function() {
                    console.log("渲染头像");
                    resultCanvas.setAttribute('width', 400);
                    resultCanvas.setAttribute('height', 400);
                    resultCxt.drawImage(posterimg,0,0,400,400);
                }
                    
            }
            
        }
    })

    const remitvue = app.mount('#info')

var imgInput = document.getElementById("img-input");
var submitBtn = document.getElementById("submit");
var exportBtn = document.getElementById("export");
var mySlider = document.getElementById("slider");
var resultCanvas = document.getElementById("result-canvas");
var resultCxt = resultCanvas.getContext("2d");
var imgCanvas = document.getElementById("image-canvas");
var imgCxt = imgCanvas.getContext("2d");
var currentFactor = 1; //当前的放缩倍数
var minFactor = 1; //最小放缩倍数
var maxFactor = 1; //最大放缩倍数
var ori = document.getElementById("image-canvas").height;
var cut = document.getElementById("result-canvas").height;
var img = new Image();
img.setAttribute('crossOrigin', 'anonymous');

// const imgUrl = "https://udi-official-website.oss-cn-shenzhen.aliyuncs.com/0/rc-upload-1584349106386-2";

imgInput.onchange = function() {
    console.log("======",imgInput.files[0]);
   var imgUrl =  URL.createObjectURL(imgInput.files[0]);
   imgCanvas.setAttribute('height', ori);
   resultCanvas.setAttribute('height',cut);
   drawMask();
   getImage(imgUrl);
    // var fileReader = new FileReader();
    // fileReader.readAsBinaryString(imgInput.files[0]);
}

//获取图像并画出来
getImage = function(imgUrl) {
    // img.src = './changtuxiang.jpg'
    img.src=imgUrl;
    img.onload = function() {
        calculateFactor();
        var originPosition = canvasOriginPosition();
        imgCxt.globalCompositeOperation = "destination-over";
        imgCxt.drawImage(img,originPosition.positionX,originPosition.positionY,img.width*currentFactor,img.height*currentFactor);
    }
}

//画蒙版
drawMask = function() {
    imgCxt.fillStyle = "rgba(0,0,0,0.5)";
    imgCxt.fillRect(0,0,ori,ori);
    imgCxt.fillStyle = "rgba(0,0,0,1)";
    imgCxt.globalCompositeOperation = "destination-out";
    imgCxt.fillRect(50,50,cut,cut);
}


//控制canvas拖动
var moving = false;
var lastmouseX = null;
var lastmouseY = null;

//上次移动结束,canvas画图的位置
var lastImgX = 0;
var lastImgY = 0;

imgCanvas.onmousedown=function(e) {
    // console.log("onmousedown",lastImgX,lastImgY);
    moving = true;
    lastmouseX = e.clientX;
    lastmouseY = e.clientY;
}

window.onmouseup = function(e) {
    if(moving === true) {
        moving = false;
        var newPosition = checkPosition(e.clientX - lastmouseX,e.clientY - lastmouseY)
        //每次移动完成都要改变一下上次图片绘制位置
        lastImgX = newPosition.X;
        lastImgY = newPosition.Y;
        // console.log("onmouseup",lastImgX,lastImgY);
    }
}

imgCanvas.addEventListener("touchstart", function(e) {
    // console.log("onmousedown",lastImgX,lastImgY);
    var touches = e.touches[0];
    moving = true;
    lastmouseX = touches.clientX;
    lastmouseY = touches.clientY;
    document.addEventListener("touchmove",function defaultEvent(e) {
   e.preventDefault();
  },false);
  },false); 

imgCanvas.addEventListener("touchend",function(e) {
    var touches = e.changedTouches[0];
    //if(moving === true) {
        moving = false;
        var newPosition = checkPosition(touches.clientX - lastmouseX,touches.clientY - lastmouseY)
        //每次移动完成都要改变一下上次图片绘制位置
        lastImgX = newPosition.X;
        lastImgY = newPosition.Y;
        // console.log("onmouseup",lastImgX,lastImgY);
    //}
    document.removeEventListener("touchmove",function defaultEvent(e) {
    e.preventDefault();
    },false);
  },false);


redrawImg = function(pX,pY) {
    //每次绘图前检查position是否没有超出区域
    var newPosition = checkPosition(pX,pY)
    imgCanvas.setAttribute('height', ori);
    drawMask();
    imgCxt.globalCompositeOperation = "destination-over";
    imgCxt.drawImage(img,newPosition.X,newPosition.Y,img.width*currentFactor,img.height*currentFactor);

}

checkPosition = function(pX,pY) {
    if(pX+lastImgX<=50&&pX+lastImgX>=cut+50-img.width*currentFactor&&pY+lastImgY<=50&&pY+lastImgY>=cut+50-img.height*currentFactor) {
        return ({"X":pX+lastImgX,"Y":pY+lastImgY});
    } else {
        var x_ = pX+lastImgX;
        var y_ = pY+lastImgY;
        if(pX+lastImgX>50) {
            x_ = 50;
        }
        if(pX+lastImgX<cut+50-img.width*currentFactor) {
            x_ = cut+50-img.width*currentFactor;
        }
        if(pY+lastImgY>50) {
            y_ = 50;
        }
        if(pY+lastImgY<cut+50-img.height*currentFactor) {
            y_ = cut+50-img.height*currentFactor;
        }
        return({"X":x_,"Y":y_});
    }
}

// 计算初始Factor
calculateFactor = function() {
    if(img.width<img.height) {
        minFactor = cut/img.width;//初始状态
        currentFactor = cut/img.width;
        maxFactor = cut*2/img.width;
    } else {
        minFactor = cut/img.height;
        currentFactor = cut/img.height;
        maxFactor = cut*2/img.height;
    }
    // console.log(currentFactor,minFactor,maxFactor);
    initSlider();
}

//计算初始画布位置
canvasOriginPosition = function() {
    calculateFactor();
    var positionX;
    var positionY;
    if(img.width<img.height) {
        positionX = 50;
        positionY = 50 - (img.height*currentFactor - cut) /2;
    } else {
        positionX = 50 - (img.width*currentFactor - cut) /2;
        positionY = 50;
    }
    lastImgX = positionX;
    lastImgY = positionY;
    return({"positionX":positionX,"positionY":positionY});
}

window.onmousemove = function(e) {
    if(moving) {
        pX=e.clientX - lastmouseX;
        pY=e.clientY - lastmouseY;
        // console.log(checkPosition(pX,pY));
        
        redrawImg(pX,pY);
    }
}

imgCanvas.addEventListener("touchmove", function(e) {
    var touches = e.touches[0];
    if(moving) {
        pX=touches.clientX - lastmouseX;
        pY=touches.clientY - lastmouseY;
        // console.log(checkPosition(pX,pY));
        
        redrawImg(pX,pY);
    }
},false);

//初始滑动条
initSlider = function() {
    mySlider.min = minFactor;
    mySlider.max = maxFactor;
    // mySlider.value = currentFactor;
    mySlider.step = 0.01;
}


mySlider.oninput = function() {
    currentFactor = mySlider.value;
    //每次缩放完也都要修改图片的绘制位置
    // console.log("oninput",mySlider.value,lastImgX,lastImgY);
    redrawImg(0,0);
}

submitBtn.onclick = function() {
    // console.log("onclick!!",lastImgX,lastImgY);
    resultCxt.drawImage(img,lastImgX-50,lastImgY-50,img.width*currentFactor,img.height*currentFactor)
}

//上传到服务器
exportBtn.onclick = function() {
	var gender = $('#gender').find('option:selected').text();
	var xingzuo = $('#xingzuo').find('option:selected').text();
	var xueli = $('#xueli').find('option:selected').text();
	var jiguan = $('#jiguan').val();
	var xuexiao = $('#xuexiao').val();
	var zhuanye = $('#zhuanye').val();
	var aihao = $('#aihao').val();
	var ziwo = $('#ziwo').val();
	console.log(xingzuo);
	console.log(xueli);
	console.log(xuexiao);
	console.log(zhuanye);
	console.log(aihao);
	console.log(ziwo);
	
	
	
	
    var url = resultCanvas.toDataURL('image/jpg', 0.92);
	var arr = url.split(',');
	var mime = arr[0].match(/:(.*?);/)[1];
	var bstr = atob(arr[1]);
	var n = bstr.length;
	var u8arr = new Uint8Array(n);
	while(n--){
		u8arr[n] = bstr.charCodeAt(n);
	}
	var obj = new Blob([u8arr], {type:mime});
	console.log(obj.size);
	if (obj.size<20000){
		$("#formalert").text("请上传并剪裁照片。");
		return false;
	}
	else if (zhuanye.length==0){
		$("#formalert").text("请填写专业。");
		return false;
	}
	else if (aihao.length==0){
		$("#formalert").text("请填写爱好。");
		return false;
	}
	else if (ziwo.length==0){
		$("#formalert").text("请填写自我描述。");
		return false;
	}

	var fd = new FormData();
	fd.append("upfile", obj,"image.jpg");
	fd.append("gender", gender);
	fd.append("jiguan", jiguan);
	fd.append("xingzuo", xingzuo);
	fd.append("xueli", xueli);
	fd.append("xuexiao", xuexiao);
	fd.append("zhuanye", zhuanye);
	fd.append("aihao", aihao);
	fd.append("ziwo", ziwo);
	
	$.ajax({
		url: "{{ url_for('my.saveinfo') }}",
		type: "POST",
		processData: false,
		contentType: false,
		data: fd,
		success: function (response) {
			console.log(response);
            var showex=document.getElementById("export");
            var showst=document.getElementById("thank");
            showex.style.display='none';
            showst.style.display='block';
		},
        error : function(data) {  
                alert("上传失败~~");
            }
	})
	
}




</script>
{% endblock %}