<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="../static/css/moni.css" rel = "stylesheet"/>
    <title>弼兴科技</title>
	
<style>

.table-css{
	vertical-align:middle;
	text-align:center;
}
.table-css tr td{
padding-right:20px;
}
.table-css tr th{
padding-right:20px;
}
</style>	
</head>
<body>


<style type="text/css"> 
img[src=""],img:not([src]){
     opacity:0;
}
</style> 
	
	<aside id="fh5co-aside" role="complementary" class="border js-fullheight">
	
		<h1 id="fh5co-logo"><a href="{{ url_for('start') }}">弼兴科技</a></h1>
		<nav id="fh5co-main-menu" role="navigation">
			<ul>
				<li><a href="{{ url_for('guanguan.bestart') }}">贯贯</a></li>
			</ul>
		</nav>
	
		<div class="fh5co-footer">
			<p>弼兴 &copy; 2021</p>
			
		</div>
	
	</aside>
	
	<div id="fh5co-main">
		<div class="fh5co-narrow-content">
		<div class="row" style="right: 0px;top: 0px;position:absolute;">
			<div class="span8">
			<ul class="nav nav-pills">
				{% if current_user.role=='admin' %}
				<li class="m-3"><a href="{{ url_for('researcher.research_index') }}">Researcher</a></li>
				<li class="m-3"><a href="{{ url_for('developer.develop_index') }}">Developer</a></li>
				<li class="m-3"><a href="{{ url_for('verwaltung.admin') }}">Admin</a></li>
				{% endif %}

				{% if current_user.role=='researcher' %}
				<li class="m-3"><a href="{{ url_for('researcher.research_index') }}">Researcher</a></li>
				{% endif %}

				{% if current_user.role=='developer' %}
				<li class="m-3"><a href="{{ url_for('developer.develop_index') }}">Developer</a></li>
				{% endif %}

				{% if current_user.is_authenticated %}
				<li class="m-3">欢迎你，{{current_user.name}}</li>
				<li class="m-3"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
				{% else %}
				<li class="m-3"><a href="{{ url_for('auth.login') }}">Login</a></li>
				{% endif %}
			</ul>
			</div>
		</div>

		

		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				
		  	</div>
		</aside>
		
		
		

		
		
		
		
		<div class="row">
		<div style="margin:0 auto; height:50px;" class="col-md-12"></div>
		<div style="display:inline-block;margin:auto;">
		<table class="table-css">
			<tr>
				<th>日期</th>
				<th>科目</th>
				<th>题数</th>
				<th>满分</th>
				<th>成绩</th>
				<th>百分制</th>
				<th>用时</th>
				<th>操作</th>
			</tr>
			{% for dd in tdata %}
			<tr>
				<td>{{dd['test_time']}}</td>
				<td>{{dd['testpaper_title']}}</td>
				<td>{{dd['ques_amount']}}</td>
				<td>{{dd['full_score']}}</td>
				<td>{{dd['test_score']}}</td>
				<td>{{dd['baifen_score']}}</td>
				<td>{{dd['test_during']}}分钟</td>
				<td>
					<a href="{{ url_for('guanguan.showcuoti',ppid= dd['pperformid']) }}" target="_blank">复盘</a>
					<a href="{{ url_for('guanguan.begintest',testid= dd['testpaperid']) }}" target="_blank">重考</a>
				</td>
			</tr>
			{% endfor %}
		</table>
        </div>    
        </div>
	
		</div>




</body>
</html>