{% extends 'userbase.html' %}
{% block header_part %}
{% endblock %}

{% block style_part %}
<style type="text/css"> 
    img[src=""],img:not([src]){
         opacity:0;
    }
    .table-css tr td{
    padding-right:50px;
    }
    .table-css tr th{
    padding-right:50px;
    }
    
</style> 
{% endblock %}

{% block body_part %}
	<div id="app">
		<div style="margin:0 auto; height:50px;" class="col-md-12"></div>
		<div style="display:inline-block;margin:auto;">
		<h3>欢迎来到用户中心！</h3>
        <a href="/v1/my/info/" target="_blank"><button class="btn btn-primary">完善信息</button></a>

        {% if current_user.role == 'admin' %}
        <a href="/v1/am/" target="_blank"><button class="btn btn-primary">后台管理</button></a>
        <a href="/v1/my/addmember/" target="_blank"><button class="btn btn-primary">添加用户</button></a>
        {% endif %}
        </div>  
    </div>
		
	
	


{% endblock %}

{% block script_part %}
<script type="text/javascript">


</script>
{% endblock %}
