{% extends 'userbase.html' %}
{% block header_part %}
<script src="https://unpkg.com/vue@next"></script>
{% endblock %}

{% block style_part %}
<style type="text/css"> 
    img[src=""],img:not([src]){
         opacity:0;
    }
    .progress {
       width: 100%;
        height: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: auto 0px;
        overflow: hidden;
    
    }
    /* 初始状态设置进度条宽度为0px */
    .progress > div {
        width: 0px;     
        height: 100%;
        border-radius: 5px;
        background-color: yellowgreen;
        transition: all .3s ease;
        display: block;
    }
    
</style> 
{% endblock %}

{% block body_part %}
	<div id="app">
		<div style="margin:0 auto; height:50px;" class="col-md-12"></div>
    <div class="row" style="margin-top:10px">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <div class="progress">
          <div></div>
      </div>
      <form id="uploadForm" style="display:block;">
          <input style="width:100%;border:1px dashed black;margin:10px 0px;" class="btn btn-default" id="img" type="file" name="yu"></input>
      </form>
      </div>
      
    </div>
      <br/>    
    <div class="row" v-show="video_show" style="text-align: center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <video id="videoplay" controls="controls" style="width:100%;" preload="auto" src=""></video>
        </div>
    </div>
    <br/>
    <div class="row"  v-show="video_show" style="text-align: center">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <input style="width:130px;" placeholder="开始hh:mm:ss" v-model="cut_begin"></input>
        <span>-</span>
        <input style="width:130px;" placeholder="结束hh:mm:ss" v-model="cut_end"></input>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button class="btn btn-primary" @click="cutvideo()">剪裁视频</button>
      </div>
    </div>
    <br/>
    <div class="row" v-show="cut_show" style="text-align: center">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <video id="cutplay" controls="controls" style="width:100%;" preload="auto" src=""></video>
      </div>
  </div>
  </div>
		
	
	


{% endblock %}

{% block script_part %}
<script type="text/javascript">


const app = Vue.createApp({
  data() {
    return {
      video_show:false,
      cut_show:false,
      video_tmpname:"",
      video_length:"",
      cut_begin:"",
      cut_end:""
    }
  },
  delimiters: ['{[', ']}'],
  methods:{
    cutvideo() {
      var fd = new FormData();
      fd.append("video_tmpname",this.video_tmpname);
      fd.append("cut_begin",this.cut_begin);
      fd.append("cut_end",this.cut_end);
      $.ajax({
          url:"{{ url_for('user.begincut') }}",
          type:"POST",
          processData: false,
          contentType: false,
          data:fd,
          dataType: "json",
          success: function(result) {
            if(result==""||result==null){
                alert("没有视频");
            }else{
                var rst = result;
                console.log(rst['result']);
                $('#cutplay').attr('src', '../static/tmp/'+rst['result']);
                cutvideo.$data.cut_show=true;
                console.log("剪裁成功~~");

            }

          },
          error : function(data) {  
          alert("发送失败~~");
        }
      })
    }
  }
})

const cutvideo = app.mount('#app')

var changefile = document.getElementById('img');
changefile.onchange=function(){
    $('.progress > div').css('width', '0');
    doUpload();
}

function doUpload(){
    var formData = new FormData($("#uploadForm")[0]);
    
    $.ajax({  
        url : "/user/upvideo/",  
        type: 'POST',  
        data: formData,   
        contentType: false,  
        processData: false, 
        xhr : function(result) {
            var xhr = new XMLHttpRequest();
            //使用XMLHttpRequest.upload监听上传过程，注册progress事件，打印回调函数中的event事件
            xhr.upload.addEventListener('progress', function (e) {
                console.log(e);
                //loaded代表上传了多少
                //total代表总数为多少
                var progressRate = (e.loaded / e.total) * 100 + '%';

                //通过设置进度条的宽度达到效果
                $('.progress > div').css('width', progressRate);
            })
            return xhr;
        },  
        success: function(result){
            if(result==""||result==null){
                alert("请至少选择一个文件~~");
            }else{
                
                var rst = JSON.parse(result);
                console.log(rst['result']);
                cutvideo.$data.video_tmpname = rst['result'];
                $('#videoplay').attr('src', '../static/tmp/'+rst['result']);
                cutvideo.$data.video_show=true;
                vdio = document.getElementById('videoplay');
                vdio.addEventListener("canplay", function () {
                    var vss = Math.floor(vdio.duration);
                    cutvideo.$data.video_length=sec_to_time(vss);
                  });
                  console.log("上传成功~~");

            }
        },
        error : function(data) {  
            alert("上传失败~~");
        }
    }); 
}


    function sec_to_time(s) {
        var t;
        if(s > -1){
            var hour = Math.floor(s/3600);
            var min = Math.floor(s/60) % 60;
            var sec = Math.floor(s % 60);
            if(hour < 10) {
                t = '0'+ hour + ":";
            } else {
                t = hour + ":";
            }

            if(min < 10){t += "0";}
            t += min + ":";
            if(sec < 10){t += "0";}
            t += sec;
        }
        return t;
    }

    function time_to_sec(time) {
        var s = '';

        var hour = time.split(':')[0];
        var min = time.split(':')[1];
        var sec = time.split(':')[2];

        s = Number(hour*3600) + Number(min*60) + Number(sec);

        return s;
    }
    
</script>
{% endblock %}
