<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>字幕</title>

<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
 
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<style type="text/css">
#container_small_tip{
    background:#fff;
    position:relative;
    overflow:hidden;  
    width:100%;
    height:100px;
    line-height:100px;
    /* margin:100px; */
}

#content_small_tip{
    position:absolute;
    left:0;
    top:0;
	font-size:90px;
	font-weight: 600;
    white-space:nowrap;
    color: #fff;/*与背景颜色相同，先隐藏，需要时再变颜色*/
}
</style>
</head>
<body>

<!--navigation-->
<section class="smart-scroll">
    <div style="width:80%;height:300px"></div>
<div class="container-fluid">
	<div id="container_small_tip">
		<div id="content_small_tip"></div>
	</div>
	<hr />
	<textarea class="form-control" id="rolltext" style="margin:0 auto;width:80%;height:300px"></textarea>
	<br>
	<div class="row">
	<div>
	<button class="btn btn-primary" onclick="jiasu()">加速</button><br><br>
	<button class="btn btn-primary" onclick="startroll()">开始</button><br><br>
	<button class="btn btn-primary" onclick="jiansu()">减速</button><br>
	</div>
	</div>
</div>
</section>


<script>
$("#content_small_tip")[0].innerHTML = "向着标杆直跑";
var shuaxin = [0.1,0.2,0.5,0.8,1,2,5,8,10,20,30];
var shuaindex = 4;
var time;
var indd = 0;
var conleft;
(function ($) {
     $.fn.extend({
         roll: function (options) {
             var defaults = {
                 speed: 1
             };
             var options = $.extend(defaults, options);
             var speed = (document.all) ? options.speed : Math.max(1, options.speed - 1);
             if ($(this) == null) return;
             var $container = $(this);
             var $content = $("#content_small_tip");
             var init_left = $container.width();
             conleft = init_left;
             $content.css({ left: parseInt(init_left) + "px" });
             var This = this;
             clearInterval(time);
             time = setInterval(function () { This.move($container, $content, speed); }, shuaxin[shuaindex]); //setInterval会改变this指向，即使加了This=this，也要用匿名函数封装

             $container.bind("mouseover", function () {
                 clearInterval(time);
             });
             $container.bind("mouseout", function () {
             	clearInterval(time);
                 time = setInterval(function () { This.move($container, $content, speed); }, shuaxin[shuaindex]);
             });
             // setTimeout(function () { $("#container").slideUp(); }, 30000);  //毫秒单位，显示30s后消失
             return this;
         },
         move: function ($container, $content, speed) {
             var container_width = $container.width();
             var content_width = $content.width();
             if (conleft + content_width > 0) {
             	conleft = conleft - 2;
             	$content.css({ left: conleft + "px" });
                 //$content.css({ left: parseFloat($content.css("left")) - speed + "px" });
                 $content.css({color:"#02A0E9"})//改变字体颜色
             }
             else {
             	conleft = parseInt(container_width);
                 $content.css({ left: parseInt(container_width) + "px" });
                 $content.css({color:"#02A0E9"})//改变字体颜色
             }
         }
     });
 })(jQuery);
 //插件的调用$("#yourId").roll({speed:#yourSpeed});
 $(document).ready(
     function () {
         $("#container_small_tip").roll({ speed: 1 });
     }
 );
function startroll(){
	var front = "5----------4----------3----------2----------1----------"
	$("#content_small_tip")[0].innerHTML = front + $("#rolltext").val();
	var container_width = $("#container_small_tip").width();
	conleft = parseInt(container_width);
	$("#content_small_tip").css({ left: parseInt(container_width) + "px" });
}

function jiasu() {
	if (shuaindex>0) {
		shuaindex = shuaindex - 1;
		clearInterval(time);
		$("#container_small_tip").roll({ speed: 3 });
	}
	
}

function jiansu() {
	if (shuaindex<12) {
		shuaindex = shuaindex + 1;
		clearInterval(time);
		$("#container_small_tip").roll({ speed: 3 });
	}
}

</script>

</body>
</html>