{% extends 'taskbase.html' %}
{% block header_part %}
<link href="/v1/auth/mystatic/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script src="/v1/auth/mystatic/js/vue.js"></script>
<!-- <link href="/task/mystatic/css/indexcrop.css" rel="stylesheet" type="text/css"> -->
<script src="/v1/auth/mystatic/js/bootstrap-datetimepicker.min.js"></script>
<script src="/v1/auth/mystatic/js/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" href="/v1/auth/mystatic/css/codemirror.css">
<link rel="stylesheet" href="/v1/auth/mystatic/css/show-hint.css">
<script src="/v1/auth/mystatic/js/codemirror.js"></script>
<script src="/v1/auth/mystatic/js/show-hint.js"></script>
<script src="/v1/auth/mystatic/js/xml-hint.js"></script>
<script src="/v1/auth/mystatic/js/html-hint.js"></script>
<script src="/v1/auth/mystatic/js/xml.js"></script>
<script src="/v1/auth/mystatic/js/javascript.js"></script>
<script src="/v1/auth/mystatic/js/css.js"></script>
<script src="/v1/auth/mystatic/js/python.js"></script>
<script src="/v1/auth/mystatic/js/htmlmixed.js"></script>
<script src="https://cdn.jsdelivr.net/pyodide/v0.21.3/full/pyodide.js"></script>

{% endblock %}

{% block style_part %}
<style type="text/css"> 
    .textbox {
        margin-left:15px;
        margin-right:15px;
        padding:5px;
    }
    .select-content {
        width: 200px;
        position: relative;
    }
    .select-content .select-input {
        width: 100%;
    }
    .select-content .sanjiao {
        position: absolute;
        left: 190px;
        top: -2px;
        cursor: pointer;
    }
    .select-content .sanjiao .dot-bottom {
        font-size: 0;
        line-height: 0;
        border-width: 5px;
        border-color: #6a6a6a;
        border-bottom-width: 0;
        border-style: dashed;
        border-top-style: solid;
        border-left-color: transparent;
        border-right-color: transparent;
    }
    .search-select {
        display: none;
        position: absolute;
        left: 20px;
        top: 40px;
        z-index: 999;
        min-width: 150px;
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid #a0f;
        border-radius: 5px;
        background-color: #fff;
    }
    .select-content .search-select .select-ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .select-content .search-select .select-ul .li-select {
        color: #000;
        padding: 2px 10px;
        cursor: pointer;
    }
    .select-content .search-select .select-ul .li-hover {
        color: #fff;
        background-color: #a0f;
    }
    #descposter-canvas {
        border:1px solid #CCCCCC
    }

    #image-canvas {
        border:1px solid #CCCCCC

    }
    .CodeMirror {
        border-top: 1px solid #888; 
        border-bottom: 1px solid #888;
        font-family:Consolas;
        font-size:20px;
    }
</style> 
{% endblock %}

{% block body_part %}
<div class="row">
    <div style="display:inline-block;margin:0 auto;"><h2>新建任务</h2></div>
    <div style="margin:0 auto; height:20px;" class="col-md-12"></div>
    
    </div>
    <div id='app'>
        <div style="margin-bottom: 50px;">
            <br/>
            <div class="row" style="margin-top:10px">
                <h4 class="col-md-2">任务类型：</h4> 
                <select class="col-md-2 form-control textbox" v-model="task_type" v-bind:disabled=jinyong>
                    <option value="学习任务">学习任务</option>
                    <option value="问答任务">问答任务</option>
                    <option value="做事任务">做事任务</option>
                </select>
            </div>
            <div v-if="task_type=='问答任务'" class="row" style="margin-top:10px">
                <h4 class="col-md-2">题型：</h4> 
                <select class="col-md-2 form-control textbox" v-model="ques_type" v-bind:disabled=jinyong>
                    <option value="选择题">选择题</option>
                    <option value="判断题">判断题</option>
                    <option value="填空题">填空题</option>
                    <option value="简答题">简答题</option>
                </select>
            </div>
            <div class="row" style="margin-top:10px">
                <h4 class="col-md-2">标题：</h4>
                <textarea id="input" @blur="zhengli()" rows="4" class="col-md-8 form-control textbox" v-model="task_title" v-bind:disabled=jinyong></textarea>
            </div>

            <div v-if="task_type=='学习任务'" class="row" style="margin-top:10px">
                <div class="col-md-2"></div>
                <label class="col-md-4 form-check-label textbox">
                    <input type="checkbox" @click="fetchfolder()" v-model="fromfavor" style="margin-right: 10px;" onclick="this.value=(this.value==false)?true:false" value=false v-bind:disabled=jinyong></input>从收藏夹选取
                </label>
            </div>

            <div class="row" v-if="fromfavor==true" style="margin-top:10px">
                <div class="col-md-2"></div>
                <div class="col-md-8 textbox" style="background-color:#eee;border-radius: 5px;">
                    <div v-for="(item,index) in learnlist" style="text-align: left;">
                        <span>{[item[1]]}</span>
                        <span>{[item[2]]}</span>
                        <button @click="deletelearn(index)">删除</button>
                    </div>
                </div>
            </div>

            <div class="row" v-if="fromfavor==true" style="margin-top:10px">
                <div class="col-md-2"></div>
                <div class="col-md-8 textbox" style="background-color:#eee;border-radius: 5px;max-height: 300px;">
                    <div style="text-align: left;">
                        <button @click="returnfolder()">返回</button>
                        <input v-model="searchval" />
                        <button @click="searchff()">搜索</button>
                    </div>
                    <div v-show="foldershow" style="text-align: left;">
                        <div v-for="item in folderlist">
                            <span @click="enterfolder(item.folderid)">{[item.folder_title]}</span>
                            <span>{[item.item_num]}</span>
                        </div>
                    </div>

                    <div v-show="favorshow" style="text-align: left;">
                        <div v-for="item in favorlist">
                            <span>{[item.target_type]}</span>
                            <span @click="selectfavor(item)">{[item.target_title]}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="['选择题'].includes(ques_type) && task_type=='问答任务'" v-for="(item,index) in querylist" class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">{[String.fromCharCode(index+65)]}:</div>
                <input v-model="item[0]" class="col-md-8 form-control textbox" type="text" v-bind:disabled=jinyong></input>
                <span v-if="index>0"><i class="fa fa-minus-circle col-2" @click="deletewords(index)" style="font-size:36px;color:#a0f;margin-left:10px;padding-top:5px;"></i></span>
            </div>
            <div v-if="task_type=='问答任务' && ['选择题'].includes(ques_type) && querylist.length<4" class="row" style="margin-top:10px">
            <div class="col-md-2"></div>
            <button class="btn btn-primary" style="margin:0 auto;"  @click="addwords()">+增加条目</button>
            </div>

            <div v-if="task_type=='问答任务' && ['填空题'].includes(ques_type) && slotsnum<5" class="row" style="margin-top:10px">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button class="btn btn-primary" @click="addslots()">+挖个空儿</button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span style="white-space: pre-line;color:red;">{[slotswarning]}</span>
            </div>
            </div>
            
            

            <div class="row" style="margin-top:10px">
                <h4 class="col-md-2">执行人：</h4>
                <div class="select-content col-md-2" style="padding:0px;">
                    <input type="text" name="select_input" id="select_input" class="select_input form-control textbox" value="" autocomplete="new-password" placeholder="人员姓名"  v-bind:disabled=jinyong></input>
                    <div id="search_select" class="search-select">
                        <ul id="select_ul" class="select-ul">
                            
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <h4 class="col-md-2">截止时间：</h4>
                <div class="col-md-2" style="padding:0px;">
                    <div class="controls input-append date form_datetime" data-link-field="dtp_input1">
                        <input id="starttime" class="form-control textbox" style="max-width:200px;" size="16" type="text" value="" v-bind:disabled=jinyong></input>
                        <span style="margin-left:30px;" class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value="" /><br/>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <h4 class="col-md-2">赏金：</h4>
                <input class="col-md-8 form-control textbox" type="number" onblur="this.value=Math.abs(Math.trunc(this.value))" v-model="bonus" placeholder="请填写整数数字" v-bind:disabled=jinyong></input>
            </div>

            <div class="row" v-if="role=='admin'" style="margin-top:10px">
                <h4 class="col-md-2">重复：</h4>
                <input class="col-md-8 form-control textbox" type="number" onblur="this.value=Math.abs(Math.trunc(this.value))" v-model="task_repeat" placeholder="请填写整数数字" v-bind:disabled=jinyong></input>
            </div>

            <div class="row" style="margin-top:10px">
                <h4 class="col-md-2">说明：</h4>
                <textarea rows="4" class="col-md-8 form-control textbox" v-model="task_desc" v-bind:disabled=jinyong></textarea>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2"></div>
                <label class="col-md-4 form-check-label kaozuo">
                    <input type="checkbox" v-model="descposter_has" style="margin-right: 10px;" onclick="this.value=(this.value==0)?1:0" value="0" v-bind:disabled=jinyong></input>说明配图
                </label>
            </div>

            <div v-show="descposter_has==1" class="row" style="margin-top:10px">
            <div class="col-md-2">上传图片：<br/>(尺寸16:9)</div>
            <div class="col-md-8">
                <input style="width:100%;border:1px dashed black;" class="btn btn-default" id="descposter" type="file" name="descpo" v-bind:disabled=jinyong></input>
            </div>
            </div>
            
            <div class="row" v-show="descposter_show && descposter_has==1">
                <div class="col-md-4">
                <input id="slider" style="width:80%;padding:10px 0px;" type="range" v-bind:disabled=jinyong></input><br/>
                <canvas id="image-canvas" height="180" width="320"></canvas><br/>
                <button id="submit" class="btn btn-primary">预览</button>
                </div>
                <div class="col-md-8">
                <canvas id="descposter-canvas" width="480" height="270"></canvas>
                </div>
            <!-- <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;"> 
                <canvas id="descposter-canvas" style="width: 480px"></canvas>
            </div> -->
            </div>

            <div v-if="task_type=='做事任务'" class="row" style="margin-top:10px">
                <div class="col-md-2"></div>
                <label class="col-md-4 form-check-label kaozuo">
                    <input type="checkbox" v-model="online_coding" style="margin-right: 10px;" onclick="this.value=(this.value==0)?1:0" value="0" v-bind:disabled=jinyong></input>在线编程
                </label>
            </div>

            <form v-show="online_coding==1 && task_type=='做事任务'" class="row" style="margin-right: 10px;">
                <div class="col-md-2"></div>
                <div class="col-md-8 kaozuo">
                    <label class="form-check-label">
                    <input type="radio" v-model="show_editor" v-bind:disabled="jinyong" value=0> css+html
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="form-check-label">
                    <input type="radio" v-model="show_editor" v-bind:disabled="jinyong" value=1> css+html+javascript
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="form-check-label">
                    <input type="radio" v-model="show_editor" v-bind:disabled="jinyong" value=2> python
                    </label>
                </div>
                <br/><br/>
            </form>


            <div v-show="online_coding==1 && task_type=='做事任务'" class="row kaozuo">
                <div id="codeframe" class="col-md-8" style="min-height:80px;">
                <label v-show="show_editor==0 || show_editor==1" class="btn" style="margin-top:20px;" for="send_content">css+html代码：</label>
                <div v-show="show_editor==0 || show_editor==1" id="send_content" style="width: 100%;background-color: #aaa;"></div>
                
                <label v-show="show_editor==1" style="margin-top:20px;" class="btn" for="jscode">js代码：</label>
                <div v-show="show_editor==1" id="jscode" style="width: 100%; height:50px;background-color: #aaa;"></div>
                
                <label v-show="show_editor==2" style="margin-top:20px;" class="btn" for="pycode">python代码：</label>
                <div v-show="show_editor==2" id="pycode" style="width: 100%; height:50px;background-color: #aaa;"></div>
                
                </div>
            
                <div class="col-md-4">
                <label for="pre"><input id="send" @click="yulan()" style="margin-top:20px;" class="btn btn-success" type="button" value="结果输出"></label>
                <br>
                <div v-show="show_editor!=2" id="pre"></div>
                <textarea v-show="show_editor==2" id="pyout" rows="12" class="col-md-12 form-control"></textarea>
                </div>
            </div>
            <!-- <div style="text-align:center;margin:10px 0px;vertical-align:middle"><input style="width:200px;height:40px;font-size:16px;vertical-align:middle" id="img-input" type="file"/><br/>
            </div>
            <div class="row">
                
            </div> -->
            <div style="height:50px;" class="col-md-12"></div>
            <div class="text-center">
            <input class="btn btn-primary" @click="tijiao()" type="submit" value="创建任务"></input>
            </div>
            <div class="row" style="margin-top:10px">
                <span id="showres" style="display:inline-block;margin:0 auto;"></span>
            </div>
        </div>
    </div>


{% endblock %}

{% block script_part %}

<script type="text/javascript">
usrname = {{current_user.name|tojson}};
usrrole = {{current_user.role|tojson}};
// let initpyodide = loadPyodide({
//         indexURL : "https://gcore.jsdelivr.net/pyodide/v0.21.3/full/"
//     });
// async function main() {
//     let pyodide = await initpyodide;
//     // Pyodide is now ready to use...
//     //return pyodide.runPython(code);
//     return pyodide;
// };



async function main() {
    let pyodide = await loadPyodide();
    return pyodide;
}
let pyodideReadyPromise = main();

async function evaluatePython(pycode){
    let pyodide = await pyodideReadyPromise;
    try {
        pyodide.runPython(`
        import sys
        import io
        sys.stdout = io.StringIO()
        `);
        let output = pyodide.runPython(pycode);
        let stdout = pyodide.runPython("sys.stdout.getvalue()");
        document.getElementById("pyout").value = stdout;
        } catch (err) {
            document.getElementById("pyout").value = err;
        }

	  }



    taskvue = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        data: {
            role:usrrole,
            fromfavor:false,
            descposter_has:false,
            descposter_show:false,
            online_coding:0,
            show_editor:0,
            html_content:"",
            js_content:"",
            py_content:"",
            ques_type:'',
            bonus:0,
            slotsnum:0,
            querylist:[['']],
            folderlist:[],
            favorlist:[],
            searchval:'',
            searchfolder:[],
            searchfavor:[],
            foldershow:false,
            favorshow:false,
            learnlist:[],
            task_type:'',
            task_title:'',
            slotswarning:'',
            task_desc:'',
            task_repeat:1,
            task_taker:0,
            deadline:'',
            jinyong:false,
        },
        mounted:function (){
            editor = CodeMirror(document.getElementById("send_content"), {
                mode: "htmlmixed",
                //lineNumbers: true,
                indentUnit: 4,
                styleActiveLine: true,
                matchBrackets: true,
                extraKeys: {"Ctrl-Space": "autocomplete"},
                //value: textvalue
                value: this.html_content
            });
            
            editorjs = CodeMirror(document.getElementById("jscode"), {
                mode: "javascript",
                //lineNumbers: true,
                indentUnit: 4,
                styleActiveLine: true,
                matchBrackets: true,
                extraKeys: {"Ctrl-Space": "autocomplete"},
                //value: multiline(fjs)
                value: this.js_content
            });

            editorpy = CodeMirror(document.getElementById("pycode"), {
                mode: "python",
                //lineNumbers: true,
                indentUnit: 4,
                styleActiveLine: true,
                matchBrackets: true,
                extraKeys: {"Ctrl-Space": "autocomplete"},
                //value: multiline(fjs)
                value: this.py_content
            });
        },
        methods: {
            addwords (){
                this.querylist.push(['']);
            },
            deletewords (i){
                this.querylist.splice(i,1);
            },
            deletelearn (i){
                this.learnlist.splice(i,1);
            },
            fetchfolder: function(){
                var fd = new FormData();
                fd.append("usrname",usrname);
                $.ajax({ 
                    url:"{{ url_for('my.fetchfolder') }}",
                    type:"POST",
                    processData: false,
                    contentType: false,
                    data:fd,
                    dataType: "json",
                    success: function(response) {
                        taskvue.$data.folderlist = response;
                        taskvue.$data.searchfolder = response;
                        taskvue.$data.foldershow = true;
                    }
                })
            },
            enterfolder: function(fid){
                var fd = new FormData();
                fd.append("fid",fid);
                $.ajax({ 
                    url:"{{ url_for('my.fetchfavor') }}",
                    type:"POST",
                    processData: false,
                    contentType: false,
                    data:fd,
                    dataType: "json",
                    success: function(response) {
                        taskvue.$data.favorlist = response;
                        taskvue.$data.searchfavor = response;
                        taskvue.$data.foldershow = false;
                        taskvue.$data.favorshow = true;
                    }
                })

            },
            returnfolder: function(){
                this.foldershow = true;
                this.favorshow = false;
            },
            selectfavor: function(it){
                this.learnlist.push([it.target_id,it.target_type,it.target_title]);
            },
            searchff: function(){
                var arrsearch = [];
                if (this.foldershow==true){
                    for (var i = 0;i < this.searchfolder.length; i++)
                    {
                        // 如果匹配成功, 向空数组添加数据
                        if (this.searchfolder[i].folder_title.search(this.searchval)!= -1) {
                            arrsearch.push(this.searchfolder[i]);
                        }
                    }
                    this.folderlist = arrsearch;
                } else if (this.favorshow==true){
                    for (var i = 0;i < this.searchfavor.length; i++)
                    {
                        // 如果匹配成功, 向空数组添加数据
                        if (this.searchfavor[i].target_title.search(this.searchval)!= -1) {
                            arrsearch.push(this.searchfavor[i]);
                        }
                    }
                    this.favorlist = arrsearch;
                }

            },
            zhengli : function() {
                var re = /__.?__/gi;
                var listpart = this.task_title.split(re);
                this.slotsnum = listpart.length;
                var smallpart=listpart[0];
                for (i=1;i<listpart.length;i++){
                    smallpart = smallpart + "__" + String.fromCharCode(64+i) + "__" + listpart[i];
                }
                this.task_title = smallpart;
                this.slotswarning = "";
            },
            addslots : function() {
                var re = /__.?__/gi;
                indexlist = [];
                while (re.test(this.task_title)){
                    indexlist.push(re.lastIndex);
                    indexlist.push(re.lastIndex-1);
                    indexlist.push(re.lastIndex-2);
                    indexlist.push(re.lastIndex-3);
                    indexlist.push(re.lastIndex-4);
                    indexlist.push(re.lastIndex-5);
                }
                
                var input = document.getElementById("input");
                var cursurPosition = -1;
                indexlist.push(this.task_title.length);
                cursurPosition = input.selectionStart;
                //console.log(cursurPosition);
                if (indexlist.includes(cursurPosition)){
                    this.slotswarning = "不许在这里挖空儿！";
                }else{
                    var frontpart = this.task_title.slice(0,cursurPosition);
                    var lastpart = this.task_title.slice(cursurPosition, this.task_title.length);
                    var whole = frontpart + "____" + lastpart;
                    var listpart = whole.split(re);
                    this.slotsnum = listpart.length;
                    var smallpart=listpart[0];
                    for (i=1;i<listpart.length;i++){
                        smallpart = smallpart + "__" + String.fromCharCode(64+i) + "__" + listpart[i];
                    }
                    this.task_title = smallpart;
                    this.slotswarning = "";
                }
                
            },

            yulan() {
                if (this.show_editor==0){
                    document.getElementById("pre").innerHTML = editor.getValue();
                }
                else if (this.show_editor==1){
                    document.getElementById("pre").innerHTML = editor.getValue();
                    var jstext = editorjs.getValue();
                    eval(jstext);
                }
                else if (this.show_editor==2){
                    // 传到后端去运行Python代码
                    // var fdpy = new FormData();
                    // fdpy.append("py_code", editorpy.getValue());
                    // $.ajax({ 
                    //     url:"",
                    //     type:"POST",
                    //     processData: false,
                    //     contentType: false,
                    //     data:fdpy,
                    //     dataType: "json",
                    //     success: function(response) {
                    //         document.getElementById("pyout").value = response.result;
                    //     }
                    // })


                    // 用前端的wasm运行Python代码
                    var py_code = editorpy.getValue();
                    evaluatePython(py_code);
                }
                
            },


            tijiao () {
                

                if(this.task_title.length>0){
                    var fd = new FormData();
                    console.log($('#starttime').val());
                    console.log(this.deadline);
                    if (this.descposter_has && this.descposter_show){
                        var descurl = descposterCanvas.toDataURL('image/jpg', 0.92);
                        var descarr = descurl.split(',');
                        var descmime = descarr[0].match(/:(.*?);/)[1];
                        var descbstr = atob(descarr[1]);
                        var descn = descbstr.length;
                        var descu8arr = new Uint8Array(descn);
                        while(descn--){
                            descu8arr[descn] = descbstr.charCodeAt(descn);
                        }
                        var descobj = new Blob([descu8arr], {type:descmime});
                        fd.append("descposter", descobj,"image.jpg");
                    }
                    if (this.task_type=='学习任务'){
                        fd.append("learnlist",JSON.stringify(this.learnlist));
                    }
                    if (this.task_type=='问答任务'){
                        fd.append("ques_type",this.ques_type);
                        fd.append("querylist",JSON.stringify(this.querylist));
                    }
                    if (this.online_coding==1){
                        fd.append("show_editor",this.show_editor);
                        fd.append("html_content",editor.getValue());
                        fd.append("js_content",editorjs.getValue());
                        fd.append("py_content",editorpy.getValue());
                    }
                    fd.append("online_coding",this.online_coding);
                    fd.append("task_type",this.task_type);
                    fd.append("task_title",this.task_title);
                    fd.append("task_desc",this.task_desc);
                    fd.append("task_repeat",this.task_repeat);
                    fd.append("bonus",this.bonus);
                    fd.append("task_taker",this.task_taker);
                    fd.append("task_takername",$('#select_input').val());
                    fd.append("deadline",$('#starttime').val());
                    fd.append("descposter_has",this.descposter_has);
                    fd.append("task_action","new");

                    $.ajax({ 
                        url:"{{ url_for('rw.createtask') }}",
                        type:"POST",
                        processData: false,
                        contentType: false,
                        data:fd,
                        dataType: "json",
                        success: function(response) {
                            //window.location.href = "/task/edittask/"+response.result;
                            taskvue.$data.jinyong = true;
                            var chazhi = taskvue.$data.task_title;
                            $("#showres").html("已创建任务："+chazhi);
                            //taskvue.$data.optionsArr=response.result;

                        }
                    })
                }
            }
        },
        watch: {
            show_editor(newVal, oldVal){
                if(newVal==1){
                    $("#codeframe").attr("style","min-height:730px;")
                } else {
                    $("#codeframe").attr("style","min-height:368px;")
                }
            }
        }
    })
    
    


var tempArr = {{usrsl|tojson}}
searchInput(tempArr);

function newOptions(tempArr){
    var listArr = [];
    for(var i=0;i<tempArr.length;i++){
        if(tempArr[i].Username.indexOf($('#select_input').val()) > -1){
            listArr.push(tempArr[i]);
        }
    }
    var options = '';
    for(var i = 0; i < listArr.length; i++) {
        opt = '<li class="li-select" data-newUserid="' + listArr[i].Userid + '">' + listArr[i].Username + '</li>';
        options += opt;
    }
    if(options == ''){
        $('#search_select').hide();
    }else{
        $('#search_select').show();
        $('#select_ul').html('').append(options);
    }
}
function searchInput(tempArr){
    $('select-content').on('click',function(){
        $('#select_input').focus();
    });
    $('#select_input').on('keyup',function(){
        newOptions(tempArr);
    });
    $('#select_input').on('focus',function(){
        $('#search_select').show();
        newOptions(tempArr);
    });
    $('#select_ul .li-disabled').on('click',function(){
        $('#search_select').show();
    });
    $('#search_select').on('mouseover',function(){
        $(this).addClass('ul-hover');
    });
    $('#search_select').on('mouseout',function(){
        $(this).removeClass('ul-hover');
    });
    $('#select_input').on('blur',function(){
        if($('#search_select').hasClass('ul-hover')){
            $('#search_select').show();
        }else{
            $('#search_select').hide();
        }
    });
    $('#select_ul').delegate('.li-select', 'click',function(){
        $('#select_ul .li-select').removeClass('li-hover');
        var selectText = $(this).html();
        var newUseridVal = $($(this)[0]).attr("data-newUserid");
        taskvue.$data.task_taker=newUseridVal;
        $('#select_input').val(selectText);
        $('#search_select').hide();
        $("input[name='newUserid']").val(newUseridVal);
    });
    $('#select_ul').delegate('.li-select', 'mouseover',function(){
        $('#select_ul .li-select').removeClass('li-hover');
        $(this).addClass('li-hover');
    });
}

    $('.form_datetime').datetimepicker({
        fontAwesome:'font-awesome',//指定
        language:  'zh-CN',
		format : 'yyyy-mm-dd hh:ii:ss',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });


var imgInput = document.getElementById("descposter");
var submitBtn = document.getElementById("submit");
var mySlider = document.getElementById("slider");
var descposterCanvas = document.getElementById("descposter-canvas");
var descposterCxt = descposterCanvas.getContext("2d");
var imgCanvas = document.getElementById("image-canvas");
var imgCxt = imgCanvas.getContext("2d");
var currentFactor = 1; //当前的放缩倍数
var minFactor = 1; //最小放缩倍数
var maxFactor = 1; //最大放缩倍数
var ori = document.getElementById("image-canvas").height;
var oriw = document.getElementById("image-canvas").width;
var cut = document.getElementById("descposter-canvas").height;
var cutw = document.getElementById("descposter-canvas").width;
var img = new Image();
var bian = 0;
img.setAttribute('crossOrigin', 'anonymous');



imgInput.onchange = function() {
var imgUrl =  URL.createObjectURL(imgInput.files[0]);
// imgCanvas.setAttribute('height', ori);
// descposterCanvas.setAttribute('height',cut);
// drawMask();
getImage(imgUrl);
// var fileReader = new FileReader();
// fileReader.readAsBinaryString(imgInput.files[0]);
}

//初始滑动条
initSlider = function() {
    mySlider.min = minFactor;
    mySlider.max = maxFactor;
    mySlider.value = currentFactor;
    mySlider.step = 0.01;
}

// 计算初始Factor
calculateFactor = function() {
    if(img.width>img.height*16/9) {
        minFactor = oriw/img.width;//初始状态
        currentFactor = oriw/img.width;
        maxFactor = oriw*5/img.width;
    } else {
        minFactor = ori/img.height;
        currentFactor = ori/img.height;
        maxFactor = ori*5/img.height;
    }
    initSlider();
}

//计算初始画布位置
canvasOriginPosition = function() {
    calculateFactor();
    var positionX;
    var positionY;
    if(img.width>img.height*16/9) {
        positionX = 0;
        positionY = (ori - img.height*currentFactor) /2;
    } else {
        positionX = (oriw - img.width*currentFactor) /2;
        positionY = 0;
    }
    lastImgX = positionX;
    lastImgY = positionY;
    return({"positionX":positionX,"positionY":positionY});
}

//获取图像并画出来
getImage = function(imgUrl) {
    // img.src = './changtuxiang.jpg'
    img.src=imgUrl;
    img.onload = function() {
        calculateFactor();
        var originPosition = canvasOriginPosition();
        imgCxt.globalCompositeOperation = "destination-over";
        taskvue.$data.descposter_show=true;
        imgCxt.clearRect(0,0,imgCanvas.width,imgCanvas.height);
        imgCxt.drawImage(img,originPosition.positionX,originPosition.positionY,img.width*currentFactor,img.height*currentFactor);
    }
}

//画蒙版
// drawMask = function() {
//     imgCxt.fillStyle = "rgba(0,0,0,0.5)";
//     imgCxt.fillRect(0,0,ori,ori);
//     imgCxt.fillStyle = "rgba(0,0,0,1)";
//     imgCxt.globalCompositeOperation = "destination-out";
//     imgCxt.fillRect(bian,bian,cut,cut);
// }


//控制canvas拖动
var moving = false;
var lastmouseX = null;
var lastmouseY = null;

//上次移动结束,canvas画图的位置
var lastImgX = 0;
var lastImgY = 0;

imgCanvas.onmousedown=function(e) {
    // console.log("onmousedown",lastImgX,lastImgY);
    moving = true;
    lastmouseX = e.clientX;
    lastmouseY = e.clientY;
}

window.onmouseup = function(e) {
    if(moving === true) {
        moving = false;
        var newPosition = checkPosition(e.clientX - lastmouseX,e.clientY - lastmouseY)
        //每次移动完成都要改变一下上次图片绘制位置
        lastImgX = newPosition.X;
        lastImgY = newPosition.Y;
        // console.log("onmouseup",lastImgX,lastImgY);
    }
}

imgCanvas.addEventListener("touchstart", function(e) {
    // console.log("onmousedown",lastImgX,lastImgY);
    var touches = e.touches[0];
    moving = true;
    lastmouseX = touches.clientX;
    lastmouseY = touches.clientY;
    document.addEventListener("touchmove",function defaultEvent(e) {
   e.preventDefault();
  },false);
  },false); 

imgCanvas.addEventListener("touchend",function(e) {
    var touches = e.changedTouches[0];
    //if(moving === true) {
        moving = false;
        var newPosition = checkPosition(touches.clientX - lastmouseX,touches.clientY - lastmouseY)
        //每次移动完成都要改变一下上次图片绘制位置
        lastImgX = newPosition.X;
        lastImgY = newPosition.Y;
        // console.log("onmouseup",lastImgX,lastImgY);
    //}
    document.removeEventListener("touchmove",function defaultEvent(e) {
    e.preventDefault();
    },false);
  },false);


redrawImg = function(pX,pY) {
    //每次绘图前检查position是否没有超出区域
    var newPosition = checkPosition(pX,pY)
    imgCanvas.setAttribute('height', ori);
    // drawMask();
    imgCxt.globalCompositeOperation = "destination-over";
    imgCxt.drawImage(img,newPosition.X,newPosition.Y,img.width*currentFactor,img.height*currentFactor);

}

checkPosition = function(pX,pY) {
    if(pX+lastImgX<=bian&&pX+lastImgX>=oriw+bian-img.width*currentFactor&&pY+lastImgY<=bian&&pY+lastImgY>=ori+bian-img.height*currentFactor) {
        return ({"X":pX+lastImgX,"Y":pY+lastImgY});
    } else {
        var x_ = pX+lastImgX;
        var y_ = pY+lastImgY;
        if(pX+lastImgX>bian) {
            x_ = bian;
        }
        if(pX+lastImgX<oriw+bian-img.width*currentFactor) {
            x_ = oriw+bian-img.width*currentFactor;
        }
        if(pY+lastImgY>bian) {
            y_ = bian;
        }
        if(pY+lastImgY<ori+bian-img.height*currentFactor) {
            y_ = ori+bian-img.height*currentFactor;
        }
        return({"X":x_,"Y":y_});
    }
}





window.onmousemove = function(e) {
    if(moving) {
        pX=e.clientX - lastmouseX;
        pY=e.clientY - lastmouseY;
        // console.log(checkPosition(pX,pY));
        
        redrawImg(pX,pY);
    }
}

imgCanvas.addEventListener("touchmove", function(e) {
    var touches = e.touches[0];
    if(moving) {
        pX=touches.clientX - lastmouseX;
        pY=touches.clientY - lastmouseY;
        // console.log(checkPosition(pX,pY));
        
        redrawImg(pX,pY);
    }
},false);




mySlider.oninput = function() {
    currentFactor = mySlider.value;
    //每次缩放完也都要修改图片的绘制位置
    // console.log("oninput",mySlider.value,lastImgX,lastImgY);
    redrawImg(0,0);
}

submitBtn.onclick = function() {
    // console.log("onclick!!",lastImgX,lastImgY);
    descposterCxt.clearRect(0,0,descposterCanvas.width,descposterCanvas.height);
    descposterCxt.drawImage(img,lastImgX*1.5,lastImgY*1.5,img.width*currentFactor*1.5,img.height*currentFactor*1.5)
}
    
</script>
{% endblock %}
