<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="/v1/auth/mystatic/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<script src="/v1/auth/mystatic/js/jquery-3.2.1.min.js"></script>
	<script src="/v1/auth/mystatic/js/vue.js"></script>
    <link rel="stylesheet" href="/v1/auth/mystatic/css/bootstrap.css">
	<link rel="stylesheet" href="/v1/auth/mystatic/css/font-awesome.min.css">
	<script src="/v1/auth/mystatic/js/bootstrap.min.js"></script>
	<script src="/v1/auth/mystatic/js/feather.min.js"></script>
	<script src="/v1/auth/mystatic/js/popper.min.js"></script>
	<script src="/v1/auth/mystatic/js/scripts.js"></script>
	<link rel="stylesheet" href="/v1/auth/mystatic/css/style.css">
    {% block header_part %}
    {% endblock %}
    <title>任务</title>
	<script>
		$(function(){
			function footerPosition(){
				var contentHeight = document.body.scrollHeight,//网页正文全文高度
					winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
				if(!(contentHeight > winHeight)){
					//当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
					$("footer").addClass("fixed-bottom");
				}
			}
			footerPosition();
			$(window).resize(footerPosition);
		});
	</script>
</head>
<body>

{% block style_part %}
{% endblock %}



<!--navigation-->
<section class="smart-scroll">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-md navbar-light">
			<a class="navbar-brand heading-black" href="{{ url_for('start') }}">
				<img src="/v1/auth/mystatic/img/logo.png" />
			</a>
			
			<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
					data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link page-scroll" href="{{ url_for('rw.editotm') }}">目标时间</a>
					</li>
					<li class="nav-item">
						<a class="nav-link page-scroll" href="{{ url_for('rw.edit_motm') }}">项目管理</a>
					</li>
					<li class="nav-item">
						<a class="nav-link page-scroll" href="{{ url_for('rw.mall') }}">任务商城</a>
					</li>
					<li class="nav-item">
						<a class="nav-link page-scroll" href="{{ url_for('rw.admin') }}">我的任务</a>
					</li>
					<li class="nav-item">
						<a class="nav-link page-scroll" href="{{ url_for('rw.newtask') }}">发布任务</a>
					</li>
				</ul>
				<form class="mx-md-4">
					<div class="input-group input-group-md">
						<input type="text" class="form-control" style="padding:1px 5px;">
						<div class="input-group-append">
							<button class="btn rightbtn" style="padding:3px 5px;"><i class="fa fa-search" style="font-size:24px"></i></button>
						</div>
					</div>
				</form>
				<form class="form-inline" style="min-width:60px;white-space: nowrap;">
					{% if current_user.is_authenticated %}
					<a style="padding:3px 5px;color:#aa00ff;font-size:24px;" href="{{ url_for('my.usercenter') }}">{{current_user.name}}</a>
					<a style="padding:3px 5px;color:#aa00ff;font-size:24px;" href="{{ url_for('auth.logout') }}"><i class="fa fa-power-off"></i></a>
					{% else %}
					<a class="rightbtn btn" style="font-size:18px;padding:3px 5px;" href="{{ url_for('auth.login') }}">登录</a>
					{% endif %}
				</form>
			</div>
		</nav>
	</div>
</section>
	
	
<div class="container" style="margin-top:100px;">
{% block body_part %}

{% endblock %}
</div>


{% block script_part %}
{% endblock %}

<!--footer-->
<footer style="margin-top:50px;" class="py-3">
	<div class="container">
		<div class="row">
			<div class="col-12 text-muted text-center small-xl">
				自塾 &copy; 2023 版权所有
			</div>
		</div>
	</div>
</footer>

</body>
</html>