{% extends 'taskbase.html' %}
{% block header_part %}
<script src="/v1/auth/mystatic/js/vue3.js"></script>
{% endblock %}

{% block style_part %}
<style type="text/css"> 
.outer {
	border:solid #a0f 1px;border-radius:10px;margin:20px 0px;
}

.shenlingbtn {
  margin:10px;padding:5px 10px;width:200px;
}
    
</style> 
{% endblock %}

{% block body_part %}
	<div id="app">

    <div v-for="dd in tdata" class="row outer">
      <div class="col-md-8">
        <div class="row">
          <h4 class="col-md-12">{[dd.taskid]}. <a style="color:#a0f" :href="'/v1/rw/viewtask/'+dd.taskid" target="_blank">{[dd.task_title]}</a></h4>
          <div class="col-md-6">{[dd.task_type]} &nbsp;&nbsp;&nbsp;&nbsp;塾主: {[dd.admin_name]}</div>
			    <div class="col-md-6">赏金: {[dd.bonus]} &nbsp;&nbsp;&nbsp;&nbsp;期限: {[dd.deadline]}</div>
        </div>
      </div>
			
			
			<div class="col-md-4 text-center"><operations v-show="uid>0" :id='dd.taskid'></operations></div>
		</div>
		 
  </div>
		
	
	


{% endblock %}

{% block script_part %}
<script type="text/javascript">
td = {{tmall|tojson}};
usrid = {{usrinfo["usrid"]|tojson}};
usrname = {{usrinfo["usrname"]|tojson}};
const taskvue = {
  data() {
    return {
      tdata: td,
      uid : usrid,
    }
  },
  delimiters: ['{[', ']}'],
}

const app = Vue.createApp(taskvue)
app.component('operations', {
  data() {
    return {
      count: 0
    }
  },
  methods: {
  	jieshou(id){
  		if (confirm("确定接手此任务？")) {
	        	console.log(usrid+"按了确定"+id);
	        	var fd = new FormData();
	        	fd.append("ta_id",id);
	        	fd.append("usrid",usrid);
            fd.append("usrname",usrname);
	        	$.ajax({
                    url:"{{ url_for('rw.applyta') }}",
                    type:"POST",
                    processData: false,
                    contentType: false,
                    data:fd,
                    dataType: "json",
                    success: function(response) {
                         window.location.href = "{{ url_for('rw.mall') }}";

                    },
                    error : function(data) {  
                		alert("发送失败~~");
                	}
                })
	      	} else {
	        	console.log(usrid+"按了取消"+id);
	      	}
  	}
  },
  delimiters: ['{[', ']}'],
  props: ['id'],
  template: `
    <button class='btn btn-primary shenlingbtn' @click="jieshou(id)">
      申 领
    </button>`
})
app.mount('#app')  


    
</script>
{% endblock %}
