{% extends 'tmbase.html' %}
{% block header_part %}
{% endblock %}

{% block style_part %}
<style type="text/css"> 
    img[src=""],img:not([src]){
         opacity:0;
    }
    .kaoyou {
        text-align: right;
    }
    .kaozuo {
        text-align: left;
    }
    
</style> 
{% endblock %}

{% block body_part %}
    <div class="row">
    <div style="display:inline-block;margin:0 auto;"><h2>简答题阅卷</h2></div>
    <div style="margin:0 auto; height:20px;" class="col-md-12"></div>
    
    </div>


    <div id='app'>

        <div v-for="(item,index) in alljianda">

            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou"><h4>{[index+1]}. </h4></div>
                <textarea rows="4" class="col-md-8 form-control" v-model="item.ques_title" disabled=true></textarea>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2"></div>
                <p v-if="item.descpic_url"><img style="max-width: 100%;height:auto;" :src="'/v1/sp/spstatic/images/quespic/'+item.descpic_url" /></p>
            </div>
            
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">说明：</div>
                <textarea rows="4" class="col-md-8 form-control" v-model="item.ques_desc" disabled=true></textarea>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">答案：</div>
                <textarea rows="4" class="col-md-8 form-control" v-model="item.answer" disabled=true></textarea>
            </div>
            <p v-if="item.explainpic_url"><img style="max-width: 100%;height:auto;" :src="'/sp/spstatic/images/quespic/'+item.explainpic_url" /></p>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">答案解释：</div>
                <textarea rows="4" class="col-md-8 form-control" v-model="item.explain" disabled=true></textarea>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">考生作答：</div>
                <textarea rows="4" class="col-md-8 form-control" v-model="item.reply" disabled=true></textarea>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2"></div>
                <h6>本题分值为{[item.fullscore]}分</h6>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <h6>考生作答时间：{[item.did_date]}</h6>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">给分：</div>
                <input class="col-md-2 form-control" v-model="review[index][2]" v-bind:disabled="jinyong"></input>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">写评述：</div>
                <textarea rows="4" class="col-md-8 form-control" v-model="review[index][3]" v-bind:disabled="jinyong"></textarea>
            </div>

        </div>
            
            <br/>
            <div class="row" style="margin-top:10px">
                <input style="display:inline-block;margin:0 auto;" class="btn btn-primary" @click="tijiao()" type="submit" value="提交阅卷">
            </div>

            <div class="row" style="margin-top:10px">
                <span id="showres" style="display:inline-block;margin:0 auto;"></span>
            </div>

    </div>



{% endblock %}

{% block script_part %}
<script type="text/javascript">
var examiner = {{current_user.name|tojson}};
var geshu = {{jddata|length}};
var jiandadata = {{jddata|tojson}};

    reviewvue = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        created: function () {
                    // `this` 指向 vm 实例;
                    this.review=[]
                    for(var i = 0 ; i < geshu  ; i++){
                        var temp = [jiandadata[i].qperformid,examiner,0,''];
                        this.review.push(temp);
                    }
        },
        data: {
            review:[],
            alljianda:jiandadata,
            jinyong:false
            
        },
        
        methods: {
            
            tijiao () {

                    var reg = new RegExp("[0-9]+$");
                    var txt = window.location.href.match(reg);

                    $.ajax({
                        url:"{{ url_for('tm.saverejianda') }}",
                        type:"POST",
                        data:{
                            pp_updateid:txt[0],
                            message:JSON.stringify(reviewvue.$data.review)
                        },
                        dataType: "json",
                        success: function(response) {
                            $("#showres").html("已提交阅卷");
                            console.log("已更新");
                            reviewvue.$data.jinyong = true;

                        }
                    })


                
            }
        }
    })
    


    
</script>
{% endblock %}
