{% extends 'tmbase.html' %}
{% block header_part %}
{% endblock %}

{% block style_part %}
<style type="text/css"> 
    img[src=""],img:not([src]){
         opacity:0;
    }
    .kaoyou {
        text-align: right;
    }
    .kaozuo {
        text-align: left;
    }
    
</style> 
{% endblock %}

{% block body_part %}
    <div class="row">
    <div style="display:inline-block;margin:0 auto;"><h2>新题审核</h2></div>
    <div style="margin:0 auto; height:20px;" class="col-md-12"></div>
    
    </div>


    <div id='app'>
        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>题型：</h4></div>
            <input class="col-md-8 form-control" v-model="qitem.ques_type" disabled=true></input>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>作者：</h4></div>
            <input class="col-md-8 form-control" v-model="qitem.author_name" disabled=true></input>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>标题：</h4></div>
            <textarea rows="4" class="col-md-8 form-control" disabled=true>{[qitem.ques_title]}</textarea>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>题目说明：</h4></div>
            <textarea rows="4" class="col-md-8 form-control" v-model="qitem.ques_desc" disabled=true></textarea>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img v-if="qitem.descpic_url" style="max-width: 100%;height:auto;" :src="'/v1/sp/spstatic/images/quespic/'+qitem.descpic_url" />
            </div>
        </div>

        

        <div v-if="['选择题', '填空题'].includes(qitem.ques_type)" class="row" style="margin-top:10px">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p v-if="qitem.item_a">A: {[qitem.item_a]}</p>
                <p v-if="qitem.item_b">B: {[qitem.item_b]}</p>
                <p v-if="qitem.item_c">C: {[qitem.item_c]}</p>
                <p v-if="qitem.item_d">D: {[qitem.item_d]}</p>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>答案：</h4></div>
            <input class="col-md-8 form-control" v-model="qitem.answer" disabled=true></input>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>答案解释：</h4></div>
            <textarea rows="4" class="col-md-8 form-control" v-model="qitem.explain" disabled=true></textarea>
        </div>

        <img v-if="qitem.explainpic_url" style="max-width: 100%;height:auto;" :src="'/v1/sp/spstatic/images/quespic/'+qitem.explainpic_url" />

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>说明：</h4></div>
            <textarea rows="4" class="col-md-8 form-control" v-model="qitem.ques_desc" disabled=true></textarea>
        </div>
        

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>稀缺性打分：</h4></div>
            <input class="col-md-8 form-control" placeholder="0到10的整数" v-model="review[0]" v-bind:disabled="jinyong"></input>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>稀缺性评述：</h4></div>
            <textarea rows="4" class="col-md-8 form-control" v-model="review[1]" v-bind:disabled="jinyong"></textarea>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>先进性打分：</h4></div>
            <input class="col-md-8 form-control" placeholder="0到10的整数" v-model="review[2]" v-bind:disabled="jinyong"></input>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>先进性评述：</h4></div>
            <textarea rows="4" class="col-md-8 form-control" v-model="review[3]" v-bind:disabled="jinyong"></textarea>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>操作性打分：</h4></div>
            <input class="col-md-8 form-control" placeholder="0到10的整数" v-model="review[4]" v-bind:disabled="jinyong"></input>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>操作性评述：</h4></div>
            <textarea rows="4" class="col-md-8 form-control" v-model="review[5]" v-bind:disabled="jinyong"></textarea>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>审核结果：</h4></div>
            <span class="col-md-8" style="text-align: left;">
                <input type="radio" id="right" value=2 v-model="review[6]" v-bind:disabled="jinyong">
                <label for="right">审核不通过</label>
                <span>&nbsp;&nbsp;</span>
                <input type="radio" id="wrong" value=1 v-model="review[6]" v-bind:disabled="jinyong">
                <label for="wrong">审核通过</label>
            </span>
        </div>

        <div v-show="review[6]==2" class="row" style="margin-top:10px">
            <div class="col-md-2"><h4>意见反馈：</h4></div>
            <textarea rows="4" class="col-md-8 form-control"  placeholder="审核不通过的原因" v-model="review[7]" v-bind:disabled="jinyong"></textarea>
        </div>
            
        <br/>
        <div class="row" style="margin-top:10px">
            <input style="display:inline-block;margin:0 auto;" class="btn btn-primary" @click="tijiao()" type="submit" value="提交审核">
        </div>

        <div class="row" style="margin-top:10px">
            <span id="showres" style="display:inline-block;margin:0 auto;"></span>
        </div>

    </div>



{% endblock %}

{% block script_part %}
<script type="text/javascript">
var examiner = {{current_user.name|tojson}};
var quesdata = {{qdata|tojson}};

    reviewvue = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        
        data: {
            review:[null,'',null,'',null,'',2,''],
            qitem:quesdata,
            jinyong:false
            
        },
        
        methods: {
            
            tijiao () {

                    var reg = new RegExp("[0-9]+$");
                    var txt = window.location.href.match(reg);

                    $.ajax({
                        url:"{{ url_for('tm.savereques') }}",
                        type:"POST",
                        data:{
                            rp_updateid:txt[0],
                            message:JSON.stringify(reviewvue.$data.review)
                        },
                        dataType: "json",
                        success: function(response) {
                            $("#showres").html("已提交审核");
                            console.log("已更新");
                            reviewvue.$data.jinyong = true;

                        }
                    })


                
            }
        }
    })
    
    
</script>
{% endblock %}
