{% extends 'tmbase.html' %}
{% block header_part %}
{% endblock %}

{% block style_part %}
<style type="text/css"> 
    img[src=""],img:not([src]){
         opacity:0;
    }
    .kaoyou {
        text-align: right;
    }
    .kaozuo {
        text-align: left;
    }
    
</style> 
{% endblock %}

{% block body_part %}
    <div class="row">
    <div style="display:inline-block;margin:0 auto;"><h2>编辑题目</h2></div>
    <div style="margin:0 auto; height:20px;" class="col-md-12"></div>
    
    </div>


    <div id='app'>
        <div style="margin-left: 20px;text-align: center;">
            <br/>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">题型：</div>
                <label class="col-md-8 form-control kaozuo">{[ques_type]}</label>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">标题：</div>
                <input class="col-md-8 form-control" v-model="timuxin"></input>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2"></div>
                <label class="col-md-4 form-check-label kaozuo">
                    <input type="checkbox" v-model="descposter_has" style="margin-right: 10px;" onclick="this.value=(this.value==0)?1:0" value="0">题目配图
                </label>
            </div>

            <div v-show="descposter_has==1" class="row" style="margin-top:10px">
            <div class="col-md-2">上传图片：<br/>(尺寸16:9)</div>
            <div class="col-md-8">
                <input style="width:100%;border:1px dashed black;" class="btn btn-default" id="descposter" type="file" name="descpo"></input>
            </div>
            </div>
            
            <div class="row" v-show="descposter_show && descposter_has==1">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;"> 
                <canvas id="descposter-canvas" style="width: 480px"></canvas>
            </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">说明：</div>
                <textarea rows="4" class="col-md-8 form-control" v-model="timudesc"></textarea>
            </div>
            <div v-if="itemA" class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">A：</div>
                <input class="col-md-8 form-control" v-model="itemA"></input>
            </div>
            <div v-if="itemB" class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">B：</div>
                <input class="col-md-8 form-control" v-model="itemB"></input>
            </div>
            <div v-if="itemC" class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">C：</div>
                <input class="col-md-8 form-control" v-model="itemC"></input>
            </div>
            <div v-if="itemD" class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">D：</div>
                <input class="col-md-8 form-control" v-model="itemD"></input>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">答案：</div>
                <input class="col-md-8 form-control" v-model="daan"></input>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2"></div>
                <label class="col-md-4 form-check-label kaozuo">
                    <input type="checkbox" v-model="explainposter_has" style="margin-right: 10px;" onclick="this.value=(this.value==0)?1:0" value="0">解释配图
                </label>
            </div>

            <div v-show="explainposter_has==1" class="row" style="margin-top:10px">
            <div class="col-md-2">上传图片：<br/>(尺寸16:9)</div>
            <div class="col-md-8">
                <input style="width:100%;border:1px dashed black;" class="btn btn-default" id="explainposter" type="file" name="explainpo"></input>
            </div>
            </div>
            
            <div class="row" v-show="explainposter_show && explainposter_has==1">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;"> 
                <canvas id="explainposter-canvas" style="width: 480px"></canvas>
            </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-2 kaoyou">答案解释：</div>
                <textarea rows="4" class="col-md-8 form-control" v-model="jieshi"></textarea>
            </div>
            <br/>
            <input class="btn btn-primary" @click="tijiao()" type="submit" value="提交">
        </div>
        <span id="showres"></span>
    </div>



{% endblock %}

{% block script_part %}
<script type="text/javascript">
var authoid = {{current_user.id}};

    editvue = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        mounted: function (){
            console.log(this.timudesc);


            if (this.descpic_url) {
                this.descposter_has = true;
                this.descposter_show=true;
                var descposterimg = new Image();
                descposterimg.src = "/v1/sp/spstatic/images/quespic/"+this.descpic_url;
                descposterimg.onload = function() {
                    console.log("渲染题目图片1");
                    descposterCanvas.setAttribute('width', 480);
                    descposterCanvas.setAttribute('height', 270);
                    descposterCxt.drawImage(descposterimg,0,0,480,270);
                }
                    
            }

            if (this.explainpic_url) {
                this.explainposter_has = true;
                this.explainposter_show=true;
                var explainposterimg = new Image();
                explainposterimg.src = "/v1/sp/spstatic/images/quespic/"+this.explainpic_url;
                explainposterimg.onload = function() {
                    console.log("渲染题目图片2");
                    explainposterCanvas.setAttribute('width', 480);
                    explainposterCanvas.setAttribute('height', 270);
                    explainposterCxt.drawImage(explainposterimg,0,0,480,270);
                }
                    
            }
        },
        data: {
            descposter_has:false,
            ques_type:{{qitem.ques_type|tojson}},
            descposter_show:false,
            explainposter_has:false,
            explainposter_show:false,
            timuxin:{{qitem.ques_title|tojson}},
            timudesc:{{qitem.ques_desc|tojson}},
            itemA:{{qitem.item_a|tojson}},
            itemB:{{qitem.item_b|tojson}},
            itemC:{{qitem.item_c|tojson}},
            itemD:{{qitem.item_d|tojson}},
            daan:{{qitem.answer|tojson}},
            jieshi:{{qitem.explain|tojson}},
            descpic_url:{{qitem.descpic_url|tojson}},
            explainpic_url:{{qitem.explainpic_url|tojson}}
        },
        
        methods: {
            
            tijiao () {
                this.shownewtimu=false;
                if(this.timuxin.length>0){
                    let convobj = {
                        'ques_title':this.timuxin,
                        'ques_desc':this.timudesc,
                        'item_a':this.itemA,
                        'item_b':this.itemB,
                        'item_c':this.itemC,
                        'item_d':this.itemD,
                        'answer':this.daan,
                        'explain':this.jieshi,
                        'ques_authorid':authoid
                    }
                    console.log(convobj);
                    console.log(this.descposter_has);
                    console.log(this.descposter_show);
                    var fd = new FormData();

                    if (this.descposter_has && this.descposter_show){
                        var descurl = descposterCanvas.toDataURL('image/jpg', 0.92);
                        var descarr = descurl.split(',');
                        var descmime = descarr[0].match(/:(.*?);/)[1];
                        var descbstr = atob(descarr[1]);
                        var descn = descbstr.length;
                        var descu8arr = new Uint8Array(descn);
                        while(descn--){
                            descu8arr[descn] = descbstr.charCodeAt(descn);
                        }
                        var descobj = new Blob([descu8arr], {type:descmime});
                        fd.append("descposter", descobj,"image.jpg");
                    }
                    if (this.explainposter_has && this.explainposter_show){

                        var explainurl = explainposterCanvas.toDataURL('image/jpg', 0.92);
                        var explainarr = explainurl.split(',');
                        var explainmime = explainarr[0].match(/:(.*?);/)[1];
                        var explainbstr = atob(explainarr[1]);
                        var explainn = explainbstr.length;
                        var explainu8arr = new Uint8Array(explainn);
                        while(explainn--){
                            explainu8arr[explainn] = explainbstr.charCodeAt(explainn);
                        }
                        var explainobj = new Blob([explainu8arr], {type:explainmime});
                        fd.append("explainposter", explainobj,"image.jpg");
                    }
                    fd.append("ques_title",this.timuxin);
                    fd.append("ques_desc",this.timudesc);
                    fd.append("item_a",this.itemA);
                    fd.append("item_b",this.itemB);
                    fd.append("item_c",this.itemC);
                    fd.append("item_d",this.itemD);
                    fd.append("answer",this.daan);
                    fd.append("explain",this.jieshi);
                    fd.append("ques_authorid",authoid);

                    fd.append("descposter_has",this.descposter_has);
                    fd.append("explainposter_has",this.explainposter_has);

                    var reg = new RegExp("[0-9]+$");
                    var txt = window.location.href.match(reg);
                    fd.append("ques_updateid",txt[0]);
                    console.log(fd);
                    $.ajax({
                        url:"{{ url_for('tm.addnewqu') }}",
                        type:"POST",
                        processData: false,
                        contentType: false,
                        data: fd,
                        // data:{
                        //     ques_updateid:txt[0],
                        //     message:JSON.stringify(convobj)
                        // },
                        dataType: "json",
                        success: function(response) {
                            $("#showres").html("已更新题目=>"+response.result.ques_title);
                            console.log("已更新");
                            //editvue.$data.optionsArr=response.result;

                        }
                    })


                }
            }
        }
    })
    

    var descposterInput = document.getElementById("descposter");
    var descposterCanvas = document.getElementById("descposter-canvas");
    //var ori = document.getElementById("poster-canvas").width;
    var descposterCxt = descposterCanvas.getContext("2d");
    
    

    var explainposterInput = document.getElementById("explainposter");
    var explainposterCanvas = document.getElementById("explainposter-canvas");
    //var ori = document.getElementById("poster-canvas").width;
    var explainposterCxt = explainposterCanvas.getContext("2d");
    

    descposterInput.onchange = function() {
        var descposterimg = new Image();
        descposterimg.src =  URL.createObjectURL(descposterInput.files[0]);
        console.log("展示图片1");
        descposterimg.onload = function() {
            descposterCanvas.setAttribute('width', 480);
            descposterCanvas.setAttribute('height', 270);
            editvue.$data.descposter_show=true;
            descposterCxt.drawImage(descposterimg,0,0,480,270);
        }
    }

    explainposterInput.onchange = function() {
        var explainposterimg = new Image();
        explainposterimg.src =  URL.createObjectURL(explainposterInput.files[0]);
        explainposterimg.onload = function() {
            explainposterCanvas.setAttribute('width', 480);
            explainposterCanvas.setAttribute('height', 270);
            editvue.$data.explainposter_show=true;
            explainposterCxt.drawImage(explainposterimg,0,0,480,270);
        }
    }


    
</script>
{% endblock %}
