{% extends 'tmwide.html' %}
{% block header_part %}
{% endblock %}

{% block style_part %}
<style type="text/css">
    .flip-list-move {
        transition: transform 0.3s ease-in;
    }
    .kaoyou {
        text-align: right;
    }
    .kaozuo {
        text-align: left;
    }
    #options {
        max-height: 700px;
        float: left;
        overflow-y: scroll;
    }
    #box {
        max-height: 700px;
        float: left;
        /* text-align: center; */
        overflow-y: scroll;

    }
    .items {
        width: 95%;
        margin: 10px auto;
        padding:5px;
        background-color: #DDD;
        border-radius:5px;

    }
    #line{
        width: 2px;
        height: 400px; 
        position: absolute; 
        left: 50%;
        z-index: 666;
        cursor: w-resize;
    }
    #contes { /* 弹框的页面*/
        width: 300px; /*宽度*/
        background: #eee; /*背景色*/
        z-index: 3; /*覆盖*/
        border-radius:5px;
        box-shadow: darkgrey 10px 10px 30px 10px;
        position: absolute;
        top: 100px;
        left: 400px; /* 定位*/
    }
    #bar {
        background: blue;
        height:30px;
        border-radius:5px 5px 0px 0px;
    }
    
</style> 
{% endblock %}

{% block body_part %}
    
<div class="row" id='app'>
    
    <div class="col-md-6" id="options">
        <div style="width:100%;text-align: center;">
            <div class="row" v-for="(item,index) in querylist" style="margin:0 auto;padding-top:5px;text-align: center;">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <select id="fclass" class="col-md-3 form-control" v-model="item[0]">
                    <option value="题型">题型</option>
                    <option value="作者">作者</option>
                    <option value="审核人">审核人</option>
                    <option value="ques_title">标题</option>
                    <option value="ques_desc">说明</option>
                    <option value="item_a/item_b/item_c/item_d">选项</option>
                    <option value="answer">答案</option>
                    <option value="explain">解析</option>
                    <option value="ques_title/ques_desc">标题/说明</option>
                    <option value="ques_title/ques_desc/item_a/item_b/item_c/item_d">标题/说明/选项</option>
                    <option value="item_a/item_b/item_c/item_d/answer/explain">选项/答案/解析</option>
                    <option value="answer/explain">答案/解析</option>
                    <option value="ques_title/ques_desc/item_a/item_b/item_c/item_d/answer/explain">标题/说明/选项/答案/解析</option>
                </select>
                <span>&nbsp;&nbsp;</span>
                <input v-model="item[1]" class="col-md-5 form-control" @change="changewords()" placeholder="可以用and和or，不要用括号" type="text">
                <span v-if="index<querylist.length-1">&nbsp;&nbsp;<label class="btn btn-default">AND</label></span>
                <span v-if="index>0">&nbsp;&nbsp;<button class="btn btn-default" @click="deletewords(index)">删除</button></span>
            </div>
            <hr>
            <button class="btn btn-primary" style="margin-top:10px;" @click="addwords()">+增加字段</button>
            <span>&nbsp;&nbsp;</span>
            <button class="btn btn-primary" style="margin-top:10px;" @click="query()" :disabled="disabled">开始检索</button>
            <br/><br/>
        </div>
        

        <div class="items" draggable="true" v-for="(item,index) in optionsArr" :key="index" @dragstart="dragStart1($event,item)">
            <h5>{[item.ques_title]}</h5>
            <p v-if="item.descpic_url"><img style="max-width: 100%;height:auto;" :src="'/v1/sp/spstatic/images/quespic/'+item.descpic_url" /></p>
            <span>{[item.ques_desc]}</span><br/>
            <span v-if="item.item_a && item.ques_type != '填空题'">A: {[item.item_a]}</span><br/>
            <span v-if="item.item_b && item.ques_type != '填空题'">B: {[item.item_b]}</span><br/>
            <span v-if="item.item_c && item.ques_type != '填空题'">C: {[item.item_c]}</span><br/>
            <span v-if="item.item_d && item.ques_type != '填空题'">D: {[item.item_d]}</span><br/>
            <span>答案: {[item.answer]}</span><br/>
        </div>
    </div>

    <div class="col-md-6" id="box">
        <div style="display:inline-block;margin:0 auto; width:100%;text-align: center;">
            <input id="paper_title" placeholder="试卷名称" value="{{papername}}" type="text"><br/>
            <label>题目数量：{[subjectArr|Amount]}</label>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label>总分：{[subjectArr|Fullscore]}</label>
            <div>
                <label class="form-check-label">
                    <input type="checkbox" v-model="gongkai" style="margin-top: 10px;" onclick="this.value=(this.value==0)?5:0" value="0"></input>公开
                </label>
            </div>
        </div>
        <div class="items" style="text-align: center;" draggable="true" @dragover.prevent @dragstart="dragStart2($event,index)" @dragenter="dragenter($event)" @dragleave="dragleave($event)" @drop="add($event,index,item)" v-for="(item,index) in tempArr" :key="item.quesid" v-if="kong">
            将题目拖拽到此处或下面的题目上
        </div>
        <transition-group name="flip-list">
            <div class="items" draggable="true" @dragover.prevent @dragstart="dragStart2($event,index)" @dragenter="dragenter($event)" @dragleave="dragleave($event)" @drop="add($event,index,item)" v-for="(item,index) in subjectArr" :key="item.quesid">
                组别：
                <input style="width:100px;font-size: 14px;padding:0px 10px;" type="text" v-model="item.ques_part"></input>
                分值：
                <input style="width:50px;font-size: 14px;padding:0px 10px;" type="text" v-model.number="item.ques_value"></input>
                <button style="font-size: 12px;padding:0px;"><a :href="'/v1/tm/editques/'+item.quesid" target="_blank">编辑题目</a></button>
                <button style="font-size: 12px;padding:0px;" @click="item.isshow = !item.isshow">展开/折叠</button>
                <button style="font-size: 12px;padding:0px;" @click="deleteques($event,index)">移除</button>
                <br/>
                <span>第{[index+1]}题：   {[item.ques_title]}</span><br/>
                <div v-show="item.isshow">
                    <p v-if="item.descpic_url"><img style="max-width: 100%;height:auto;" :src="'/v1/sp/spstatic/images/quespic/'+item.descpic_url" /></p>
                    <div>{[item.ques_desc]}</div>
                    <div v-if="item.item_a && item.ques_type != '填空题'">A: {[item.item_a]}</div>
                    <div v-if="item.item_b && item.ques_type != '填空题'">B: {[item.item_b]}</div>
                    <div v-if="item.item_c && item.ques_type != '填空题'">C: {[item.item_c]}</div>
                    <div v-if="item.item_d && item.ques_type != '填空题'">D: {[item.item_d]}</div>
                    <span>答案: {[item.answer]}</span><br/>
                    <span>解释: {[item.explain]}</span><br/>
                </div>
            </div>
        </transition-group>

        <div style="width:100%;text-align: center;">
            <button class="btn btn-primary" @click="newtimu()">添加题目</button>
            <button class="btn btn-primary" onclick="savepaper()">保存试卷</button>
        </div>

        <div style="margin:20px;" v-show="shownewtimu">
            <!-- <div id="bar"> style="width:300px;height:500px;overflow-y: scroll;" style="margin-left: 20px;text-align: center;"</div> -->
                    
            <div class="row" style="margin-top:10px">
                <h4>组别：</h4>
                <input type="text" class="col-md-10 form-control" v-model="newzu"></input>
            </div>

            <div class="row" style="margin-top:10px">
                <h4>题型：</h4>
                <select class="col-md-10 form-control" v-model="ques_type">
                    <option value="选择题">选择题</option>
                    <option value="判断题">判断题</option>
                    <option value="填空题">填空题</option>
                </select>
            </div>

            <div class="row" style="margin-top:10px">
                <h4>标题：</h4>
                <textarea id="input" @blur="zhengli()" rows="4" class="col-md-10 form-control" v-model="timuxin"></textarea>
            </div>

            
            
            <div v-if="['填空题'].includes(ques_type) && slotsnum<5" class="text-center" style="margin-top:10px">
                <button class="btn btn-primary"  @click="addslots()">+挖个空儿</button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span style="white-space: pre-line;color:red;">{[slotswarning]}</span>
            </div>

            <div class="row" style="margin-top:10px">
                <h4>说明：</h4>
                <textarea rows="4" class="col-md-10 form-control" v-model="timudesc"></textarea>
            </div>

            <div v-if="['选择题','填空题'].includes(ques_type)" v-for="(item,index) in itemlist" class="row" style="margin-top:10px">
                <h4>选项：</h4>
                <input v-model="item[0]" class="col-md-8 form-control" :placeholder="String.fromCharCode(index+65)" type="text"></input>
                <span v-if="index>0"><i class="fa fa-minus-circle col-2" @click="deleteitems(index)" style="font-size:36px;color:#a0f;margin-left:10px;padding-top:5px;"></i></span>
            </div>
            <div v-if="['选择题','填空题'].includes(ques_type) && itemlist.length<4" class="text-center" style="margin-top:10px;font-size:14px;">
            <button class="btn btn-primary"  @click="additems()">+增加条目</button>
            </div>

            

            

            <div v-if="['选择题','判断题','简答题'].includes(ques_type)" class="row" style="margin-top:10px">
                <h4>答案：</h4>
                <span v-if="ques_type=='判断题'" class="col-md-10" style="text-align: left;">
                    <input type="radio" id="right" value="正确" v-model="daan">
                    <label for="right">正确</label>
                    <span>&nbsp;&nbsp;</span>
                    <input type="radio" id="wrong" value="错误" v-model="daan">
                    <label for="wrong">错误</label>
                </span>
                <textarea v-if="['选择题','简答题'].includes(ques_type)" rows="4" class="col-md-10 form-control" v-model="daan"></textarea>
            </div>

            <div class="row" style="margin-top:10px">
                <h4>解释：</h4>
                <textarea rows="4" class="col-md-10 form-control" v-model="jieshi"></textarea>
            </div>

            <br/>
            <div class="text-center">
            <input class="btn btn-primary" @click="tijiao()" type="submit" value="提交">
            <button class="btn btn-primary" @click="quxiao()">取消</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    



</div>

{% endblock %}

{% block script_part %}
<script type="text/javascript">
    var authoid = {{current_user.id}};
    var paperdata = {{edata|tojson}};
    var gongdata = {{gongkai|tojson}};
    editvue = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        data: {
            querylist:[['','']],
            disabled:true,
            newadd:'',
            newzu:'',
            shownewtimu: false,
            kong:true,
            timuxin:'',
            slotsnum:0,
            slotswarning:'',
            itemlist:[['']],
            timudesc:'',
            gongkai:gongdata,
            //optionsArr: ['机械', '电学', '化学', '生物'],
            tempArr:[{'quesid':1000, 'ques_part':'', 'isshow':false, 'ques_title':'','item_a':'','item_b':'','item_c':'','item_d':''}],
            // {'quesid':33, 'ques_group':'处理任务', 'isshow':false, 'ques_title':'哪些方式可以打开任务？','item_a':'双击任务','item_b':'右键选择处理任务','item_c':'点击上方工具栏中的处理任务按钮','item_d':'点击上方工具栏中的打开案件','answer':'abc'}

            optionsArr: [],
            subjectArr: paperdata,
            deleteditem:[],
            addeditem:[],
            ques_type:'选择题',
            itemA:'',
            itemB:'',
            itemC:'',
            itemD:'',
            daan:'',
            jieshi:''
        },
        filters:{
                    Amount:function(subjectArr){
                        return subjectArr.length;
                    },
                    Fullscore:function(subjectArr){
                        var scoretmp = 0;
                        subjectArr.forEach((item)=>{
                            //如果被删的元素在新增列表中有了，就是假删除
                            if (parseInt(item.ques_value)>0){

                                scoretmp = scoretmp + item.ques_value;
                            }
                            
                        })
                        return scoretmp;
                    },
                },
        methods: {
            created (){
                if(subjectArr.length > 0){
                    kong=false;
                }
            },
            zhengli : function() {
                var re = /__.?__/gi;
                var listpart = this.timuxin.split(re);
                this.slotsnum = listpart.length;
                var smallpart=listpart[0];
                for (i=1;i<listpart.length;i++){
                    smallpart = smallpart + "__" + String.fromCharCode(64+i) + "__" + listpart[i];
                }
                this.timuxin = smallpart;
                this.slotswarning = "";
            },
            additems (){
                this.itemlist.push(['']);
                console.log(this.itemlist);
            },
            deleteitems (i){
                this.itemlist.splice(i,1);
            },
            addslots : function() {
                var re = /__.?__/gi;
                indexlist = [];
                while (re.test(this.timuxin)){
                    indexlist.push(re.lastIndex);
                    indexlist.push(re.lastIndex-1);
                    indexlist.push(re.lastIndex-2);
                    indexlist.push(re.lastIndex-3);
                    indexlist.push(re.lastIndex-4);
                    indexlist.push(re.lastIndex-5);
                }
                
                var input = document.getElementById("input");
                var cursurPosition = -1;
                indexlist.push(this.timuxin.length);
                cursurPosition = input.selectionStart;
                //console.log(cursurPosition);
                if (indexlist.includes(cursurPosition)){
                    this.slotswarning = "不许在这里挖空儿！";
                }else{
                    var frontpart = this.timuxin.slice(0,cursurPosition);
                    var lastpart = this.timuxin.slice(cursurPosition, this.timuxin.length);
                    var whole = frontpart + "____" + lastpart;
                    var listpart = whole.split(re);
                    this.slotsnum = listpart.length;
                    var smallpart=listpart[0];
                    for (i=1;i<listpart.length;i++){
                        smallpart = smallpart + "__" + String.fromCharCode(64+i) + "__" + listpart[i];
                    }
                    this.timuxin = smallpart;
                    this.slotswarning = "";
                }
                
            },
            addwords (){
                this.querylist.push(['','']);
                this.disabled = true;
            },
            query (){
                console.log(this.querylist);
                let queryli = this.querylist;
                $.ajax({
                    url:"{{ url_for('tm.searchques') }}",
                    type:"POST",
                    data:{
                        querywords:JSON.stringify(queryli)
                    },
                    dataType: "json",
                    success: function(response) {
                        //$("#showgym").html(response);
                        editvue.$data.optionsArr=response;

                    }
                })
            },
            deletewords (i){
                this.querylist.splice(i,1);
                this.disabled = false;
                this.querylist.forEach(el => {
                    str1 = el[0];
                    str2 = el[1].replace(/\s*/g,"");
                    if(str1.length==0 | str2.length==0){
                        this.disabled = true;
                    }
                });
            },
            changewords (){
                this.disabled = false;
                this.querylist.forEach(el => {
                    str1 = el[0];
                    str2 = el[1].replace(/\s*/g,"");
                    if(str1.length==0 | str2.length==0){
                        this.disabled = true;
                    }
                });
            },
            dragStart1 (e,item) {
                e.dataTransfer.setData('text', JSON.stringify(item))
                
            },
            dragStart2 (e,index) {
                e.dataTransfer.setData('text', index)
                
            },
            dragenter(e) {
                let tar = e.target;
                tar.style.backgroundColor = "silver";
            },
            dragleave (e) {
                let tar = e.target;
                tar.style.backgroundColor = "";
            },
            deleteques (e,index) {
                //获取被删的元素
                var tmpitem = this.subjectArr.splice(index, 1);
                var realdelete = true;
                if(this.addeditem.length>0){
                    this.addeditem.forEach((deletecheck)=>{
                        //如果被删的元素在新增列表中有了，就是假删除
                        if(deletecheck.quesid == tmpitem[0].quesid){
                            realdelete = false;
                            this.addeditem.remove(deletecheck);
                        }
                    })
                }
                if(realdelete){
                    //如果是真删除，就把id增加到删除列表中
                    this.deleteditem.push(tmpitem[0].quesid);
                }
            },
            add (e,index,item) {
                let getitem = e.dataTransfer.getData('text')
                let tar = e.target;
                tar.style.backgroundColor = "";
                if(/^\d+$/.test(getitem)){
                    //console.log("是数字"+getitem);
                    let arr = this.subjectArr.concat([]);
                    temp = arr.splice(getitem, 1);
                    arr.splice(index, 0, temp[0]);
                    this.subjectArr = arr;
                }
                else{
                    let getjson = JSON.parse(getitem);
                    
                    var flag = true;
                    this.subjectArr.forEach((dragcheck)=>{
                        console.log(dragcheck.quesid);
                        console.log(getjson.quesid);
                        if(dragcheck.quesid==getjson.quesid){
                            flag = false;
                            alert("题目已存在，不可重复添加！");
                        }
                    })
                    if(flag){
                        let arr = this.subjectArr.concat([]);
                        let convobj = {
                            'quesid':getjson.quesid,
                            'ques_part':item.ques_part,
                            'ques_value':item.ques_value,
                            'isshow':false,
                            'ques_title':getjson.ques_title,
                            'item_a':getjson.item_a,
                            'item_b':getjson.item_b,
                            'item_c':getjson.item_c,
                            'item_d':getjson.item_d,
                            'answer':getjson.answer,
                            'ques_type':getjson.ques_type,
                            'descpic_url':getjson.descpic_url
                        }
                        arr.splice(index+1, 0, convobj);
                        this.subjectArr = arr;
                        this.addeditem.push(convobj);
                    }
                    
                }
                
                console.log(this.subjectArr);
            },

            newtimu () {
                this.shownewtimu=true;
            },
            tijiao () {
                this.shownewtimu=false;
                if(this.timuxin.length>0){
                    this.itemA = this.itemlist[0][0];
                    if (this.itemlist.length>1){
                        this.itemB = this.itemlist[1][0];
                    }
                    if (this.itemlist.length>2){
                        this.itemC = this.itemlist[2][0];
                    }
                    if (this.itemlist.length>3){
                        this.itemD = this.itemlist[3][0];
                    }

                    if (this.ques_type=='填空题'){
                        templ = []
                        this.itemlist.forEach((it)=>{
                            templ.push(it[0])
                        })
                        this.daan = templ.join(",");
                    }
                    let convobj = {
                        'ques_part':this.newzu,
                        'ques_type':this.ques_type,
                        'ques_value':1,
                        'isshow':false,
                        'ques_title':this.timuxin,
                        'ques_desc':this.timudesc,
                        'item_a':this.itemA,
                        'item_b':this.itemB,
                        'item_c':this.itemC,
                        'item_d':this.itemD,
                        'answer':this.daan,
                        'explain':this.jieshi,
                        'ques_authorid':authoid
                    }
                    $.ajax({
                        url:"{{ url_for('tm.addnewqu') }}",
                        type:"POST",
                        // data:{
                        //     message:JSON.stringify(convobj)
                        // },
                        data:convobj,
                        dataType: "json",
                        success: function(response) {
                            console.log(response.result.quesid);
                            //$("#showres").html(response.result.ques_title);
                            //editvue.$data.optionsArr=response.result;
                            convobj.quesid = response.result.quesid;
                            editvue.$data.subjectArr.push(convobj);
                        }
                    })
                    console.log(convobj);
                    this.addeditem.push(convobj);
                    //
                    this.timuxin='';
                    this.timudesc='';
                    this.itemlist=[['']];
                    this.newzu='';
                    this.itemA='';
                    this.itemB='';
                    this.itemC='';
                    this.itemD='';
                    this.daan='';
                    this.jieshi='';
                }
            },
            quxiao () {
                this.shownewtimu=false;
            }
        }
    })
    
    $("#send").click(function () { 
        var message = $("#query").val()
        $.ajax({
            url:"{{ url_for('tm.queryques') }}",
            type:"POST",
            data:{
                message:message
            },
            dataType: "json",
            success: function(response) {
                //$("#showgym").html(response);
                editvue.$data.optionsArr=response.result;

            }
        })
    })


    // 组织释放拖动后浏览器打开新窗口
    document.body.ondrop = function(event) {
    event.preventDefault();
    event.stopPropagation();
    };

    function savepaper() {
        var paper_title = $("#paper_title").val();
        var checkgongkai;
        if (editvue.$data.gongkai){
            checkgongkai = 5;
        } else {
            checkgongkai = 0;
        }
        if (paper_title.length<2){
            alert("试卷名称须不少于两个字");
            return;
        }
        var reg = new RegExp("[0-9]+$");
        var txt = window.location.href.match(reg);
        var score_sum = 0;
        editvue.$data.subjectArr.forEach((item)=>{
            if (parseInt(item.ques_value)>0){

                score_sum = score_sum + item.ques_value;
            }
            
        })
        console.log(editvue.$data.deleteditem);
        console.log(editvue.$data.addeditem);
        console.log(txt[0]);
        console.log(editvue.$data.subjectArr);
        console.log(paper_title);
        $.ajax({
            url:"{{ url_for('tm.savepaper') }}",
            type:"POST",
            data:{
                paper_title:paper_title,
                paper_id:txt[0],
                ques_num:editvue.$data.subjectArr.length,
                score_sum:score_sum,
                author_id:authoid,
                gongkai:checkgongkai,
                deleted_data:JSON.stringify(editvue.$data.deleteditem),
                paper_data:JSON.stringify(editvue.$data.subjectArr),
            },
            dataType: "json",
            success: function(response) {
                //$("#showgym").html(response);
                console.log(response.result);
                editvue.$data.deleteditem=[];
                editvue.$data.addeditem=[];
                //alert("保存成功！");
                window.location.href = "{{ url_for('tm.showtest') }}";

            }
        })
    // var person = prompt("确定要保存吗？");
    // if (person == null || person == "") {
    //     txt = "用户取消输入";
    // } else {
    //     txt = "你好，" + person + "！今天过得好吗？";
    // }
    //document.getElementById("demo").innerHTML = txt;
    }


</script>
{% endblock %}
