{% extends 'tmbase.html' %}

{% block header_part %}
{% endblock %}

{% block style_part %}
<style type="text/css">
    img[src=""],img:not([src]){
         opacity:0;
    }
     /*模态框*/
    .modal {
        position: fixed; /* 根据浏览器定位 */
        z-index: 1; /* 放在顶部 */
        left: 0;
        top: 0;
        width: 100%; /* 全宽 */
        height: 100%; /* 全高 */
        overflow: auto; /* 允许滚动 */
        background-color: rgba(0,0,0,0.4); /* 背景色 */
    }
    /*模态框内容*/
    .modal-content {
        display: flex; /*采用flexbox布局*/
        flex-direction: column; /*垂直排列*/
        position: relative;
        background-color: #fefefe;
        margin: 10% auto; /*距顶部15% 水平居中*/
        padding-top: 5px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #888;
        border-radius: 5px;
        width: 400px;
        animation: topDown 0.4s; /*自定义动画，从模态框内容上到下出现*/
    }
    @keyframes topDown {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }
    /*模态框头部*/
    .modal-header {
        display: flex; /*采用flexbox布局*/
        flex-direction: row; /*水平布局*/
        align-items: center; /*内容垂直居中*/
        justify-content: space-between; 
    }

    .modal-body {
        height:200px;
        display: flex; /*采用flexbox布局*/
        /*flex-direction: row; 水平布局*/
        /*align-items: center; 内容垂直居中*/
        padding-top: 0px;
        justify-content: space-between; 
    }
    .newfolder {
        height:40px;
        line-height: 40px;
        font-size:20px;
        font-weight: normal;
        padding-left:10px; 
        border:solid #a0f 1px;
        border-radius: 5px;
    }

    .fname {
        width:70%;
        height:30px;
        padding-right:30px;
        border:0px;
    }
    .newbtn{
        width:90px;
        height:40px;
        text-align:center;
        float:right;
        background-color: #a0f;
        border-radius: 0px 5px 5px 0px;
    }
    /*模态框头部*/
    .modal-footer {
        display: flex; /*采用flexbox布局*/
        flex-direction: row; /*水平布局*/
        align-items: center; /*内容垂直居中*/
        text-align: center;
        justify-content: space-between; 
    }
    /*关闭X 样式*/
    .close {
        color: #aaa;
        right: 20px;
        position: absolute;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
</style>

<div id="shouvue">
    <div id="myModal" class="modal" @click="wai($event)">
        <div id="smallmodal" class="modal-content" @click="neiwai($event)">
            <div class="modal-header">
                <h4 style="margin:0 auto">添加到收藏夹</h4>
                <span class="close" @click="guan">×</span>
            </div>
            <hr style="margin-bottom: 0px"/>
            <div class="modal-body">
                <div v-for="item in folderlist">
                    <div style="font-size: 20px;" class="form-check-label">
                        <input style="width:20px;height:20px;margin:5px;" type="checkbox" @change="changesel" v-model="item.selected" />
                        <span style="margin-left:10px;font-weight:normal;color:black;">{[item.folder_title]}</span>
                        <span style="right:10px;">{[item.item_num]}</span>
                    </div>
                    <br />
                </div>
            </div>
            <div class="newfolder" @click="beginshu">
                <span v-show="shuru" style="font-size:28px;">+</span>
                <span v-show="shuru">新建收藏夹</span>
                <div v-show="!shuru">
                    <input class="fname" v-model="newname"/>
                    <label class="newbtn" @click="xinjian">新建</label>
                </div>
            </div>
            <hr style="margin-top: 0px"/>
            <div class="modal-footer">
                <button v-show="favornum>0" @click="confirm" class="btn btn-primary" style="width:170px;height:40px;margin:0 auto;">确定</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_part %}
<div id="testvue">
    <div class="row">
    <div style="display:inline-block;margin:0 auto;"><h2>全部试卷</h2></div>
    <div style="margin:0 auto; height:20px;" class="col-md-12"></div>
    
    </div>
    <a v-if="['admin','researcher'].includes(usrrole)" href="/v1/tm/edittest/0" target="_blank"><button class="btn btn-primary">新建试卷</button></a><br/><br/>

    <div v-for="(dd,index) in tdata">
    <h4 style="margin-bottom: 10px;">{[dd.testpaper_title]}</h4>

    <span>作者: {[dd.testpaper_author]}</span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <label v-if="dd.favored<1">
    <button class="btn btn-default" @click="shoucang(index,dd.testpaperid)"><i class="fa fa-heart-o"></i> 收藏</button>
    <span>{[dd.favor_count]}</span>
    </label>
    <label v-else>
        <i class="fa fa-heart" style="color:red;"></i>
        <span> 已收藏 {[dd.favor_count]}</span>
    </label>
    <br/>
    <a :href="'/v1/tm/begintest/'+dd.testpaperid" target="_blank">开始测验</a>

        <a v-if="['admin','researcher'].includes(usrrole)" :href="'/v1/tm/edittest/'+dd.testpaperid" target="_blank">编辑试卷</a>
        <button v-if="['admin'].includes(usrrole)" @click="deletepaper(dd.testpaperid)">删除试卷</button><br/><br/>

    <br/><br/>
    </div>
</div>

{% endblock %}

{% block script_part %}
<script type="text/javascript">
usrid = {{current_user.id|tojson}};
usrname = {{current_user.name|tojson}};
urole = {{current_user.role|tojson}};
tedata = {{tdata|tojson}};

var shouvue = new Vue({
  el: '#shouvue',
  delimiters: ['{[', ']}'],
  data: {
    tid:0,
    yincang: true,
    shuru:true,
    newname:"",
    favornum:0,
    folderlist:[]
  },
  methods: {
    tanchu: function (tt) {
        console.log(tt);
        this.tid = tt;
        $.ajax({
            url:"{{ url_for('my.fetchfolder') }}",
            type:"POST",
            data:{
                userid:usrid,
                username:usrname
            },
            dataType: "json",
            success: function(response) {
                shouvue.$data.folderlist=response;
            }
        })
        document.getElementById("myModal").style.display = "block";
    },
    xinjian: function(){
        $.ajax({
            url:"{{ url_for('my.newfolder') }}",
            type:"POST",
            data:{
                folder_name:shouvue.$data.newname,
                userid:usrid,
                username:usrname
            },
            dataType: "json",
            success: function(response) {
                console.log(response.newfid);
                shouvue.$data.folderlist.push([response.newfid,shouvue.$data.newname,0,false]);
                shouvue.$data.newname = '';
                shouvue.$data.shuru = true;

            }
        })
    },
    guan: function () {
        this.shuru = true;
        document.getElementById("myModal").style.display = "none";
        
    },
    confirm: function () {
        $.ajax({
            url:"{{ url_for('my.addfavor') }}",
            type:"POST",
            data:{
                target_type:'试卷',
                target_id:shouvue.$data.tid,
                folderlist:JSON.stringify(shouvue.$data.folderlist)
            },
            dataType: "json",
            success: function(response) {
                shouvue.$data.newname = '';
                shouvue.$data.shuru = true;

            }
        })
        if (this.favornum>0){
            testvue.updatefavor(this.favornum);
        }
        
        document.getElementById("myModal").style.display = "none";
        
    },
    changesel: function(){
			this.favornum = 0;
			this.folderlist.forEach((ff)=>{
						if(ff.selected){
							this.favornum++;
						}
					})
		},
    beginshu: function () {
        this.shuru = false;
    },
    wai: function (e) {
        var mod = document.getElementById("myModal")
        if(e.target == mod) {
            this.shuru = true;
            document.getElementById("myModal").style.display = "none";
        }
        
    },
    neiwai: function (e) {
        var mod = document.getElementById("smallmodal")
        if(['modal-header','modal-body','modal-footer'].includes(e.target.className)) {
            this.shuru = true;
            
        }
        
    }
  }
})

var testvue = new Vue({
  el: '#testvue',
  delimiters: ['{[', ']}'],
  data: {
        ttle:'这首诗',
        curindex:-1,
        usrrole:urole,
        tdata:tedata
  },
  methods: {
    shoucang: function (ind,id) {
        this.curindex = ind;
        shouvue.tanchu(id);
    },
    updatefavor: function(num){
        this.tdata[this.curindex].favor_count += num;
        this.tdata[this.curindex].favored += num;
    },
    deletepaper: function(paperid){
        $.ajax({
            url:"{{ url_for('tm.deletepaper') }}",
            type:"POST",
            data:{
                paper_id:paperid
            },
            dataType: "json",
            success: function(response) {
                window.location.href = "{{ url_for('tm.showtest') }}";

            }
        })
    }
  }
})

function deletepaper(obj){
    var paperid = obj.className;
    $.ajax({
        url:"{{ url_for('tm.deletepaper') }}",
        type:"POST",
        data:{
            paper_id:paperid
        },
        dataType: "json",
        success: function(response) {
            window.location.href = "{{ url_for('tm.showtest') }}";

        }
    })
}   
    
</script>
{% endblock %}
